{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  Select Locations
{% endblock %}
{% block stylesheet %}
  <style></style>
{% endblock %}
{% block javascript %}
  <script>
    document.addEventListener('htmx:afterSwap', function () {
      const images = document.querySelectorAll('.image-container img')
    
      images.forEach((img) => {
        img.addEventListener('load', function () {
          img.classList.add('loaded')
        })
    
        // For cached images
        if (img.complete) {
          img.classList.add('loaded')
        }
      })
      const selectElements = document.querySelectorAll('select[name$="-locations"]')
    
      selectElements.forEach((select) => {
        new Choices(select, {
          allowHTML: true,
          removeItemButton: true
        })
      })
    })
    
    document.addEventListener('htmx:configRequest', function (event) {
      document.querySelector('button[type="submit"]').disabled = true
    })
    
    document.addEventListener('htmx:afterRequest', function (event) {
      document.querySelector('button[type="submit"]').disabled = false
    })
  </script>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="card shadow rounded-3 mb-4">
      <div class="card-body p-3 d-sm-flex justify-content-between align-items-center">
        <div class="p-3">
          <h5 class="text-primary mb-0">{{ main_product.name }} - All Variants</h5>
          <p class="htmx-indicator" id="htmx-indicator-loading-status">
            <img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /> Loading...
          </p>
        </div>
      </div>
      <div hx-trigger="load" hx-get="{% url 'supplier_products_3_table' main_product_id=main_product.id %}" hx-swap="innerHTML" id="product-variants-form" hx-indicator="#htmx-indicator-loading-status"></div>
    </div>
  </div>
{% endblock %}
