{% load static %}
{% block content %}
  <form method="post" hx-post="{% url 'supplier_products_3_table' main_product_id=main_product.id %}" hx-swap="outerHTML" hx-push-url="false">
    {% csrf_token %}
    <input type="hidden" name="main_product_id" value="{{ main_product.id }}" />
    <input type="hidden" name="seller_id" value="{{ seller.id }}" />
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Code</th>
          <th scope="col" class="text-nowrap">Add-Ons</th>
          <th scope="col">Select Locations</th>
        </tr>
      </thead>
      <tbody>
        {{ formset.management_form }}
        {% for form in formset %}
          <tr>
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
            <td>
              <div class="image-container" style="height: 100px; width: 100px;">
                <img class="img-fluid"
                  src="{% if main_product.image_del %}
                    {{ main_product.image_del }}
                  {% else %}
                    {% static 'customer_dashboard/img/logo.png' %}
                  {% endif %}" />
              </div>
            </td>
            <td>{{ form.product_code.value }}</td>
            <td>{{ form.add_ons.value }}</td>
            <td style="width: 100%;">
              {{ form.locations }}
              {% if form.locations.errors %}
                <small class="text-danger float-end">{{ form.locations.errors|join:', ' }}</small>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="p-3">
      <div class="d-sm-flex justify-content-end align-items-center">
        {% if formset.non_form_errors %}
          <small class="text-danger me-3">{{ formset.non_form_errors|join:', ' }}</small>
        {% endif %}
        <p class="htmx-indicator me-3" id="htmx-indicator-loading-status">
          <img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /> Loading...
        </p>
        {% if seller and locations %}
          <button class="btn btn-primary float-end" type="submit">Create Product Listings</button>
        {% elif seller %}
          <h5 class="text-danger me-3">No Locations Available</h5>
          {% comment %} <a href="" class="btn btn-primary float-end">Add Locations</a> {% endcomment %}
        {% else %}
          <h5 class="text-danger me-3">No Seller Selected</h5>
        {% endif %}
      </div>
    </div>
  </form>
  {% if not products %}
    {% include 'supplier_dashboard/snippets/page_under_construction.html' %}
  {% endif %}
{% endblock %}
