:root, [data-bs-theme=light] {
  --bs-primary: #018381;
  --bs-primary-rgb: 1,131,129;
  --bs-primary-text-emphasis: #003434;
  --bs-primary-bg-subtle: #CCE6E6;
  --bs-primary-border-subtle: #99CDCD;
  --bs-secondary: #044364;
  --bs-secondary-rgb: 4,67,100;
  --bs-secondary-text-emphasis: #021B28;
  --bs-secondary-bg-subtle: #CDD9E0;
  --bs-secondary-border-subtle: #9BB4C1;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #018381;
  --bs-btn-border-color: #018381;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #016F6E;
  --bs-btn-hover-border-color: #016967;
  --bs-btn-focus-shadow-rgb: 217,236,236;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #016967;
  --bs-btn-active-border-color: #016261;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #018381;
  --bs-btn-disabled-border-color: #018381;
}

.btn-outline-primary {
  --bs-btn-color: #018381;
  --bs-btn-border-color: #018381;
  --bs-btn-focus-shadow-rgb: 1,131,129;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #018381;
  --bs-btn-hover-border-color: #018381;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #018381;
  --bs-btn-active-border-color: #018381;
  --bs-btn-disabled-color: #018381;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #018381;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #044364;
  --bs-btn-border-color: #044364;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #033955;
  --bs-btn-hover-border-color: #033650;
  --bs-btn-focus-shadow-rgb: 217,227,232;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #033650;
  --bs-btn-active-border-color: #03324B;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #044364;
  --bs-btn-disabled-border-color: #044364;
}

.btn-outline-secondary {
  --bs-btn-color: #044364;
  --bs-btn-border-color: #044364;
  --bs-btn-focus-shadow-rgb: 4,67,100;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #044364;
  --bs-btn-hover-border-color: #044364;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #044364;
  --bs-btn-active-border-color: #044364;
  --bs-btn-disabled-color: #044364;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #044364;
}

