/* 
Buttons
*/
.btn {
    transition:all .2s ease-in-out;
}

.btn:hover {
    transform:translateY(-1px);
}
.btn-check:focus + .btn:hover, .btn:focus:hover, .btn.focus:hover, .btn:active:hover, .btn.active:hover {
    transform:translateY(0);
}

.btn-primary.shadow {
    box-shadow:0 6px 16px -8px var(--bs-primary) !important;
}

 /* Custom Button Styles */
.bg-blue {
    background-color: #0583C7;
}

.btn-blue {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0583C7;
    --bs-btn-border-color: #0583C7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #036da6;
    --bs-btn-hover-border-color: #036da6;
    --bs-btn-focus-shadow-rgb: 217,236,236;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #035f91;
    --bs-btn-active-border-color: #035f91;
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4a8cad;
    --bs-btn-disabled-border-color: #4a8cad;
}

.bg-orange {
    background-color: #F39913;
}

.btn-orange {
    --bs-btn-color: #000;
    --bs-btn-bg: #F39913;
    --bs-btn-border-color: #F39913;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #df8d11;
    --bs-btn-hover-border-color: #df8d11;
    --bs-btn-focus-shadow-rgb: 217,236,236;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #d4850e;
    --bs-btn-active-border-color: #d4850e;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #d6a966;
    --bs-btn-disabled-border-color: #d6a966;
}

/* Default styles for the radio buttons and labels within .btn-group */
.btn-group {
    background-color: #F2F2F2;
    border-radius: 8px; 
}

.btn-group .btn-check + .btn {
    background-color: #F2F2F2; 
    color: var(--bas-secondary-color); 
    border: 1px solid #F2F2F2; 
}
  
.btn-group .btn-check:checked + .btn {
    background-color: #fff; 
    color: rgb(var(--bs-primary-rgb)); 
    border: 1px solid #F2F2F2; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
}
  
.btn-group .btn-check + .btn,
.btn-group .btn-check:checked + .btn {
    transition: background-color 0.3s, color 0.3s;
}

.card .color-card-header[data-bs-toggle=collapse]::after {
    color: inherit !important;
}

/* 
Forms
*/
.form-control::placeholder {
    opacity: .7;
}

.form-control::placeholder, .form-control:focus::placeholder {
    transition:all .2s ease
}

html:not([dir=rtl]) .form-control:not([readonly]):focus::placeholder {
    transform:translateX(5px)
}

[dir=rtl] .form-control:not([readonly]):focus::placeholder {
    transform:translateX(-5px)
}

.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

/* Range */
.form-range-primary {
    -webkit-appearance: none;
    appearance: none;
    accent-color: var(--bs-primary);
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.form-range-primary::-webkit-slider-thumb {
    background: var(--bs-primary);
}

.form-range-primary:-moz-range-thumb, .form-range-primary::-moz-range-progress {
    background: var(--bs-primary);
}

.form-range-primary::-ms-thumb, .form-range-primary::-ms-fill-lower {
    background: var(--bs-primary);
}

.form-range-primary::-webkit-slider-thumb:active {
    background-color: var(--bs-primary);
}
.form-range-primary::-webkit-slider-thumb,
.form-range-primary:focus::-webkit-slider-thumb, 
.form-range-primary:focus::-moz-range-thumb,
.form-range-primary:focus::-ms-thumb {
    box-shadow: var(--bs-primary);
}

/* Default styles for the form-check-label */

  .image-select .form-check-label {
    display: block;
    cursor: pointer;
  }
  
  /* Styles for the checked state */
  .image-select  .form-check-input:checked + .form-check-label img {
    border-color: rgb(var(--bs-primary-rgb));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  /* Styles for the image inside the label */
  .image-select .form-check-label img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
  }

/* 
5-star rating scale input
Assumes font-awesome is available and that the list goes from Best to Worst
*/
.star-rating {
    direction: rtl;
    display: inline-flex;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
}
.star-rating input[type="radio"]:checked ~ label {
    color: #f5c518;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #f5c518;
}

/*
Radio Select
*/
.downstream-radio .form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.downstream-radio .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    transition: background-color 0.1s;
    cursor: pointer;
}
  
.downstream-radio .form-check-label {
    margin-left: 0.5em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

/* 
Image Containers
Used for loading in images with a fade-in effect
*/
.image-container {
    width: 100%;
    height: 250px; /* Set a fixed height for the image container */
    overflow: hidden;
}
  
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensure the image covers the container while maintaining aspect ratio */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
  
.image-container img.loaded {
    opacity: 1;
}

.img-container-sm {
    width: 100px;
    height: 100px;
}

/* Image Carousel */
.carousel-indicators button[data-bs-target] {
    width: 50px;
    height: 100%;
    border: none;
    border-radius: 8px;
}
.carousel-indicators button img{
    object-fit: cover;
    height: 50px;
    border-radius: 8px;
}
.carousel-indicators {
    opacity: 0.8;
}
.carousel-indicators button.active {
    opacity: 1;
    border: 1px solid var(--bs-primary);
}
.carousel-indicators {
    position: static;
}

/* 
Lead Cards
Used for showing a button on hover
*/
.lead-card {
    position: relative;
}

.lead-card:hover {
    background-color: rgba(var(--bs-body-bg-rgb), 0.5);
}

.lead-card:active {
    background-color: var(--bs-card-bg);
}

.lead-card .overlay {
    position:absolute;
    left:0; top:0; bottom:0; right:0;
}
  
.lead-card .inner {
    position:relative;
    pointer-events: none;
}
  
.lead-card .inner a {
    pointer-events: all;
}

.lead-card .card-action {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}

.lead-card:hover .btn {
    display: block;
}

/* HTMX Loading Indicator */

.htmx-indicator {
    display: none;
}

.htmx-request .htmx-indicator {
    display: inline;
    /* animation: flash 1s infinite; */
}

.htmx-request.htmx-indicator {
    display: inline;
    /* animation: flash 2.0s infinite; */
}

#htmx-indicator-page {
    animation: flash 2.0s infinite;
}

.htmx-request ~ .htmx-loading-hide {
    display: none;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
gmp-map {
    height: 100%;
}
.accept-button {
    background: var(--bs-success);
}
.change-button {
    background: var(--bs-danger);
}
.complete-button {
    background: var(--bs-success);
}
@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.svg-loader {
    width: 20px;
    height: 20px;
}

.navbar-search-dropdown {
    width: 100%;
}

.navbar-search-dropdown .svg-loader {
    margin-left: 5px;
    font-size: x-small;
}

@media (min-width: 768px) {
    .navbar-search-dropdown {
        width: auto;
        min-width: 400px;
    }
}

.clickable-row {
    transition: background-color 0.3s ease;
}
.clickable-row:hover {
    cursor: pointer;
}

/* Autocomplete CSS */
.my-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.my-dropdown-item {
    cursor: pointer;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}
.header-sort-icon-up::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
}
.header-sort-icon-down::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
}
.header-sort-icon-up::after {
    border-bottom: 5px solid black; /* Arrow up */
}
.header-sort-icon-down::after {
    border-top: 5px solid black; /* Arrow down */
}
.form-select[multiple], .form-select[size]:not([size="1"]) {
    min-height: 180px;
}

/* Intercom */
.intercom-container {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: box-shadow 0.1s ease;
    margin: 8px 0;
    box-shadow: 0 0 4px transparent;
}
.intercom-container > img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: auto;
}
.intercom-interblocks-link-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intercom-interblocks-link-author {
    font-size: 12px;
    color: #6c757d;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 8px;
}
.intercom-interblocks-link-author-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.intercom-interblocks-link-author-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intercom-interblocks-link-author-avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.intercom-interblocks-link-author-name {
    font-weight: 600;
}

/* Cart */
.subtitle {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #0F1B22;
}
.order-descriptor {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #0F1B22;
}
.total-price-badge {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 22px;
    background: rgba(1, 131, 129, 0.1);
    border: 1px solid #020F16;
    border-radius: 16px;
    /* width: 232px; */
    height: 33px;

}
.total-price {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #018381;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.cart-item-seller-name {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #020F16;
}
.cart-item-seller-logo {
    max-height: 30px;
    width: auto;
}
.cart-item-placement-button {
    background: rgba(2, 15, 22, 0.05);
}

/* Bundle Popup */
/* Firefox */
input.downstream-number {
    -moz-appearance: textfield !important;
    border-style: solid !important;
    border-width: 3px !important;
    border-radius: 10px !important;
    width: 100px !important;
  }
  input.downstream-number:focus input.downstream-number {
    border-color: transparent !important;
    border-width: 1 !important;
    outline-width: 3px !important;
    outline-style: solid !important;
    outline-color: rgb(67, 250, 151) !important;
  }
  
  .stack {
    position: relative;
    width: 400px;
    height: 100px;
  }
  
  .stack-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Stacks on top */
  }
  
  .stack-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Stacks behind */
  }
  
  .form-check-input.downstream-checkbox {
    border-color: var(--bs-primary) !important;
    width: 30px !important;
    height: 30px !important;
  }
  .form-check-input.downstream-checkbox :checked {
    background-color: var(--bs-primary) !important;
  }