{% extends 'dashboards/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Seller Location Dashboard
{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-primary py-2">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Total Seller Locations</span></div>
                            <div class="text-light fw-bold h5 mb-0"><span>{{unique_seller_locations_count}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-success py-2">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col me-2">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Increase since Last Month</span></div>
                            <div class="text-light fw-bold h5 mb-0"><span>{{percent_change_seller_locations|floatformat:2}}%</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-info py-2">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col me-2">
                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Active Seller Locations</span></div>
                            <div class="text-light fw-bold h5 mb-0"><span>{{seller_locations_with_processed_orders}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-left-warning py-2">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col me-2">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Avg. Revenue Per Seller Location</span></div>
                            <div class="text-light fw-bold h5 mb-0"><span>${{average_revenue_per_seller_location|floatformat:2}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark-subtle d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Count of Seller Locations (by Month)</h6>
                        <div class="dropdown no-arrow">
                            <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                <i class="fas fa-ellipsis-v text-gray-400"></i>
                            </button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p>
                                <a class="dropdown-item" href="#">&nbsp;Action</a>
                                <a class="dropdown-item" href="#">&nbsp;Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="sellerLocationsChart" width="400" height="200"></canvas>
                        <script>
                            var ctx = document.getElementById('sellerLocationsChart').getContext('2d');
                            var sellerLocationsChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: {{ seller_locations_by_month_labels|safe }},
                                    datasets: [{
                                        label: 'Seller Locations',
                                        data: {{ seller_locations_by_month_data|safe }},
                                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                        borderColor: 'rgba(54, 162, 235, 1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark-subtle d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Avg. Revenue Per Seller Location (by Month)</h6>
                        <div class="dropdown no-arrow">
                            <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                <i class="fas fa-ellipsis-v text-gray-400"></i>
                            </button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p>
                                <a class="dropdown-item" href="#">&nbsp;Action</a>
                                <a class="dropdown-item" href="#">&nbsp;Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="avgRevenueChart" width="400" height="200"></canvas>
                        <script>
                            var ctx = document.getElementById('avgRevenueChart').getContext('2d');
                            var avgRevenueChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: {{ avg_revenue_per_seller_location_by_month_labels|safe }},
                                    datasets: [{
                                        label: 'Avg. Revenue',
                                        data: {{ avg_revenue_per_seller_location_by_month_data|safe }},
                                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                                        borderColor: 'rgba(255, 159, 64, 1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}