{% load static %}
{% load tz %}
{% load humanize %}
{% load sales_stream_tags %}
{% with order=item.order %}
<div class="row cart-item mb-2">
    <div class="col">
        <div class="card content {% if order.order_group.parent_booking or order.order_group.related_bookings.exists %}border-primary rounded{% endif %}">
            <div class="card-body">
                <div class="row">
                    <div class="col cart-body">
                        <div class="d-flex row">
                            <div class="col-auto">
                                <div class="row flex-nowrap mb-2 mb-xl-0">
                                    <div class="col-auto">
                                        {% with main_product=item.main_product %}
                                        <img class="img-thumbnail img-container img-fluid"
                                            alt="Product image"
                                            width="138"
                                            height="95"
                                            src="{% if main_product.images.first %}
                                                {{ main_product.images.first.image.url }}
                                            {% elif main_product.main_product_category.icon %}
                                                {{ main_product.main_product_category.icon.url }}
                                            {% else %}
                                                {% static 'customer_dashboard/img/logo.png' %}
                                            {% endif %}" />
                                        {% endwith %}
                                    </div>
                                    <div class="col text-truncate" id="details-{{loopcount}}">
                                        <h3 class="subtitle mb-0">{{ item.main_product.name }}{% if order.order_group.agreement %}
                                            <a class="btn btn-link ps-2 p-0 text-primary" href="{{ order.order_group.agreement.url }}" target="_blank" download><i class="fas fa-download"></i></a>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                    <a class="btn btn-link ps-2 p-0" role="button" href="/admin/api/order/{{order.id}}/change/" target="_blank"><i class="fas fa-link"></i></a>
                                            {% endif %}
                                        </h3>
                                        <p class="mb-1 order-descriptor">Service date: <span class="fw-light">{{ order.end_date }}</span>
                                            {% if not form %}
                                            <button class="btn btn-link edit-start-date ps-2 p-0 text-primary" id="btn-{{loopcount}}" type="button" hx-post="{% url 'customer_cart_date_edit' order_id=order.id %}" hx-vals='{"loopcount": "{{loopcount}}"}' hx-target="closest .cart-item" hx-swap="outerHTML" hx-indicator="#htmx-indicator-edit-date-{{loopcount}}">
                                                <i class="fas fa-edit" id="edit-start-date-icon-{{loopcount}}"></i>
                                                <span class="htmx-indicator" id="htmx-indicator-edit-date-{{loopcount}}"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                                            </button>
                                            {% endif %}
                                        </p>
                                        <div id="changeDateForm-{{loopcount}}">
                                        {% if form %}
                                            <div class="row">
                                                <div class="col-auto">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <form hx-post="{% url 'customer_cart_date_edit' order_id=order.id %}" hx-vals='{"loopcount": "{{loopcount}}", "save": true}' hx-target="closest .cart-item" hx-swap="outerHTML" hx-indicator="#htmx-indicator-date-save-{{loopcount}}">
                                                                {% csrf_token %}
                                                                {% for field in form.visible_fields %}
                                                                <div class="mb-3">
                                                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}{{ field.label_suffix }}</label>
                                                                    {{ field }}
                                                                    {% if field.help_text %}
                                                                    <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                                                    {% endif %}
                                                                    {% if field.errors %}
                                                                    <small class="text-danger">{{ field.errors }}</small>
                                                                    {% endif %}
                                                                </div>
                                                                {% endfor %}
                                                                <div class="d-flex flex-row-reverse">
                                                                    <button class="btn btn-primary" type="submit" name="save_start_button" style="margin-top: 12px;">
                                                                        Save
                                                                        <span class="htmx-indicator" id="htmx-indicator-date-save-{{loopcount}}"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                                                                    </button>
                                                                    <button class="btn btn-secondary" type="button" name="cancel_start_button" style="margin-top: 12px; margin-right: 10px;" hx-post="{% url 'customer_cart_date_edit' order_id=order.id %}" hx-vals='{"loopcount": "{{loopcount}}", "cancel": true}' hx-vals='{"loopcount": "{{loopcount}}"}' hx-target="closest .cart-item" hx-swap="outerHTML" hx-indicator="#htmx-indicator-date-cancel-{{loopcount}}" hx-trigger="click">
                                                                        Cancel
                                                                        <span class="htmx-indicator" id="htmx-indicator-date-cancel-{{loopcount}}"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                        </div>
                                        <p class="mb-1 order-descriptor">Order type: <span class="fw-light">{{ order.order_type }}</span></p>
                                        {% include 'customer_dashboard/snippets/order_group_po.html' with order_group=order.order_group %}
                                        {% if request.user.is_staff %}
                                        <p class="mb-1 order-descriptor text-truncate">Created by: <span class="fw-light">{% if order.created_by %}{{ order.created_by.full_name }}{% else %}N/A{% endif%} on {{ order.created_on|timezone:"America/Chicago" }} (CT)</span></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>
                            <div class="col-xl-auto col-md-9 col-12  mb-1 mb-md-0">
                                <div class="mb-3">
                                    <p class="text-end mb-1 order-descriptor pe-3">Est. Subtotal: {{ item.subtotal|currency }}</p>
                                    {% comment %} <p class="text-end mb-1 order-descriptor fw-light pe-3">Delivery: {{ order.order_group.delivery_fee|currency }}</p>
                                    <p class="text-end mb-1 order-descriptor fw-light pe-3">Removal: {{ order.order_group.removal_fee|currency }}</p>
                                    <p class="text-end mb-1 order-descriptor fw-light pe-3">Rental Protection Plan: {{ order.get_rpp|currency }}</p> {% endcomment %}
                                    <p class="text-end mb-1 order-descriptor fw-light pe-3">Est. Tax: {{ item.tax|currency }}</p>
                                </div>
                                <div class="card border-dark text-primary w-100" style="border-radius: 18px; background-color: rgba(var(--bs-primary-rgb), 0.1);">
                                    <div class="card-body py-1 d-flex flex-row justify-content-between">
                                        <small class="me-2"><strong>Estimated Total</strong></small>
                                        <small><strong>{{ item.total|currency }}</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto m-2">
                                <div class="d-flex flex-md-column flex-row justify-content-center">
                                        {% comment %} {% if request.user.is_staff %}
                                            <button class="btn btn-danger mb-md-2 me-md-0 me-3" data-order-group-id="{{ order.order_group.id }}" hx-indicator=".htmx-indicator-card" hx-trigger="click" hx-get="{% url 'customer_order_group_edit_attachments' order.order_group.id %}" hx-target="#edit-attachments-modal" hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#edit-attachments-modal" title="Edit Attachments">
                                                <i class="far fa-thumbs-down me-1"></i>&nbsp;Lost
                                            </button>
                                        {% endif %} {% endcomment %}
                                        <button class="btn btn-outline-danger button-remove-item" id="button-remove-item_{{ order.order_group.id }}" type="button"
                                        data-id="{{ order.order_group.id }}" data-orderid="{{ order.id }}" data-price="{{ item.total }}" data-countid="count-{{ cart_address.address.id }}"
                                        hx-target="closest .cart-item" hx-trigger="onRemoveClick" hx-swap="outerHTML swap:1s"
                                        onClick="event.stopPropagation();
                                        Swal.fire(
                                            {title: 'Are you sure?', text:'This will delete the Order from your Cart.', icon: 'question', confirmButtonText: 'Delete'}
                                            ).then((result)=>{
                                                if(result.isConfirmed){removeItemFromCart(this);}
                                                })">
                                                <i class="fas fa-trash-alt"></i>&nbsp;
                                                Delete
                                                <span class="htmx-indicator" id="htmx-indicator-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                                            </button>
                                    </div>
                                </div>
                                <script>
                                    var should_reload = {{ reload|yesno:"true,false" }};
                                    document.body.addEventListener("htmx:afterSettle", function (event){
                                        if ( should_reload ) {
                                            setTimeout(function(){
                                                location.reload();
                                            }, 20);
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="d-flex align-items-center">
                                <img class="cart-item-seller-logo img-container-sm me-2"
                                    alt="Seller logo"
                                    width="50"
                                    height="50"
                                    src="{% if order.order_group.seller_product_seller_location.seller_location.location_logo_image %}
                                        {{ order.order_group.seller_product_seller_location.seller_location.location_logo_image.url }}
                                    {% else %}
                                        {% static 'customer_dashboard/img/defualt_logo.png' %}
                                    {% endif %}" />
                                <p class="cart-item-seller-name mb-0 text-truncate">{{ order.order_group.seller_product_seller_location.seller_location.name }}</p>
                                {% if item.is_bundled %}
                                <span class="bg-blue badge text-white ms-2 px-3"><small>Bundled Freight</small></span>
                                {% endif %}
                                <button class="btn btn-sm btn-light cart-item-placement-button ms-5 rounded-3"
                                onclick="showPlacementDetailsModal('{{  order.order_group.id }}', '{{  order.order_group.placement_details|default_if_none:"" }}');"><i class="fas fa-map-marker-alt" style="color: #020F1699"></i></button>
                                <button class="btn btn-sm btn-light cart-item-placement-button rounded-3 text-nowrap" style="color: #020F1699" data-order-group-id="{{ order.order_group.id }}" hx-indicator=".htmx-indicator-card" hx-trigger="click" hx-get="{% url 'customer_order_group_edit_attachments' order.order_group.id %}" hx-target="#edit-attachments-modal" hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#edit-attachments-modal" title="Edit Attachments">
                                    <i class="fas fa-paperclip"></i>&nbsp;Attached (<span id="cart-attachments-{{order.order_group.id}}">{{ order.order_group.attachments.count }}</span>)
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% if order.order_group.parent_booking %}
                    {% if order.order_group.parent_booking_id in cart_address.parent_bookings %}
                    <div class="position-absolute start-50 translate-middle bg-white border border-primary badge rounded-circle" style="top: -5px !important;">
                        <span class="text-primary"><i class="far fa-link"></i></span>
                    </div>
                    {% else %}
                    <div class="position-absolute bg-white border border-primary badge rounded-pill" style="left: 17px; top: 130px;">
                        <a href="{% url 'customer_order_group_detail' order.order_group.parent_booking_id %}" class="text-primary text-decoration-none" title="Click to view parent booking details.">View Related Booking</a>
                    </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endwith %}