{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Select Supplier
{% endblock %}
{% block stylesheet %}
    <style></style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Shopping Cart</h3>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        <img class="img-thumbnail img-fluid" alt="green plastic trash bin beside white wall" width="67" height="96" src="assets/img/photo-1619155442906-c8030bd86f49.jpg" /><img class="img-thumbnail img-fluid" alt="silver mercedes benz emblem on blue surface" width="138" height="95" src="assets/img/photo-1599305445671-ac291c95aaa9.jpg" />
                    </div>
                    <div class="col">
                        <h3>{{ order_group.spsl.sp.product.main_product.name }}</h3>
                        <p>{{ order_group.user_address.formatted_address() }}</p>
                        <p>{{ order_group.start_date }} to {{ order_group.end_date }}</p>
                    </div>
                    <div class="col-auto">
                        <p class="text-end">{{ price }}</p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-outline-danger" type="button" data-bs-target="#modal-remove-item" data-bs-toggle="modal">Remove</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 12px;">
            <div class="col">
                <h4 class="float-end"><strong>Subtotal: {{ subtotal }}</strong></h4>
            </div>
        </div><button class="btn btn-primary float-end" type="button">Checkout</button>
    </div>
{% endblock %}
