{% load humanize %}
<!-- MESSAGES -->
{% include 'supplier_dashboard/snippets/djangomessages.html' %}
<!-- MESSAGES -->
{% if cart_count %}
    <h3 id="cart-title" class="text-dark mb-1" data-cart-count="{{ cart_count }}" hx-swap-oob="true">Shopping Cart ({{ cart_count }})</h3>
{% endif %}
{% if subtotal %}
    <h4 id="cart-subtotal" class="float-end" data-subtotal="{{ subtotal }}" hx-swap-oob="true"><strong>Subtotal: ${{ subtotal|floatformat:2|intcomma }}</strong></h4>
{% endif %}
{% if user_address and groupcount %}
    <span id="count-{{ user_address }}" class="badge text-bg-secondary ms-2 me-2" data-count="{{ groupcount }}" hx-swap-oob="true">{{ groupcount }} item{{ groupcount|pluralize }}</span>
{% endif %}
