{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Checkout
{% endblock %}
{% block javascript %}
    <script>
        const checkoutModal = document.getElementById("checkout-orders-modal");
        const addCardModal = document.getElementById("add-card-modal");
        let checkoutItemChanged = false;
        // listen for htmx afterSettle event.
        document.body.addEventListener("htmx:afterSettle", function (event) {
            checkoutItemChanged = true;
        });
        checkoutModal.addEventListener("hidden.bs.modal", (event) => {
            if (checkoutItemChanged) {
                // reload the page to reflect the changes
                location.reload();
            }
        });
        function removeItemFromCart(el) {
            // Get current query params.
            let queryParams = new URLSearchParams(window.location.search);
            // Get id of item
            let id = el.getAttribute("data-id");
            queryParams.set("id", encodeURIComponent(id));
            // Get cart-subtotal
            let cartSubtotal = document.getElementById("cart-subtotal");
            let subtotal = parseFloat(cartSubtotal.getAttribute("data-subtotal"));
            // let subtotal = parseFloat(cartSubtotal.innerText.replace("$", "").replace(",", ""));
            queryParams.set("subtotal", encodeURIComponent(subtotal));
            // get price of item
            let price = parseFloat(el.getAttribute("data-price"));
            queryParams.set("price", encodeURIComponent(price));
            // queryParams.set("price", encodeURIComponent(el.previousElementSibling.innerText.replace("$", "").replace(",", "")));
            // get count of items in address group
            let groupcountId = el.getAttribute("data-countid");
            if (groupcountId) {
                let addressOrderCountEl = document.getElementById(groupcountId);
                let addressOrderCount = parseInt(addressOrderCountEl.getAttribute("data-count"));
                queryParams.set("groupcount", encodeURIComponent(addressOrderCount));
            }
            // Get current number of cart-item elements
            let cartItems = document.querySelectorAll(".cart-item");
            queryParams.set("count", encodeURIComponent(cartItems.length));
            // Create url for removing item
            const removeItemUrl = "{% url 'customer_new_order_5' %}?" + queryParams.toString();
            // Get if of button for htmx
            let buttonId = el.getAttribute("id");
        
            // update hx-get attribute of date filter and tab urls
            htmx.find(`#${buttonId}`).setAttribute("hx-delete", removeItemUrl);
            // hx-delete="{% url 'customer_new_order_5' %}?id={{ item.order_group.id }}&subtotal={{ subtotal }}&price={{ item.price }}"
            // force htmx to process the new hx-get attributes
            htmx.process(`#${buttonId}`);
            // trigger onRemoveClick event
            htmx.trigger(el, "onRemoveClick");
        }

        // BasisTheory
        let bt;
        let cardNumberElement;
        let cardExpirationDateElement;
        let cardVerificationCodeElement;
        function disableAddCardSaveButton() {
            // Disable card_submit button
            document.getElementById("card_submit").disabled = true;
            // Show htmx indicator by adding a class to the body htmx-request
            document.getElementById("add-card-spinner").classList.add("htmx-request");
        }
        function enableAddCardSaveButton() {
            // Enable card_submit button
            document.getElementById("card_submit").disabled = false;
            // Hide htmx indicator by removing a class to the body htmx-request
            document.getElementById("add-card-spinner").classList.remove("htmx-request");
        }

        async function submitCard () {
            try {
                disableAddCardSaveButton();

                const token = await bt.tokens.create({
                    type: 'card',
                    data: {
                        number: cardNumberElement,
                        expiration_month: cardExpirationDateElement.month(),
                        expiration_year: cardExpirationDateElement.year(),
                        cvc: cardVerificationCodeElement,
                    }
                });
                // Create Payment Method with token.id
                // request.get_full_path
                // body: JSON.stringify({
                //    token: "token.id",
                //    next: window.location.pathname
                // })
                const data = new URLSearchParams();
                data.append('token', 'token.id');
                data.append('next', window.location.pathname);
                const response = await fetch("{% url 'customer_new_payment' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: data.toString()
                });
                if (response.ok) {
                    // reload the page to reflect the changes
                    location.reload();
                } else {
                    console.error("Failed to create payment method");
                    // Show popup with error message
                    Swal.fire({
                        title: 'Error!',
                        text: 'Failed to create payment method',
                        icon: 'error',
                        confirmButtonText: 'Ok'
                    }).then((result) => {
                        enableAddCardSaveButton();
                    });
                }
            } catch (error) {
                console.error(error);
            }
        }

        async function mountCardElements() {
            // Check if Elements are already mounted
            if (cardNumberElement && cardExpirationDateElement && cardVerificationCodeElement) {
                return;
            }
            disableAddCardSaveButton();
            if (!bt) {
                bt = await BasisTheory.init("{{ BASIS_THEORY_API_KEY }}", { elements: true });
            }
            // Creates Elements instances
            cardNumberElement = bt.createElement('cardNumber', {
                targetId: 'myCardNumber' // (custom) used for tracking validation errors
            });
            cardExpirationDateElement = bt.createElement('cardExpirationDate', {
                targetId: 'myCardExpiration'
            });
            cardVerificationCodeElement = bt.createElement('cardVerificationCode', {
                targetId: 'myCardVerification'
            });

            // Mounts Elements in the DOM in parallel
            await Promise.all([
                cardNumberElement.mount('#cardNumber'),
                cardExpirationDateElement.mount('#cardExpirationDate'),
                cardVerificationCodeElement.mount('#cardVerificationCode'),
            ]);

            // Binds card brand to verification code element
            cardNumberElement.on('change', ({ cardBrand }) => {
                cardVerificationCodeElement.update({ cardBrand });
            });

            document.getElementById("card_submit").addEventListener("click", submitCard);
            enableAddCardSaveButton();
        }
        addCardModal.addEventListener("shown.bs.modal", (event) => {
            if (event.target === addCardModal) {
                mountCardElements();
            }
        });

        window.addEventListener("load", async () => {
            try {
                // Initialize BasisTheory SDK with Elements.
                bt = await BasisTheory.init("{{ BASIS_THEORY_API_KEY }}", { elements: true });
            } catch (e) {
              // handle errors that could happen while loading elements script
                console.error("Initialize BasisTheory:", e);
            }
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid mb-4" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        <div class="d-sm-flex justify-content-between align-items-center mb-2">
            <h3 class="text-dark mb-0">Checkout</h3>
            {% if request.user.is_staff and not is_impersonating %}
                <span class="badge text-bg-primary rounded-pill ms-2 fs-6">
                    {% if user_address.user_group.name %}
                        {{ user_address.user_group }}
                    {% else %}
                        USER: {{ user_address.user.full_name }}
                    {% endif %}
                </span>
            {% endif %}
        </div>
        <h6 class="text-muted mb-2">Complete your Order{{ cart|length|pluralize }} for {{ user_address.formatted_address }}</h6>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order Summary<button class="btn btn-link float-end" type="button" data-bs-target="#checkout-orders-modal" data-bs-toggle="modal">Details</button></h4>
                <h6 class="text-muted card-subtitle mb-2">{{ cart|length }} item{{ cart|length|pluralize }} in Cart</h6>
                {% if request.user.is_staff and not is_impersonating and needs_approval %}
                <div class="row">
                    <div class="col">
                        <p class="fw-bold text-danger" style="margin-bottom: 0px;">Approval Needed</p>
                    </div>
                    <div class="col">
                        <p style="margin-bottom: 0px;">Order will be auto approved on checkout.</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col">
                        <p style="margin-bottom: 0px;">Subtotal</p>
                    </div>
                    <div class="col">
                        <p id="cart-subtotal" style="margin-bottom: 0px;" data-subtotal="{{ subtotal }}">${{ subtotal|floatformat:2|intcomma }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="margin-bottom: 0px;">Discounts</p>
                    </div>
                    <div class="col">
                        <p style="margin-bottom: 0px;">${{ discounts|floatformat:2|intcomma }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p style="margin-bottom: 0px;">
                            <strong>Pre-tax Subtotal</strong>
                        </p>
                    </div>
                    <div class="col">
                        <p style="margin-bottom: 0px;">
                            <strong>${{ pre_tax_subtotal|floatformat:2|intcomma }}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <h4 class="card-title">Access Details</h4>
                <h6 class="text-muted card-subtitle mb-2">Let the suppliers know how to access your property/job site once they arrive</h6>
                <textarea form="checkoutForm" rows="4" class="form-control" name="access_details">{% if user_address.access_details %}{{ user_address.access_details }}{% endif %}</textarea>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-header">
                <h4 class="card-title">Select Payment Method<button class="btn btn-primary btn-sm float-end" type="button" data-bs-target="#add-card-modal" data-bs-toggle="modal"><i class="fas fa-plus-square fa-sm text-white-50"></i>&nbsp;Add Card</button></h4>
            </div>
            <div class="card-body">
                {% for payment_method in payment_methods %}
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check">
                                {% if forloop.first %}
                                    <input form="checkoutForm" class="form-check-input" type="radio" name="payment_method" id="flexRadio{{ forloop.counter }}" value="{{ payment_method.id }}" required>
                                {% else %}
                                    <input form="checkoutForm" class="form-check-input" type="radio" name="payment_method" id="flexRadio{{ forloop.counter }}" value="{{ payment_method.id }}">
                                {% endif %}
                                <div class="row">
                                    <div class="col">
                                        <h4 style="margin-bottom: 0px;">{% if payment_method.card_brand %}{{ payment_method.card_brand }}{% else %}Card{% endif %} XXXX{% if payment_method.card_number %}{{ payment_method.card_number|slice:"-4:" }}{% endif %}</h4>
                                    </div>
                                    <div class="col">
                                        <p class="text-end" style="margin-bottom: 0px;">Expires {{ payment_method.card_exp_month }}/{{ payment_method.card_exp_year }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if form_error or form_msg %}
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                {% if form_error %}
                    <h4 class="card-title">Error Details</h4>
                    <p class="text-danger">{{ form_error }}</p>
                {% endif %}
                {% if form_msg %}
                    <h4 class="card-title">Help Details</h4>
                    <p class="text-success">{{ form_msg }}</p>
                {% endif %}
            </div>
        </div>
        {% endif %}
        <form id="checkoutForm" action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="subtotal" value="{{ subtotal }}">
            {% comment %} <button class="btn btn-primary mt-2" type="submit" name="form_submit" id="form_submit">Save</button> {% endcomment %}
            <button id="form_submit" class="btn btn-primary float-end" type="submit" name="form_submit" style="margin-top: 10px;">Checkout</button>
        </form>
    </div>
{% endblock %}
{% block modals %}
    <div class="modal fade" role="dialog" tabindex="-1" id="checkout-orders-modal" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cart Details</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Order in the Cart for {{ user_address.formatted_address }}</p>
                    <div class="card" style="background: var(--bs-card-cap-bg);">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    {% for item in cart.values %}
                                        <div class="row cart-item">
                                            <div class="col-auto">
                                                <img class="img-thumbnail img-fluid"
                                                    alt="Product category image"
                                                    width="67"
                                                    height="96"
                                                    src="{% if item.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.image %}
                                                        {{ item.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.image }}
                                                    {% else %}
                                                        {% static 'customer_dashboard/img/photo-1619155442906-c8030bd86f49.jpg' %}
                                                    {% endif %}" />
                                                <img class="img-thumbnail img-fluid"
                                                    alt="Product image"
                                                    width="138"
                                                    height="95"
                                                    src="{% if item.order_group.seller_product_seller_location.seller_product.product.main_product.image_del %}
                                                        {{ item.order_group.seller_product_seller_location.seller_product.product.main_product.image_del }}
                                                    {% else %}
                                                        {% static 'customer_dashboard/img/photo-1599305445671-ac291c95aaa9.jpg' %}
                                                    {% endif %}" />
                                            </div>
                                            <div class="col">
                                                <h4>{{ item.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</h4>
                                                {% if item.order_group.end_date %}
                                                    <p class="mb-1">{{ item.order_group.start_date }} to {{ item.order_group.end_date }}</p>
                                                {% else %}
                                                    {% if item.order_group.service_recurring_frequency %}
                                                        <p class="mb-1">Subscription starts on {{ item.order_group.start_date }} and recurring {{ item.order_group.service_recurring_frequency.name|lower }}</p>
                                                    {% else %}
                                                        <p class="mb-1">Subscription starts on {{ item.order_group.start_date }}</p>
                                                    {% endif %}
                                                {% endif %}
                                                <p class="mb-1">Order Type: {{ item.order_type }}</p>
                                                {% comment %} <p>{{ item.order_group.start_date }} to {{ order_group.end_date }}</p> {% endcomment %}
                                            </div>
                                            <div class="col-auto">
                                                <p class="text-end">${{ item.price|floatformat:2|intcomma }}</p>
                                            </div>
                                            <div class="col-auto">
                                                {% comment %} <button class="btn btn-outline-danger" type="button" data-bs-target="#checkout-orders-modal" data-bs-toggle="modal">Remove</button> {% endcomment %}
                                                <button class="btn btn-outline-danger button-remove-item" id="button-remove-item_{{ item.order_group.id }}" type="button"
                                                    data-id="{{ item.order_group.id }}" data-price="{{ item.price }}"
                                                    hx-target="closest .cart-item" hx-trigger="onRemoveClick" hx-swap="outerHTML swap:1s"
                                                    onClick="event.stopPropagation();
                                                    Swal.fire(
                                                        {title: 'Are you sure?', text:'This will delete the Order from your Cart.', icon: 'question', confirmButtonText: 'Delete'}
                                                    ).then((result)=>{
                                                        if(result.isConfirmed){removeItemFromCart(this);}
                                                    })">
                                                    Remove
                                                    <span class="htmx-indicator" id="htmx-indicator-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                                                </button>
                                            </div>
                                        </div>
                                        {% if not forloop.last %}
                                            <hr />
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="add-card-modal" class="modal fade" role="dialog" tabindex="-1" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">New Card</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <div id="cardNumber"></div>
              <div style="display: flex;">
                <div id="cardExpirationDate" style="width: 100%;"></div>
                <div id="cardVerificationCode" style="width: 100%;"></div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="card_submit">Save <span class="htmx-indicator" id="add-card-spinner"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
