{% load static %}
{% load humanize %}
{% for row in carousels %}
  <div class="mb-3">
    <h5 class="text-dark mb-3"><strong>{{ row.main_product_category.name }}</strong></h5>
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-4 flex-nowrap overflow-x-auto mb-4 px-3" id="category-results">
      {% for main_product in row.main_products %}
        <div class="col-lg-3 d-flex align-items-stretch">
          <div class="card lead-card border-0 w-100 hover-float">
            {% if user.is_staff and not is_impersonating %}
              <a href="#" class="text-decoration-none text-reset overlay" role="button" onclick="selectCustomerPopup(event);"></a>
            {% else %}
              <a href="{% url 'customer_new_order_3' product_id=main_product.id %}" class="text-decoration-none text-reset overlay" data-bs-toggle="tooltip" data-bs-placement="top"></a>
            {% endif %}
            <div class="inner">
              <div class="image-container position-relative">
                <img class="card-img-top img-fluid"
                  src="{% if main_product.images.exists %}
                    {{ main_product.images.first.image.url }}
                  {% elif row.main_product_category.icon %}
                    {{ row.main_product_category.icon.url }}
                  {% else %}
                    {% static 'customer_dashboard/img/logo.png' %}
                  {% endif %}" />
                {% if row.main_product_category.group %}
                  <div class="position-absolute bottom-0 start-50 translate-middle-x bg-white border border-primary badge rounded-pill text-truncate" style="width: 85%; bottom: 15px !important;">
                    <span class="text-primary"><b>{{ row.main_product_category.group.name }}</b></span>
                  </div>
                {% endif %}
              </div>
              <div class="card-body pt-0">
                <h6 class="text-dark mb-1"><strong>{{ main_product.name }}</strong></h6>
                <p class="text-muted mb-0 text-nowrap">
                  {% with listings_count=main_product.listings_count %}
                    {{ listings_count }} listing{{ listings_count|pluralize }}
                  {% endwith %}&nbsp;|&nbsp; <i class="far fa-thumbs-up me-2"></i>{{ main_product.likes_count|intcomma }}
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
{% if carousels.has_next %}
  <div id="load-btn-{{ carousels.number }}" class="text-center my-4">
    <button class="btn btn-primary" hx-get="{% url 'customer_home' %}?p={{ carousels.next_page_number }}" hx-push-url="false" hx-target="#category-results" hx-indicator="#load-indicator-{{ carousels.number }}" hx-include="#filter-form" hx-swap="beforeend" hx-on::after-request="this.closest('div').remove()">
      Load More
      <span id="load-indicator-{{ carousels.number }}" class="htmx-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
    </button>
  </div>
{% endif %}
