{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  Create New Booking
{% endblock %}
{% block javascript %}
  <script>
    function addImageLoadEventListeners() {
      const images = document.querySelectorAll('.image-container img')
    
      images.forEach((img) => {
        img.addEventListener('load', function () {
          img.classList.add('loaded')
        })
    
        // For cached images
        if (img.complete) {
          img.classList.add('loaded')
        }
      })
    }
    
    // On dom load update search field
    document.addEventListener('DOMContentLoaded', function () {
      const searchFilter = document.getElementById('category-search-filter')
      const urlParams = new URLSearchParams(window.location.search)
      const search = urlParams.get('q')
      if (search) {
        searchFilter.value = search
      }
      const group_id = urlParams.get('group_id')
      if (group_id) {
        document.getElementById('table-filter-options').value = group_id
      }
      addImageLoadEventListeners()
    })
    let debounceTimeout
    
    function onInputChanged(el) {
      // Only trigger the search if the value is not empty and has more than 1 character and the user has stopped typing.
      // Clear the previous timeout
      clearTimeout(debounceTimeout)
    
      // Set a new timeout
      debounceTimeout = setTimeout(function () {
        if (!el.value || el.value.length > 1) {
          htmx.trigger(el, 'confirmed')
        }
      }, 500)
    }
    
    document.addEventListener('htmx:afterSwap', addImageLoadEventListeners)
  </script>
{% endblock %}
{% block stylesheet %}
  <style></style>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="card-header p-3 mb-2 border">
      <div class="row">
        <div class="col">
          <p class="text-primary m-0 fw-bold" id="table-title">Create New Booking</p>
          {% comment %} <h3 class="text-dark mb-0">Create New Booking</h3> {% endcomment %}
          <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        </div>
      </div>
      <form class="row mt-2 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2" hx-trigger="confirmed" hx-get="{% url 'customer_new_order' %}" hx-target="#category-results" hx-swap="outerHTML" hx-push-url="true" hx-indicator="#htmx-indicator-loading-status">
        <div class="col">
          <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
            <input id="category-search-filter" class="form-control" type="search" name="q" oninput="onInputChanged(this)" />
          </div>
        </div>
        <div class="col">
          <select id="table-filter-options" class="form-select" aria-label="Filter Data By" name="group_id" onchange="htmx.trigger(this, 'confirmed');">
            <option value="" selected>Filter By Category (all)</option>
            {% for group in main_product_category_groups %}
              <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
          </select>
        </div>
      </form>
    </div>
    {% include 'customer_dashboard/new_order/main_product_category_table.html' with main_product_categories=main_product_categories %}
  </div>
{% endblock %}
