{% load static %}
{% load humanize %}
{% for item in seller_product_seller_locations %}
  {% if forloop.first %}
    <hr />
  {% endif %}
  {% with seller_product_seller_location=item.listing.seller_product_seller_location %}
    <div class="supplier-item" data-allow-pickup="{{ seller_product_seller_location.allows_pick_up }}">
      <div id="item-{{ forloop.counter }}" class="row mb-4">
        <div class="row mb-3">
          {% with location=item.location %}
            <div class="col-lg-4 col me-3">
              <img class="img-thumbnail img-fluid"
                alt="Seller logo"
                width="200"
                height="200"
                src="{% if location.seller.location_logo_url %}
                  {{ location.seller.location_logo_url }}
                {% else %}
                  {% static 'customer_dashboard/img/defualt_logo.png' %}
                {% endif %}" />
              <h3 class="mt-1 supplier-name">{{ location.name }}</h3>
              <p>
                <a class="card-link" href="https://www.google.com/maps/place/{{ location.formatted_address|urlencode }}" target="_blank">{{ location.formatted_address }}</a>
              </p>
              <div class="distance-element" style="display: none;">
                <input type="hidden" class="distance" value="{{ item.distance }}" />
                <p style="margin-bottom: 0px;">
                  <strong>Distance</strong>
                </p>
                <p>{{ item.distance|floatformat:1|intcomma }} miles</p>
              </div>
              {% if request.user.is_staff %}
                {% with last_checkout=location.last_checkout %}
                  <input type="hidden" class="last-checkout" value="{{ last_checkout|date:'Y-m-d' }}" />
                  <p>
                    {% if last_checkout %}
                      <strong>Last Checkout:</strong>
                      {{ last_checkout|timesince }} ago
                    {% else %}
                      No Transaction History
                    {% endif %}
                  </p>
                {% endwith %}
              {% endif %}
              {% with likes_count=location.likes_count %}
                <div class="d-flex flex-row align-items-center">
                  {% if likes_count > 0 %}
                    <i class="fas fa-thumbs-up text-success mb-0 me-2"></i>
                    <span>{{ likes_count }}</span>
                  {% else %}
                    <span>No Reviews</span>
                  {% endif %}
                  <input type="hidden" class="rating" value="{{ likes_count }}" />
                </div>
              {% endwith %}
            </div>
          {% endwith %}
          <div class="col">
            {% include 'customer_dashboard/new_order/main_product_detail_pricing_breakdown.html' with price_breakdown=item.listing.price_breakdown %}
            {% for listing in item.related %}
              {% include 'customer_dashboard/new_order/main_product_detail_pricing_breakdown.html' with price_breakdown=listing.price_breakdown %}
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <form id="newOrderForm{{ forloop.counter }}" action="{% url 'customer_cart' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="seller_product_seller_location_id" type="hidden" value="{{ seller_product_seller_location.id }}" />
            <input name="product_id" type="hidden" value="{{ product_id }}" />
            <input name="user_address" type="hidden" value="{{ user_address }}" />
            <input name="product_waste_types" type="hidden" value="{{ product_waste_types }}" />
            <input name="waste_type" type="hidden" value="{{ waste_type }}" />
            <input name="product_add_ons" type="hidden" value="{{ product_add_ons }}" />
            <input name="schedule_window" type="hidden" value="{{ schedule_window }}" />
            <input name="times_per_week" type="hidden" value="{{ times_per_week }}" />
            <input name="shift_count" type="hidden" value="{{ shift_count }}" />
            <input name="delivery_date" type="hidden" value="{{ delivery_date }}" />
            <input name="removal_date" type="hidden" value="{{ removal_date }}" />
            <input name="quantity" type="hidden" value="{{ quantity }}" />
            <input name="project_id" type="hidden" value="{{ project_id }}" />
            <input name="related_products" type="hidden" value="{{ item.related_ids }}" />
            <input name="is_delivery" type="hidden" value="True" />
            {% if request.user.is_staff %}
              <input class="order-form-discount" type="hidden" name="discount" value="{{ discount }}" />
            {% endif %}
            <div class="d-flex justify-content-center">
              <button class="btn btn-primary w-100" type="button" name="action_button" id="submit-button-order-form-{{ forloop.counter }}">Add to Cart</button>
            </div>
            <script>
              submitButton = document.getElementById('submit-button-order-form-{{ forloop.counter }}')
              if (submitButton) {
                submitButton.addEventListener('click', () => {
                  if (pickupButton.checked) {
                    Swal.fire({
                      title: 'Pickup Order',
                      text: 'You will need to pick up this item yourself',
                      icon: 'question',
                      showCancelButton: true,
                      confirmButtonText: 'OK',
                      cancelButtonText: 'Cancel'
                    }).then((result) => {
                      if (result.value) {
                        document.getElementById('newOrderForm{{ forloop.counter }}').submit()
                      }
                    })
                  } else {
                    document.getElementById('newOrderForm{{ forloop.counter }}').submit()
                  }
                })
              }
            </script>
          </form>
        </div>
      </div>
      <hr />
    </div>
  {% endwith %}
{% empty %}
  {% include 'customer_dashboard/new_order/chat_info_bar.html' %}
{% endfor %}
