{% load static %}
{% load humanize %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4" id="product-results">
  {% for main_product in main_products %}
    <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card shadow mb-4" style="border-radius: 37px 37px 0 0;">
        <div class="image-container">
          <img class="card-img-top img-fluid"
            style="border-radius: 37px 37px 0 0;{% if main_product.product.image_del %}object-fit: cover;{% endif %}"
            src="{% if main_product.product.image_del %}
              {{ main_product.product.image_del }}
            {% elif main_product_category.icon %}
              {{ main_product_category.icon.url }}
            {% else %}
              {% static 'customer_dashboard/img/logo.png' %}
            {% endif %}" />
        </div>
        <div class="card-body" style="padding-top: 0px;padding-right: 0px;padding-left: 0px;">
          <div class="row">
            <div class="col" style="padding-right: 24px;padding-left: 24px;padding-top: 12px;">
              <h5>{{ main_product.product.name }}</h5>
              <p style="margin-bottom: 0px;">{{ main_product.product.description }}</p>
            </div>
          </div>

          <div class="row ms-3 me-3 mt-2 mb-0">
            <ul class="mb-0">
              {% for main_product_info in main_product.infos %}
                <li style="font-size: smaller;">
                  <b>{{ main_product_info.name }}:</b> {{ main_product_info.description }}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary float-end" role="button" href="{% url 'customer_new_order_3' product_slug=main_product.product.slug %}">Select Options</a>
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="col"></div>
  <div class="col"></div>
</div>
{% if not main_products %}
  {% include 'customer_dashboard/new_order/chat_info_bar.html' %}
{% endif %}
