{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Select Supplier
{% endblock %}
{% block stylesheet %}
    <style></style>
{% endblock %}
{% block javascript %}
    <script>
        // listen for the range slider take_rate change event
        document.getElementById("take_rate").addEventListener("input", function () {
            // get the value of the range slider
            let takeRate = this.value;
            // get the takeRateLabel element
            let takeRateLabel = document.getElementById("takeRateLabel");
            // update the text of the takeRateLabel element
            takeRateLabel.innerText = takeRate + "%";
            // get all price-item elements
            let priceItems = document.querySelectorAll(".price-item");
            // loop through all price-item elements
            priceItems.forEach(function (priceItem) {
                // get the price of the price-item element
                let price = parseFloat(priceItem.getAttribute("data-price"));
                // calculate the new price
                let newPrice = price + price * (takeRate / 100);
                // update the price of the price-item element
                priceItem.innerText = "$" + newPrice.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, "$&,");
            });
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">New Order: Supplier Options</h3>
        <div class="row">
            <div class="col">
                <div class="container-sm pt-4 pb-4">
                    <label for="take_rate" class="form-label">Take Rate <b id="takeRateLabel">{{ default_take_rate_100 }}%</b></label>
                    <input form="orderForm" type="range" class="form-range" min="{{ minimum_take_rate_100 }}" max="{{ default_take_rate_100 }}" step="0.5" id="take_rate" name="take_rate" value="{{ default_take_rate_100 }}" />
                </div>
                {% for item in seller_product_seller_locations %}
                    {% if forloop.first %}
                        <hr />
                    {% endif %}
                    <div class="row mb-4">
                        <div class="col-auto">
                            <img class="img-thumbnail img-fluid"
                                alt="Seller logo"
                                width="200"
                                height="200"
                                src="{% if item.seller_product_seller_location.seller_location.seller.location_logo_url %}
                                    {{ item.seller_product_seller_location.seller_location.seller.location_logo_url }}
                                {% else %}
                                    {% static 'customer_dashboard/img/photo-1545231027-637d2f6210f8.jpg' %}
                                {% endif %}" />
                        </div>
                        <div class="col">
                            <h3>{{ item.seller_product_seller_location.seller_location.name }}</h3>
                            <p>
                                <a class="card-link" href="https://www.google.com/maps/place/{{ item.seller_product_seller_location.seller_location.formatted_address|urlencode }}" target="_blank">{{ item.seller_product_location.seller_location.formatted_address }}</a>
                            </p>
                        </div>
                        <div class="col-auto">
                            <p class="text-end">
                                <b class="price-item" data-price="{{ item.price_data.total }}">${{ item.price_data.total_max|floatformat:2|intcomma }}</b>
                            </p>
                            <p class="text-end">
                                Delivery:{% if item.price_data.delivery %}
                                    <span class="price-item" data-price="{{ item.price_data.delivery.total }}">${{ item.price_data.delivery_max|floatformat:2|intcomma }}</span>
                                {% else %}
                                    No charge
                                {% endif %}
                            </p>
                            <p class="text-end">
                                Removal:{% if item.price_data.removal %}
                                    <span class="price-item" data-price="{{ item.price_data.removal.total }}">${{ item.price_data.removal_max|floatformat:2|intcomma }}</span>
                                {% else %}
                                    No charge
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-auto">
                            <form id="orderForm" action="{% url 'customer_new_order_5' %}" method="post">
                                {% csrf_token %}
                                <input name="seller_product_seller_location_id" type="hidden" value="{{ item.seller_product_seller_location.id }}" />
                                <input name="product_id" type="hidden" value="{{ product_id }}" />
                                <input name="user_address" type="hidden" value="{{ user_address }}" />
                                <input name="product_waste_types" type="hidden" value="{{ product_waste_types }}" />
                                <input name="waste_type" type="hidden" value="{{ waste_type }}" />
                                <input name="product_add_ons" type="hidden" value="{{ product_add_ons }}" />
                                <input name="schedule_window" type="hidden" value="{{ schedule_window }}" />
                                <input name="times_per_week" type="hidden" value="{{ times_per_week }}" />
                                <input name="delivery_date" type="hidden" value="{{ delivery_date }}" />
                                <input name="removal_date" type="hidden" value="{{ removal_date }}" />
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-primary" type="submit" name="action_button" id="submit-button">Add to Cart</button>
                                </div>
                            </form>
                            <button class="btn btn-link mt-2" type="button" data-bs-target="#modal-price-detail-{{ forloop.counter }}" data-bs-toggle="modal">Pricing Details</button>
                            {% include 'customer_dashboard/snippets/price_details_modal.html' %}
                        </div>
                    </div>
                    <hr />
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
