{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% load sales_stream_tags %}
{% block title %}
  Select Options
{% endblock %}
{% block stylesheet %}
  <style></style>
{% endblock %}
{% block javascript %}
  <script>
    // Autocomplete for Customer/UserGroup search
    // Helped by: https://www.w3schools.com/howto/howto_js_autocomplete.asp
    var currentFocus
    let usergroupInput = document.getElementById('user_address-search')
    
    function removeAutocompleteDropdown() {
      let dropdownItems = document.querySelectorAll('.my-dropdown-item')
      dropdownItems.forEach(function (item) {
        item.remove()
      })
    }
    function addActive(x) {
      /*a function to classify an item as "active":*/
      if (!x) return false
      /*start by removing the "active" class on all items:*/
      removeActive(x)
      if (currentFocus >= x.length) currentFocus = 0
      if (currentFocus < 0) currentFocus = x.length - 1
      /*add class "autocomplete-active":*/
      x[currentFocus].classList.add('autocomplete-active')
    }
    function removeActive(x) {
      /*a function to remove the "active" class from all autocomplete items:*/
      for (var i = 0; i < x.length; i++) {
        x[i].classList.remove('autocomplete-active')
      }
    }
    /*execute a function when someone clicks in the document:*/
    document.addEventListener('click', function (e) {
      if (e.target != usergroupInput) {
        removeAutocompleteDropdown()
      }
    })
    function addUsergroupAutocompleteListeners() {
      currentFocus = -1
      let dropdownItems = document.querySelectorAll('.my-dropdown-item')
      dropdownItems.forEach(function (item) {
        item.addEventListener('click', function () {
          // Update the display field with the user_address's name
          document.getElementById('user_address-search').value = item.getAttribute('data-name')
          // Update the hidden field with the user_address's ID
          document.getElementById('id_user_address').value = item.getAttribute('data-id')
          removeAutocompleteDropdown()
        })
      })
    }
    function initUsergroupAutocomplete(user_addresses) {
      usergroupInput = document.getElementById('user_address-search')
      // If the usergroupInput is not found, return
      if (!usergroupInput) return
      usergroupInput.addEventListener('keydown', function (e) {
        var x = document.getElementById('user_address-search-results')
        if (x) x = x.getElementsByTagName('div')
        if (x) {
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed, increase the currentFocus variable:*/
            currentFocus++
            /*and and make the current item more visible:*/
            addActive(x)
          } else if (e.keyCode == 38) {
            /*If the arrow UP key is pressed, decrease the currentFocus variable:*/
            currentFocus--
            /*and and make the current item more visible:*/
            addActive(x)
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault()
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click()
            }
          }
        }
      })
    }
    
    // listen for page load event.
    document.addEventListener('DOMContentLoaded', function () {
      initUsergroupAutocomplete()
      addUsergroupAutocompleteListeners()
    })
    // listen for htmx afterSettle event.
    document.body.addEventListener('htmx:afterSettle', function (event) {
      addUsergroupAutocompleteListeners()
    })
  </script>
{% endblock %}
{% block content %}
  <div class="container-xxl">
    <h6 class="pb-3 mb-3">
      <a class="text-reset text-decoration-none" href="{% url 'customer_home' %}">All</a> /{% if main_product.main_product_category.group %}
        <a class="text-reset text-decoration-none" href="{% url 'customer_home' %}?category_group={{ main_product.main_product_category.group.slug }}">{{ main_product.main_product_category.group }}</a> /
      {% endif %}
      <a href="{% url 'customer_home' %}?category={{ main_product.main_product_category.slug }}" class="text-reset text-decoration-none">{{ main_product.main_product_category }}</a> / <span class="text-primary">{{ main_product.name }}</span>
    </h6>
    <form action="{% url 'customer_new_order_3' product_slug=main_product.slug %}" method="post" class="mb-2" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2">
        <div class="col col-xl-5 px-4">
          {% with images=main_product.images.all %}
            <!-- Image Carousel -->
            <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for main_product_image in images %}
                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
                      <img class="d-block w-100 h-100 object-fit-contain" style="border-radius: 37px;" src="{{ main_product_image.image.url }}" alt="Slide {{ forloop.counter0 }}" />
                    </div>
                  </div>
                {% empty %}
                  <div class="carousel-item active">
                    <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
                      <img class="d-block w-100 h-100"
                        style="border-radius: 37px;"
                        src="{% if main_product.image_del %}
                          {{ main_product.image_del }}
                        {% elif main_product.main_product_category.icon %}
                          {{ main_product.main_product_category.icon.url }}
                        {% else %}
                          {% static 'customer_dashboard/img/logo.png' %}
                        {% endif %}"
                        alt="Slide 0" />
                    </div>
                  </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              <div class="carousel-indicators mt-1">
                {% for main_product_image in images %}
                  <button type="button" class="{% if forloop.first %}active{% endif %}" data-bs-target="#imageCarousel" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter0 }}"><img class="d-block w-100" src="{{ main_product_image.image.url }}" /></button>
                {% empty %}
                  <button type="button" class="active" data-bs-target="#imageCarousel" data-bs-slide-to="0" aria-label="Slide 0">
                    <img class="d-block w-100"
                      src="{% if main_product.image_del %}
                        {{ main_product.image_del }}
                      {% elif main_product.main_product_category.icon %}
                        {{ main_product.main_product_category.icon.url }}
                      {% else %}
                        {% static 'customer_dashboard/img/logo.png' %}
                      {% endif %}" />
                  </button>
                {% endfor %}
              </div>
            </div>
          {% endwith %}
          <!-- Product Infos -->
          {% with infos=main_product.mainproductinfo_set.all %}
            <div class="card mb-3">
              <div class="card-header bg-secondary p-3" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#rentalCardBody" aria-controls="rentalCardBody" type="button">
                <h6 class="text-white m-0">Product Information</h6>
              </div>
              <div id="rentalCardBody" class="card-body collapse show">
                {% for info in infos reversed %}
                  <div class="mb-3">
                    <p class="text-dark m-0">
                      <strong>{{ info.name }}</strong>
                    </p>
                    <p class="m-0">{{ info.description }}</p>
                  </div>
                {% empty %}
                  <p class="text-muted m-0">{{ main_product.description|default:'No information available.' }}</p>
                {% endfor %}
              </div>
            </div>
          {% endwith %}
        </div>
        <!-- Details -->
        <div class="col col-xl-7 mb-4 px-4">
          <h2 class="text-dark"><strong>{{ main_product.name }}</strong></h2>
          <p class="text-muted mb-2">
            {% with listings_count=main_product.listings_count %}
              {{ listings_count }} listing{{ listings_count|pluralize }}
            {% endwith %}&nbsp;|&nbsp; <i class="far fa-thumbs-up me-2"></i>{{ main_product.likes_count|intcomma }}
          </p>
          <hr style="border-color: var(--bs-dark); opacity: 0.75;" />
          <!-- Include the hidden fields -->
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          <!-- Include the visible fields -->
          <!-- User Address -->
          {% if user_addresses|length < 20 %}
            <label for="user_address" class="form-label mb-0">
              <strong class="text-dark me-3"><i class="far {{ field_icons.address }} me-2"></i>Select an Address</strong>
              <small class="required text-muted">Required</small>
              <a class="btn btn-primary btn-sm d-sm-inline-block ms-2 mb-1 px-3" role="button" href="{% url 'customer_new_location' %}?return_to={{ request.get_full_path }}">Create Now</a>
            </label>
            <select class="form-select" name="user_address" style="margin-bottom: 12px;" required>
              <optgroup label="Your added locations">
                {% for user_address in user_addresses %}
                  {% if selected_user_address and selected_user_address.id == user_address.id %}
                    <option value="{{ user_address.id }}" selected>{{ user_address.name }} | {{ user_address.formatted_address }}</option>
                  {% else %}
                    <option value="{{ user_address.id }}">{{ user_address.name }} | {{ user_address.formatted_address }}</option>
                  {% endif %}
                {% endfor %}
              </optgroup>
            </select>
          {% else %}
            <div class="dropdown mb-3">
              <label for="user_address-search" class="form-label mb-0">
                <strong class="text-dark me-3"><i class="far {{ field_icons.address }} me-2"></i>Search Address</strong>
                <small class="required text-muted"><strong>Required</strong></small>
                <a class="btn btn-primary btn-sm d-sm-inline-block ms-2 mb-1 px-3" role="button" href="{% url 'customer_new_location' %}">Create Now</a>
                <span class="htmx-indicator" id="htmx-indicator-loading2"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
              </label>
              {% if selected_user_address %}
                <input id="user_address-search" class="form-control" autocomplete="off" type="search" name="q" required="true" value="{{ selected_user_address.name }}" hx-get="{% url 'customer_user_address_search' %}?user_id={{ user.id }}" hx-trigger="input changed delay:500ms, search" hx-target="#user_address-search-results" hx-indicator="#htmx-indicator-loading2" />
                <!-- Hidden input field for user_address ID is added by forms.py with id=id_user_address -->
              {% else %}
                <input id="user_address-search" class="form-control" autocomplete="off" type="search" name="q" required="true" hx-get="{% url 'customer_user_address_search' %}" hx-trigger="input changed delay:500ms, search" hx-target="#user_address-search-results" hx-indicator="#htmx-indicator-loading2" />
                <!-- Hidden input field for user_address ID is added by forms.py id=id_user_address -->
              {% endif %}
              <div class="dropdown-content" id="user_address-search-results" style="z-index: 5;"></div>
            </div>
          {% endif %}
          <!-- Other fields -->
          {% for field in form.visible_fields %}
            {% comment %}Radio Select Fields, ex: shift count, times per week{% endcomment %}
            {% if field.name == 'shift_count' or field.name == 'times_per_week' %}
              <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">
                  <strong class="text-dark me-3"><i class="far {{ field_icons|get_dict_value:field.name }} me-2"></i>{{ field.label }}</strong>
                  {{ field.label_suffix }}
                  <small class="{{ field.field.required|yesno:'required' }} text-muted"><strong>{{ field.field.required|yesno:'Required,Optional' }}</strong></small>
                </label>
                <div class="btn-group w-100" role="group" aria-label="Radio toggle for {{ field.label }}">
                  {% for radio in field %}
                    {{ radio.tag }}
                    <label class="btn" for="{{ radio.id_for_label }}"><small>{{ radio.choice_label }}</small></label>
                  {% endfor %}
                </div>
                {% if field.help_text %}
                  <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
                {% if field.errors %}
                  <small class="text-danger">{{ field.errors }}</small>
                {% endif %}
              </div>
            {% elif field.name == 'delivery_date' and main_product.has_rental_multi_step %}
              <div class="mb-3 row">
                <!-- Date Fields -->
                <div class="col">
                  <label for="{{ field.id_for_label }}" class="form-label">
                    <strong class="text-dark me-3"><i class="far {{ field_icons|get_dict_value:field.name }} me-2"></i>{{ field.label }}</strong>{{ field.label_suffix }}
                    <small class="{{ field.field.required|yesno:'required' }} text-muted"><strong>{{ field.field.required|yesno:'Required,Optional' }}</strong></small>
                  </label>
                  {{ field }}
                  {% if field.help_text %}
                    <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                  {% endif %}
                  {% if field.errors %}
                    <small class="text-danger">{{ field.errors }}</small>
                  {% endif %}
                </div>
                {% with field=form.removal_date %}
                  <div class="col">
                    <label for="{{ field.id_for_label }}" class="form-label">
                      <strong class="text-dark me-3"><i class="far {{ field_icons|get_dict_value:field.name }} me-2"></i>{{ field.label }}</strong>{{ field.label_suffix }}
                      <small class="{{ field.field.required|yesno:'required' }} text-muted"><strong>{{ field.field.required|yesno:'Required,Optional' }}</strong></small>
                    </label>
                    {{ field }}
                    {% if field.help_text %}
                      <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                    {% if field.errors %}
                      <small class="text-danger">{{ field.errors }}</small>
                    {% endif %}
                  </div>
                {% endwith %}
              </div>
            {% elif field.name == 'removal_date' %}
              {% comment %}Do nothing{% endcomment %}
            {% else %}
              {% comment %}Regular Fields{% endcomment %}
              <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">
                  <strong class="text-dark me-3">
                    <!-- prettier-ignore -->
                    <i class="far {{ field_icons|get_dict_value:field.name }} me-2">
                    </i>
                    {{ field.label }}
                  </strong>{{ field.label_suffix }}<small class="{{ field.field.required|yesno:'required' }} text-muted"><strong>{{ field.field.required|yesno:'Required,Optional' }}</strong></small>
                </label>
                {{ field }}
                {% if field.help_text %}
                  <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
                {% if field.errors %}
                  <small class="text-danger">{{ field.errors }}</small>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
          <!-- Product Variants -->
          {% if product_add_ons %}
            <p>
              <strong class="text-dark me-2"><i class="far fa-cogs me-2"></i> Variations</strong> <small class="required text-muted"><strong>Required</strong></small>
            </p>
            <div class="d-flex flex-wrap mb-3 form-group">
              {% for product_add_on in product_add_ons %}
                <div class="col-3">
                  <p class="mb-1">
                    <strong class="text-dark">{{ product_add_on.add_on.name }}</strong>
                  </p>
                  {% for product_add_on_choice in product_add_on.choices %}
                    <div class="form-check downstream-radio">
                      {% if forloop.first %}
                        <input class="form-check-input" type="radio" name="product_add_on_choices_{{ product_add_on.add_on.name }}" id="product_add_on_choice_{{ product_add_on_choice.id }}" value="{{ product_add_on_choice.id }}" checked required />
                      {% else %}
                        <input class="form-check-input" type="radio" name="product_add_on_choices_{{ product_add_on.add_on.name }}" id="product_add_on_choice_{{ product_add_on_choice.id }}" value="{{ product_add_on_choice.id }}" required />
                      {% endif %}
                      <label class="form-check-label" for="product_add_on_choice_{{ product_add_on_choice.id }}">{{ product_add_on_choice.name }}</label>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
          <!-- Related Products -->
          {% if main_product.related_products.exists %}
            <p>
              <strong class="text-dark me-3"><i class="far fa-link me-2"></i> Related Products</strong> <small class="text-muted"><strong>Optional</strong></small>
            </p>
            <div class="d-flex flex-wrap mb-3 form-group">
              {% for related_product in main_product.related_products.all %}
                <div class="col-xl-4 col-6 image-select align-items-center px-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="related_products" id="related_product_{{ related_product.id }}" value="{{ related_product.id }}" />
                    <label class="form-check-label text-center" for="related_product_{{ related_product.id }}">
                      <img src="{% if related_product.image_del %}
                          {{ related_product.image_del }}
                        {% elif related_product.main_product_category.icon %}
                          {{ related_product.main_product_category.icon.url }}
                        {% else %}
                          {% static 'customer_dashboard/img/logo.png' %}
                        {% endif %}"
                        alt="{{ related_product.name }}"
                        class="img-fluid rounded mb-2" /><br />
                      <strong class="text-dark">{{ related_product.name }}</strong>
                    </label>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if form_error %}
            <hr />
            <p class="text-danger">{{ form_error }}</p>
          {% endif %}
          {% if form_msg %}
            <hr />
            <p class="text-success">{{ form_msg }}</p>
          {% endif %}
          {% if request.user.is_authenticated %}
            <!-- Submit Button -->
            <button class="btn btn-primary w-100 p-2 my-3 shadow" type="submit" name="action_button" id="submit-button"><small>Find a Supplier</small></button>
          {% else %}
            {% comment %}Button to let users know they need to log in. In the future we will have addresses prefilled so users can get as far as the supplier pricing list before having to login.{% endcomment %}
            <button class="btn btn-primary w-100 p-2 my-3 shadow disabled" name="action_button" id="submit-button" disabled><small>Find a Supplier</small></button>
            <a class="btn btn-light w-100 p-2 my-2 shadow" href="{% url 'login' %}"><i class="far fa-sign-in-alt me-2"></i><small>Login to Continue</small></a>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
{% endblock %}
