{% load static %}
{% load humanize %}
{% for row in carousels %}
  <div class="mb-3">
    <h5 class="text-dark mb-0">
      <strong>{{ row.main_product_category.name }}</strong>
      {% with results=row.main_products|length %}
        <small class="ms-2 text-muted fw-light">{{ results }} product{{ results|pluralize }}</small>
      {% endwith %}
    </h5>
    <div id="carousel-{{ row.main_product_category.id }}" class="carousel slide g-4 flex-nowrap mb-4" style="padding: 0 60px;" id="category-results">
      <div class="carousel-inner d-flex align-items-stretch">
        {% for main_product in row.main_products %}
          {% comment %}Delete style attr once css loaded. Don't want min-content, want to use width from cols.{% endcomment %}
          <div class="carousel-item col-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 d-block mx-0" style="width: min-content;">
            <div class="card lead-card border-0 w-100 hover-float">
              {% if user.is_staff and not is_impersonating %}
                <a href="#" class="text-decoration-none text-reset overlay" role="button" onclick="selectCustomerPopup(event);"></a>
              {% else %}
                {% if main_product.slug %}
                  <a href="{% url 'customer_products' main_product.slug %}" class="text-decoration-none text-reset overlay" data-bs-toggle="tooltip" data-bs-placement="top"></a>
                {% else %}
                  <a href="{% url 'customer_new_order_3' main_product.id %}" class="text-decoration-none text-reset overlay" data-bs-toggle="tooltip" data-bs-placement="top"></a>
                {% endif %}
              {% endif %}
              <div class="inner">
                <div class="image-container position-relative">
                  <img class="card-img-top img-fluid"
                    src="{% if main_product.images.exists %}
                      {{ main_product.images.first.image.url }}
                    {% elif row.main_product_category.icon %}
                      {{ row.main_product_category.icon.url }}
                    {% else %}
                      {% static 'customer_dashboard/img/logo.png' %}
                    {% endif %}"
                    loading="lazy" />
                  {% if row.main_product_category.group %}
                    <div class="position-absolute bottom-0 start-50 translate-middle-x bg-white border border-primary badge rounded-pill text-truncate" style="width: 85%; bottom: 15px !important;">
                      <span class="text-primary"><b>{{ row.main_product_category.group.name }}</b></span>
                    </div>
                  {% endif %}
                </div>
                <div class="card-body pt-0">
                  <h6 class="text-dark mb-1"><strong>{{ main_product.name }}</strong></h6>
                  <p class="text-muted mb-0 text-nowrap">
                    {% with listings_count=main_product.listings_count %}
                      {{ listings_count }} listing{{ listings_count|pluralize }}
                    {% endwith %}&nbsp;|&nbsp; <i class="far fa-thumbs-up me-2"></i>{{ main_product.likes_count|intcomma }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev text-primary" style="background-color: rgba(var(--bs-primary-rgb), 0.2); width: 50px; height: 50px; border-radius: 25%; top: 50%;" type="button" href="#carousel-{{ row.main_product_category.id }}" data-bs-target="#carousel-{{ row.main_product_category.id }}" data-bs-slide="prev">
        <i class="far fa-arrow-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next text-primary" style="background-color: rgba(var(--bs-primary-rgb), 0.2); width: 50px; height: 50px; border-radius: 25%; top: 50%;" type="button" href="#carousel-{{ row.main_product_category.id }}" data-bs-target="#carousel-{{ row.main_product_category.id }}" data-bs-slide="next">
        <i class="far fa-arrow-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
{% empty %}
  <div class="text-center">
    <h5 class="text-muted">No results.</h5>
  </div>
{% endfor %}
{% if page_obj.has_next %}
  <div id="load-btn-{{ page_obj.number }}" class="text-center my-4">
    <button class="btn btn-primary" hx-get="{% url 'customer_home' %}?p={{ page_obj.next_page_number }}" hx-push-url="false" hx-target="#category-results" hx-indicator="#load-indicator-{{ page_obj.number }}" hx-include="#filter-form" hx-swap="beforeend" hx-on::after-request="this.closest('div').remove()">
      Load More
      <span id="load-indicator-{{ page_obj.number }}" class="htmx-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
    </button>
  </div>
{% endif %}
