<footer class="footer">
    <div class="container">
        {% block footer %}
        <div class="row">
            <div class="col">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="https://trydownstream.com/terms-of-service" target="_blank"
                            rel="noreferrer noopener" class="nav-link pl-0">Terms of service</a>
                    </li>
                    <li class="nav-item"><a href="https://trydownstream.com/privacy-policy" target="_blank"
                            rel="noreferrer noopener" class="nav-link pl-0">Privacy policy</a>
                    </li>
                    <li class="nav-item"><a href="https://trydownstream.com/cookies-policy" target="_blank"
                            rel="noreferrer noopener" class="nav-link pl-0">Cookies use</a>
                    </li>
                </ul>
                <br>
            </div>
        </div>
        <div class="footer-copyright-wrapper" style="text-align: center;">
            <div class="copyright-text text-muted">© All rights reserved. Downstream - 2024</div>
        </div>
        {% endblock %}
    </div>
</footer>