{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Dashboard
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% comment %} <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Dashboard</h3><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
        </div> {% endcomment %}
        <div hx-get="{% url 'supplier_home' %}" hx-trigger="load" hx-swap="innerHTML" hx-indicator="#htmx-indicator-loading-status">
            {% include 'supplier_dashboard/snippets/dashboard.html' %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function updateMyChart() {
            const ctx = document.getElementById("myChart");
            if (ctx) {
                console.log("Chart data:", JSON.parse(document.getElementById("chart_data-json").textContent));
                const chartData = JSON.parse(document.getElementById("chart_data-json").textContent);
                const myChart = new Chart(ctx, chartData);
            }
        }
        document.addEventListener("DOMContentLoaded", function () {
            updateMyChart();
        });
        document.body.addEventListener("htmx:afterSwap", function (evt) {
            updateMyChart();
        });
    </script>
{% endblock %}
