{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  Listing Details
{% endblock %}
{% block javascript %}
  <script>
    function confirmActivePopup(event) {
      const isActive = event.target.checked
      const actionText = isActive ? 'activate' : 'deactivate'
      const actionConfirmText = isActive ? 'Yes, activate it!' : 'Yes, deactivate it!'
    
      Swal.fire({
        title: 'Confirm',
        text: `Are you sure you want to ${actionText} this listing?`,
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: actionConfirmText,
        cancelButtonText: 'Cancel'
      }).then((result) => {
        if (result.isConfirmed) {
          const form = document.getElementById('active_form')
          form.submit()
        } else {
          // Revert the checkbox state if cancelled
          event.target.checked = !isActive
        }
      })
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      const activeCheckbox = document.getElementById('id_active')
      activeCheckbox.addEventListener('change', confirmActivePopup)
    })
  </script>
  {% if main_product.has_material %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const addWasteTypeButton = document.getElementById('add-waste-type')
        const formsetDiv = document.getElementById('waste_types-formset')
        const totalForms = document.getElementById('id_waste_types-TOTAL_FORMS')
        const emptyFormTemplate = document.getElementById('waste_types-empty').innerHTML
      
        const wasteTypeForms = document.querySelectorAll('.waste_types-form')
        wasteTypeForms.forEach(function (form) {
          const deleteInput = form.querySelector('input[type="hidden"][id$="-DELETE"]')
          if (deleteInput && deleteInput.value === 'on') {
            form.style.display = 'none'
          }
        })
      
        addWasteTypeButton.addEventListener('click', function () {
          const currentFormCount = parseInt(totalForms.value)
          const newFormCount = currentFormCount + 1
          const newFormHtml = emptyFormTemplate.replace(/__prefix__/g, currentFormCount)
      
          formsetDiv.insertAdjacentHTML('beforeend', newFormHtml)
          totalForms.value = newFormCount
          const emptyText = document.querySelectorAll('.empty-text')
          emptyText.forEach(function (text) {
            text.style.display = 'none'
          })
        })
      })
    </script>
  {% endif %}
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <div class="card shadow mb-3">
      <div class="card-body p-3">
        <h1 class="text-primary mb-1"><strong>{{ main_product.name }}</strong></h1>
        <h4 class="text-dark mb-3" style="padding-bottom: 0px;margin-bottom: -8px;">{{ listing.seller_location.formatted_address }}</h4>
        <!-- Status Form -->
        <form id="active_form" action="{% url 'supplier_listing_detail' listing_id=listing.id %}" method="post">
          {% csrf_token %}
          <div class="form-switch mb-2">
            {{ active_form.active }}
            <label for="{{ active_form.active.id_for_label }}" class="form-check-label">{{ active_form.active.label }}{{ active_form.active.label_suffix }}</label>
          </div>
          <input type="hidden" name="active_form" value="active_form" />
        </form>
        <div class="d-flex align-items-center">
          {% if listing.active %}
            {% if is_incomplete %}
              <badge>
                <span class="badge text-warning fw-medium w-100" style="background-color: rgba(var(--bs-warning-rgb), 0.2);">Needs Attention</span>
              </badge>
              <small class="ms-2">This listing will be available to customers immediately once the required pricing information is filled out.</small>
            {% else %}
              <badge>
                <span class="badge text-success fw-medium w-100" style="background-color: rgba(var(--bs-success-rgb), 0.2);">Active</span>
              </badge>
              <small class="ms-2">This listing is available to customers.</small>
            {% endif %}
          {% else %}
            <badge>
              <span class="badge text-danger fw-medium w-100" style="background-color: rgba(var(--bs-danger-rgb), 0.2);">Inactive</span>
            </badge>
            <small class="ms-2">This listing is not visible to customers.</small>
          {% endif %}
        </div>
      </div>
    </div>

    {% if is_incomplete %}
      <div class="alert alert-warning" role="alert">
        <strong>Attention:</strong> This listing is incomplete. Please scroll down to review and complete all required fields.
      </div>
    {% endif %}

    <!-- Scheduling Form -->
    <div class="card shadow mb-3">
      <div class="card-header p-3" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#schedulingCardBody" aria-controls="schedulingCardBody" type="button">
        <p class="text-primary m-0">Scheduling</p>
      </div>
      <div id="schedulingCardBody" class="card-body collapse show">
        <form action="{% url 'supplier_listing_detail' listing_id=listing.id %}" method="post">
          {% csrf_token %}
          {{ scheduling_form }}
          <div class="d-flex flex-row-reverse align-items-center">
            <button class="btn btn-primary" type="submit" name="scheduling_form" style="margin-top: 12px;">Save</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Pricing Form -->
    <h4 class="text-dark mb-3">Pricing</h4>
    <!-- Other Costs -->
    <div class="card shadow mb-3">
      <div class="card-header p-3" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#mainCardBody" aria-controls="mainCardBody" type="button">
        <h6 class="text-primary m-0">Fuel and Fees</h6>
      </div>
      <div id="mainCardBody" class="card-body collapse show">
        <form action="{% url 'supplier_listing_detail' listing_id=listing.id %}" method="post">
          {% csrf_token %}
          {{ pricing_form }}
          <div class="d-flex flex-row-reverse align-items-center">
            <button class="btn btn-primary" type="submit" name="pricing_form" style="margin-top: 12px;">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!-- Service Costs -->
    {% if service_formset %}
      <div class="card shadow mb-3">
        <!-- prettier-ignore -->
        <div class="card-header bg-primary p-3 d-flex justify-content-between align-items-center"
          aria-expanded="{% if service_is_incomplete %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
          data-bs-target="#serviceCardBody"
          aria-controls="serviceCardBody"
          type="button">
          <h6 class="text-white m-0">Service Costs</h6>
          {% if service_is_incomplete %}
            <small class="text-white mb-0" style="margin-right: 30px;">Needs Attention <i class="fa fa-exclamation-triangle"></i></small>
          {% endif %}
        </div>
        <div id="serviceCardBody" class="card-body collapse {% if service_is_incomplete %}show{% endif %}">
          <form action="{% url 'supplier_listing_detail' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            {{ service_formset.as_table }}
            <div class="d-flex flex-row-reverse align-items-center">
              <button class="btn btn-primary" type="submit" name="service_form" style="margin-top: 12px;">Save</button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
    <!-- Rental Costs -->
    {% if rental_formset %}
      <div class="card shadow mb-3">
        <!-- prettier-ignore -->
        <div class="card-header bg-secondary p-3 d-flex justify-content-between align-items-center"
          aria-expanded="{% if rental_is_incomplete %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
          data-bs-target="#rentalCardBody"
          aria-controls="rentalCardBody"
          type="button">
          <h6 class="text-white m-0">Rental Costs</h6>
          {% if rental_is_incomplete %}
            <small class="text-white mb-0" style="margin-right: 30px;">Needs Attention <i class="fa fa-exclamation-triangle"></i></small>
          {% endif %}
        </div>
        <div id="rentalCardBody" class="card-body collapse {% if rental_is_incomplete %}show{% endif %}">
          <form action="{% url 'supplier_listing_detail' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            {{ rental_formset.as_table }}
            <div class="d-flex flex-row-reverse align-items-center">
              <button class="btn btn-secondary" type="submit" name="rental_form" style="margin-top: 12px;">Save</button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
    <!-- Material Costs -->
    {% if material_formset %}
      <div class="card shadow mb-3">
        <!-- prettier-ignore -->
        <div class="card-header bg-danger p-3 d-flex justify-content-between align-items-center"
          aria-expanded="{% if material_is_incomplete %}true{% else %}false{% endif %}"
          data-bs-toggle="collapse"
          data-bs-target="#materialCardBody"
          aria-controls="materialCardBody"
          type="button">
          <h6 class="text-white m-0">Material Costs</h6>
          {% if material_is_incomplete %}
            <small class="text-white mb-0" style="margin-right: 30px;">Needs Attention <i class="fa fa-exclamation-triangle"></i></small>
          {% endif %}
        </div>
        <div id="materialCardBody" class="card-body collapse {% if material_is_incomplete %}show{% endif %}">
          <form action="{% url 'supplier_listing_detail' listing_id=listing.id %}" method="post">
            {% csrf_token %}
            {{ material_formset.as_table }}
            <div class="d-flex flex-row-reverse align-items-center" style="margin-top: 12px;">
              <button class="btn btn-danger text-white" type="submit" name="material_form">Save</button>
              <button id="add-waste-type" class="btn btn-success text-white me-3" type="button"><i class="fas fa-plus me-3"></i>Add Waste Type</button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
