{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% block title %}Locations{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-4">My Locations</h3>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">All Locations</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Payout Method</th>
                            <th>Insurance</th>
                            <th>Tax</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for seller_location in seller_locations %}
                        <tr>
                            <td><img class="rounded-circle me-2" width="30" height="30"
                                    src="{% if seller.location_logo_url %}{{seller.location_logo_url}}{% else %}{% static 'supplier_dashboard/img/avatars/avatar1.jpeg' %}{% endif %}">{{seller_location.name}}
                            </td>
                            <td>{{seller_location.formatted_address}}</td>
                            <td>{% if seller.stripe_connect_account_id %}Direct Deposit{% else %}Check{% endif %}
                            </td>
                            <td>
                                {% if seller_location.is_insurance_expiring_soon %}
                                <i class="fas fa-check-circle text-warning"></i> Expiring Soon
                                {% elif seller_location.is_insurance_compliant %}
                                <i class="fas fa-check-circle text-success"></i> Compliant
                                {% else %}
                                <i class="fas fa-times-circle text-danger"></i> Insurance Verification Required
                                {% endif %}
                            </td>
                            <td>
                                {% if seller_location.is_tax_compliant %}
                                <i class="fas fa-check-circle text-success"></i> Compliant
                                {% else %}
                                <i class="fas fa-times-circle text-danger"></i> Missing Tax Info
                                {% endif %}
                            </td>
                            <td><a class="btn btn-light" role="button"
                                    href="{% url 'supplier_location_detail' location_id=seller_location.id %}"><i
                                        class="far fa-eye"></i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Address</strong></td>
                            <td><strong>Payout Method</strong></td>
                            <td><strong>Insurance</strong></td>
                            <td><strong>Tax</strong></td>
                            <td><strong></strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                        Showing 1 to 10 of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span
                                        aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                                        aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}