{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% block title %}
    Location Details
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Location Details</h3>
    </div>
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ seller_location.name }}</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{ seller_location.address }}</h6>
                        <p style="margin-bottom: 0px;">
                            <strong>Status</strong>
                        </p>
                        <p>{{ order.status }}</p>
                        <p style="margin-bottom: 0px;">
                            <strong>Created</strong>
                        </p>
                        <p>{{ order.created_on }}</p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="200"></iframe>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Compliance Details</h4>
                        <form action="{% url 'supplier_location_detail' location_id=seller_location.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in compliance_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in compliance_form.visible_fields %}
                                <div class="mb-3">
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                        <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.errors %}
                                        <small class="text-danger">{{ field.errors }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary" type="submit" name="compliance_submit" id="submit-button">Save</button>
                            </div>
                        </form>
                        <p style="margin-top: 24px;border-top-style: solid;padding-top: 12px;">
                            <strong>Communication Settings</strong>
                        </p>
                        {% comment %} <h4 class="card-title">Communication Settings</h4> {% endcomment %}
                        <p>This is how we will get in contact with you if there are issues, changes, or questions about a specific Booking at this location.</p>
                        <form action="{% url 'supplier_location_detail' location_id=seller_location.id %}" method="post">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in seller_communication_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in seller_communication_form.visible_fields %}
                                <div class="mb-3">
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                        <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.errors %}
                                        <small class="text-danger">{{ field.errors }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary" type="submit" name="communication_submit" id="submit-button">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Payout Details</h4>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for payout in payouts %}
                                        <tr>
                                            <td>{{ payout.created_on }}</td>
                                            <td>{{ payout.amount }}</td>
                                            <td>{{ payout.status }}</td>
                                            <td>
                                                <a class="btn btn-light" role="button" href="{% url 'supplier_payout_detail' payout_id=payout.id %}"><i class="far fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><a href="{% url 'supplier_payouts' %}?location_id={{ seller_location.id|urlencode }}">See All Payouts for this Location</a>
                        <p style="margin-top: 24px;border-top-style: solid;padding-top: 12px;">
                            <strong>Payout Settings</strong>
                        </p>
                        <!-- TODO: Set up Stripe integration and remove the following for first iteration -->
                        <p>Payouts can be made by ACH (via Stripe Connect) or by check. Stripe Connect will be used, if configured, otherwise a check will be sent. Please contact us to set up Stripe.</p>
                        <!--   <p style="margin-bottom: 0px;"><strong>Receive Payments by ACH (Stripe
                            Connect)&nbsp;</strong></p><button class="btn btn-primary" type="button">Setup up Stripe
                        Connect</button>   -->
                        <p style="margin-top: 16px;">
                            <strong>Receive Payments by Check</strong>
                        </p>
                        <form action="{% url 'supplier_location_detail' location_id=seller_location.id %}" method="post">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in payout_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in payout_form.visible_fields %}
                                <div class="mb-3">
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                        <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.errors %}
                                        <small class="text-danger">{{ field.errors }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary" type="submit" name="payout_submit" id="submit-button">Save</button>
                            </div>
                        </form>
                        <!--   <div class="row">
                        <div class="col">
                            <p style="margin-bottom: 0px;">Payee Name</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><input type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col"><small class="form-text">The payee name on the check.</small>
                        </div>
                    </div>
                    <p style="margin-top: 16px;">Mailing Address</p>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col"><small class="form-text">Street Address</small></div>
                            </div>
                            <div class="row">
                                <div class="col"><input type="text"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col"><small class="form-text">City</small></div>
                            </div>
                            <div class="row">
                                <div class="col"><input type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col"><small class="form-text">State</small></div>
                            </div>
                            <div class="row">
                                <div class="col"><input type="text"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col"><small class="form-text">Zip Code</small></div>
                            </div>
                            <div class="row">
                                <div class="col"><input type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 24px;">
                        <div class="col"><button class="btn btn-primary" type="button">Save</button>
                        </div>
                    </div>   -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Users</h4>
                        <p>This feature is still in beta. Check back soon to create Teams, manage permissions, and more!</p><a class="card-link" href="#"></a><a class="card-link" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Bookings</h4>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td>{{ order.end_date }}</td>
                                            <td>{{ order.type }}</td>
                                            <td>{{ order.status }}</td>
                                            <td>
                                                <a class="btn btn-light" role="button" href="{% url 'supplier_booking_detail' order_id=order.id %}"><i class="far fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><a href="{% url 'supplier_bookings' %}?location_id={{ seller_location.id|urlencode }}">See All Bookings for this Location</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
{% endblock %}
