{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% block title %}
    Locations
{% endblock %}
{% block stylesheet %}
    <style>
        .page-item {
            cursor: pointer;
        }
        
        .page-item[disabled] {
            pointer-events: none;
            /* Optional: Change the cursor to not-allowed to indicate the div is disabled */
            cursor: not-allowed;
            color: var(--bs-btn-disabled-color);
            pointer-events: none;
            background-color: var(--bs-btn-disabled-bg);
            border-color: var(--bs-btn-disabled-border-color);
            opacity: var(--bs-btn-disabled-opacity);
        }
        .table-header-title {
            display: flex;
            align-items: center; /* Optional: Align items vertically in the center */
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid" hx-disabled-elt=".status-card, button, .form-control, .pagi-link, .clickable-header, .form-select">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">My Locations</h3>
            <a id="locations-download-csv" class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="{{ download_link }}" hx-swap-oob="true"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate CSV</a>
        </div>
        {% if request.user.is_staff %}
            <div class="row">
                <div class="col">
                    <select id="table-filter-options" class="form-select form-select-lg mb-3" aria-label="Filter Data By" name="tab" hx-get="{% url 'supplier_locations' %}" hx-target="#location-results" hx-swap="outerHTML" hx-push-url="true" hx-indicator="#htmx-indicator-status">
                        <option value="" selected>Filter Data By</option>
                        <option value="insurance">Missing Insurance Details</option>
                        <option value="payouts">Missing Payout Details</option>
                        <option value="tax">Missing Tax Details</option>
                        <option value="insurance_expiring">Insurance Expiring in Next 60 days</option>
                        <option value="compliant">Fully Compliant</option>
                    </select>
                </div>
            </div>
        {% endif %}
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="table-header-title">
                    <p class="text-primary m-0 fw-bold me-2">All Locations</p>
                    <span class="htmx-indicator" id="htmx-indicator-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table table-hover my-0" id="dataTable">
                        <thead>
                            <tr>
                                {% if request.user.is_staff %}
                                    <th>Seller</th>
                                {% endif %}
                                <th>Name</th>
                                <th>Address</th>
                                <th>Payout Method</th>
                                <th>Insurance</th>
                                <th>Tax</th>
                            </tr>
                        </thead>
                        <tbody id="location-results" hx-get="{{ locations_load_link }}" hx-push-url="true" hx-trigger="load" hx-swap="outerHTML" hx-indicator="#{{ htmx_loading_id }}"></tbody>
                        <tfoot>
                            <tr>
                                {% if request.user.is_staff %}
                                    <td>
                                        <strong>Seller</strong>
                                    </td>
                                {% endif %}
                                <td>
                                    <strong>Name</strong>
                                </td>
                                <td>
                                    <strong>Address</strong>
                                </td>
                                <td>
                                    <strong>Payout Method</strong>
                                </td>
                                <td>
                                    <strong>Insurance</strong>
                                </td>
                                <td>
                                    <strong>Tax</strong>
                                </td>
                                <td>
                                    <strong></strong>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row invisible" id="locations-pagination">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
