{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% block title %}
    Location Details
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Location Details</h3>
    </div>
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ seller_location.name }}</h4>
                        <h6 class="text-muted card-subtitle mb-2">{{ seller_location.address }}</h6>
                        <p style="margin-bottom: 0px;">
                            <strong>Address</strong>
                        </p>
                        <p>
                            <a class="card-link" href="https://www.google.com/maps/place/{{ seller_location.formatted_address|urlencode }}" target="_blank">{{ seller_location.formatted_address }}</a>
                        </p>
                        <p style="margin-bottom: 0px;">
                            <strong>Created</strong>
                        </p>
                        <p>{{ seller_location.created_on }}</p>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                {% if seller_location.latitude and seller_location.longitude %}
                    <gmp-map center="{{ seller_location.latitude }},{{ seller_location.longitude }}" zoom="14" map-id="DEMO_MAP_ID">
                        <gmp-advanced-marker position="{{ seller_location.latitude }},{{ seller_location.longitude }}" title="{{ seller_location.name }}"></gmp-advanced-marker>
                    </gmp-map>
                {% else %}
                    <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="200"></iframe>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <!-- Start: 1 Row 2 Columns -->
    <div class="container mt-3">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Compliance Details</h4>
                        <form action="{% url 'supplier_location_detail' location_id=seller_location.id %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in compliance_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in compliance_form.visible_fields %}
                                <div class="mb-3">
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                        <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.errors %}
                                        <small class="text-danger">{{ field.errors }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary" type="submit" name="compliance_submit" id="submit-button">Save</button>
                            </div>
                        </form>
                        <p style="margin-top: 24px;border-top-style: solid;padding-top: 12px;">
                            <strong>Communication Settings</strong>
                        </p>
                        {% comment %} <h4 class="card-title">Communication Settings</h4> {% endcomment %}
                        <p>This is how we will get in contact with you if there are issues, changes, or questions about a specific Booking at this location.</p>
                        <form action="{% url 'supplier_location_detail' location_id=seller_location.id %}" method="post">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in seller_communication_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in seller_communication_form.visible_fields %}
                                <div class="mb-3">
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                        <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.errors %}
                                        <small class="text-danger">{{ field.errors }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary" type="submit" name="communication_submit" id="submit-button">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Payout Details</h4>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for payout in payouts %}
                                        <tr class="clickable-row" onclick="window.location.href='{% url 'supplier_payout_detail' payout_id=payout.id %}'">
                                            <td>{{ payout.created_on }}</td>
                                            <td>{{ payout.amount }}</td>
                                            <td>{{ payout.status }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><a href="{% url 'supplier_payouts' %}?location_id={{ seller_location.id|urlencode }}">See All Payouts for this Location</a>
                        <p style="margin-top: 24px;border-top-style: solid;padding-top: 12px;">
                            <strong>Payout Settings</strong>
                        </p>
                        <!-- TODO: Set up Stripe integration and remove the following for first iteration -->
                        <p>
                            Payouts can be made via ACH or by check. For checks, set the payee name and address for your checks to be sent for this location. Please call us at
                            <a style="color:#5a5c69" href="tel:+17209295661">(720) 928-5661</a> to add or edit your Direct Deposits.
                        </p>
                        {% comment %} <p style="margin-bottom: 0px;">
                            <strong>Receive Payments by ACH (Stripe Connect)&nbsp;</strong>
                        </p><button class="btn btn-primary" type="button">Setup up Stripe Connect</button> {% endcomment %}
                        {% if seller_location.stripe_connect_account_id %}
                            <p style="margin-top: 16px; margin-bottom: 0px;">
                                <strong>ACH SETUP <i class="fas fa-check" style="color: #018421;"></i></strong>
                            </p>
                            <p>You are currently setup to receive payments via ACH.</p>
                        {% endif %}
                        <p style="margin-top: 16px;">
                            <strong>Receive Payments by Check</strong>
                        </p>
                        <form action="{% url 'supplier_location_detail' location_id=seller_location.id %}" method="post">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in payout_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in payout_form.visible_fields %}
                                <div class="mb-3">
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                        <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.errors %}
                                        <small class="text-danger">{{ field.errors }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary" type="submit" name="payout_submit" id="submit-button">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
    <!-- Start: 1 Row 2 Columns -->
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4>Users<button class="btn btn-primary float-end" type="button" data-bs-target="#user-seller-location-add-modal" data-bs-toggle="modal"><i class="far fa-plus-square"></i>&nbsp;Add</button></h4>
                        </div>
                        <p><b>Users with access to this Location.</b></p>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for user_seller_location in user_seller_locations %}
                                        <tr>
                                            <td>{{ user_seller_location.user.full_name }}</td>
                                            <td>{{ user_seller_location.user.email }}</td>
                                            <td>
                                                <a class="btn btn-light" role="button" href="{% url 'supplier_user_detail' user_id=user_seller_location.user.id %}"><i class="far fa-eye"></i></a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger" role="button" href="{% url 'supplier_location_remove_user' seller_location_id=seller_location.id user_id=user_seller_location.user.id %}"><i class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                    <p>No Users</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <p><b>Admin Users with access to all Locations</b></p>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for admin_user in admin_users %}
                                        <tr>
                                            <td>{{ admin_user.full_name }}</td>
                                            <td>{{ admin_user.email }}</td>
                                            <td>
                                                <a class="btn btn-light" role="button" href="{% url 'supplier_user_detail' user_id=admin_user.id %}"><i class="far fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                    <p>No Admin Users</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Bookings</h4>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr class="clickable-row" onclick="window.location.href='{% url 'supplier_booking_detail' order_id=order.id %}'">
                                            <td>{{ order.end_date }}</td>
                                            <td>{{ order.type }}</td>
                                            <td>{{ order.status }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><a href="{% url 'supplier_bookings' %}?location_id={{ seller_location.id|urlencode }}">See All Bookings for this Location</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="user-seller-location-add-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Users to this Location</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Select a user(s) to give them permissions to view this Location.</p>
                    <div class="table-responsive" style="margin-bottom: 16px;">
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                {% for user in non_associated_users %}
                                    <tr>
                                        <td>{{ user.full_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <a class="btn btn-light" role="button" href="{% url 'supplier_location_add_user' seller_location_id=seller_location.id user_id=user.id %}"><i class="far fa-plus-square"></i></a>
                                        </td>
                                        {% comment %} <td>
                                            <a class="btn btn-light" role="button" href="user_detail.html"><i class="far fa-plus-square"></i></a>
                                        </td> {% endcomment %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="user-seller-location-delete-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remove this User from this Location?</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>This will not delete the User, but they will no longer be able to see this Location.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">No, don't remove</button><button class="btn btn-danger" type="button">Yes, remove them</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End: 1 Row 2 Columns -->
{% endblock %}
