<html>

<head>
    <title>Downstream Order</title>
</head>

<body>
    <img class="intercom-align-center" width="336" border="0"
        style="max-width:336px;width:100%;height:auto;display:block;margin: auto;"
        src="https://plugin.markaimg.com/public/8197865d/RrLg3VxYG8mBPIX7d52dABYIKYpPWc.png" />
    <br>
    <span
        style="color:#020f16;font-weight:600;font-family:Outfit,Arial,sans-serif;font-size:24px;line-height:26px;text-align:center;">
        {{ order.order_group.seller_product_seller_location.seller_product.seller.name }},
        <br>you have a new{% if order.order_type %}
        {{ order.order_type }}
        {% endif %}booking request through Downstream Marketplace!
    </span>
    <hr>
    <p>Product:
        <b>{{ order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</b>
    </p>
    <br>
    <p>Supplier Location:
        <mark>{{ order.order_group.seller_product_seller_location.seller_location.formatted_address }}</mark>
    </p>
    <hr>
    <table border='1'>
        <tr>
            <th>Waste Type</th>
            <th>Tons Included</th>
            <th>Rental Days Included</th>
        </tr>
        <tr>
            <td>{% if order.order_group.waste_type %}
                {{ order.order_group.waste_type.name }}
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>{% if order.order_group.material %}
                {{ order.order_group.material.tonnage_included }}
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>{% if order.order_group.rental.included_days %}
                {{ order.order_group.rental.included_days }}
                {% else %}
                N/A
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <p>Booking Date: <b>{{ order.end_date }}</b></p>
    <br>
    <p>Booking Address: <mark>{{ order.order_group.user_address.formatted_address }}</mark></p>
    <hr>
    <table border='1'>
        <tr>
            <th>Booking Type</th>
            <th>Time Window (Preferred)</th>
            <th>Site Contact</th>
            {% if order.order_group.subscription and order.order_group.subscription.frequency %}
            <td>Frequency</td>
            {% endif %}
        </tr>
        <tr>
            <td>{{ order.order_type }}</td>
            <td>
                {% if order.schedule_window %}
                    {{ order.schedule_window }}
                {% else %}
                    {% if order.order_group.time_slot %}
                        {{ order.order_group.time_slot.name }}
                        <br />
                        {{ order.order_group.time_slot.start }}
                        -
                        {{ order.order_group.time_slot.end }}
                    {% else %}
                        Any
                    {% endif %}
                {% endif %}
            </td>
            <td>{{ order.order_group.user.first_name }}
                {% if order.order_group.user.phone %}
                <br>
                <a style="color:#020f16"
                    href="tel:{{ order.order_group.user.phone }}">{{ order.order_group.user.phone }}</a>
                {% else %}
                <br>
                <a style="color:#020f16" href="tel:+17372324216">(737) 232-4216</a>
                {% endif %}
            </td>
            {% if order.order_group.subscription and order.order_group.subscription.frequency %}
            <td>
                {{ order.order_group.subscription.frequency.name }}
            </td>
            {% endif %}
        </tr>
    </table>
    <hr>
    {% if order.order_group.user_address.access_details %}
    <p>Access Details: <i>{{ order.order_group.user_address.access_details }}</i></p>
    <hr>
    {% endif %}
    {% if order.order_group.placement_details  %}
    <p>Placement Details: <i>{{ order.order_group.placement_details }}</i></p>
    <hr>
    {% endif %}
    {% if accept_url %}
    <div class="intercom-interblocks-button intercom-align-center">
        <a class="intercom-h2b-button" href="{{ accept_url }}">Open Confirmation Form</a>
    </div>
    {% endif %}
</body>

</html>