{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Payouts
{% endblock %}
{% block javascript %}
    <script>
        const dateFilter = document.getElementById("order-date-filter");
        // listen for page load event.
        // NOTE: Do this first so that the date filter value is set before the change listener is added.
        document.addEventListener("DOMContentLoaded", function () {
            // Check if query params has service_date
            const urlParams = new URLSearchParams(window.location.search);
            const serviceDate = urlParams.get("service_date");
            if (serviceDate) {
                // update date filter value
                dateFilter.value = serviceDate;
            }
        });
        function selectDate(el) {
            // Get current query params.
            let queryParams = new URLSearchParams(window.location.search);
            // Check if date filter has a value
            if (el.value) {
                // update current queryParams for date filter url
                let urlencodeDate = encodeURIComponent(el.value);
                queryParams.set("service_date", urlencodeDate);
            } else {
                // remove service_date from queryParams
                queryParams.delete("service_date");
            }
            // update date filter url with current queryParams
            const dateFilterUrl = "{% url 'supplier_payouts' %}?" + queryParams.toString();
            // redirect to date filter url
            window.location.href = dateFilterUrl;
        }
        // Add change event listener to date filter
        dateFilter.addEventListener("change", function () {
            selectDate(this);
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Payouts</h3>
            <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="{{ download_link }}"><i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate CSV</a>
        </div>
        <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        {% include 'supplier_dashboard/snippets/payouts_metric_cards.html' %}
        <div hx-get="{% url 'supplier_payouts_table' %}" hx-trigger="load" hx-swap="innerHTML" hx-indicator="#htmx-indicator-loading-status">
            {% include 'supplier_dashboard/snippets/payouts_table.html' %}
        </div>
    </div>
{% endblock %}
