{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Payouts
{% endblock %}
{% block javascript %}
    <script>
        const dateFilter = document.getElementById("order-date-filter");
        // listen for page load event.
        // NOTE: Do this first so that the date filter value is set before the change listener is added.
        document.addEventListener("DOMContentLoaded", function () {
            // Check if query params has service_date
            const urlParams = new URLSearchParams(window.location.search);
            const serviceDate = urlParams.get("service_date");
            if (serviceDate) {
                // update date filter value
                dateFilter.value = serviceDate;
            }
        });
        function selectDate(el) {
            // Get current query params.
            let queryParams = new URLSearchParams(window.location.search);
            // Check if date filter has a value
            if (el.value) {
                // update current queryParams for date filter url
                let urlencodeDate = encodeURIComponent(el.value);
                queryParams.set("service_date", urlencodeDate);
            } else {
                // remove service_date from queryParams
                queryParams.delete("service_date");
            }
            // update date filter url with current queryParams
            const dateFilterUrl = "{% url 'supplier_payouts' %}?" + queryParams.toString();
            // redirect to date filter url
            window.location.href = dateFilterUrl;
        }
        // Add change event listener to date filter
        dateFilter.addEventListener("change", function () {
            selectDate(this);
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Payouts</h3>
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-primary py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                    <span>PENDING</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span>${{ not_yet_paid|stringformat:'.2f'|intcomma }}</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-success py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1">
                                    <span>THIS WEEK</span>
                                </div>
                                <div class="text-dark fw-bold h5 mb-0">
                                    <span>${{ paid_this_week|stringformat:'.2f'|intcomma }}</span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar-day fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1">
                                    <span>ALL Completed</span>
                                </div>
                                <div class="row g-0 align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark fw-bold h5 mb-0 me-3">
                                            <span>${{ total_paid|stringformat:'.2f'|intcomma }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar-check fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-start-info py-2">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1">
                                    <span class="text-warning">NOT YET PAID</span>
                                </div>
                                <div class="row g-0 align-items-center">
                                    <div class="col-auto">
                                        <div class="text-dark fw-bold h5 mb-0 me-3">
                                            <span>${{ not_yet_paid|stringformat:'.2f'|intcomma }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar-times fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col">
                        <p class="text-primary m-0 fw-bold">All Payouts</p>
                    </div>
                    <div class="col">
                        <div class="col-md-6" style="margin-left: auto;">
                            <label for="order-date-filter">Filter by date</label>
                            <input id="order-date-filter" class="form-control" type="date" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table table-hover my-0" id="dataTable">
                        <thead>
                            <tr>
                                {% if request.user.is_staff %}
                                    <th>Seller</th>
                                {% endif %}
                                <th>Processed Date</th>
                                <th>Amount</th>
                                {% if payout.new_abstract_field_for_status %}
                                    <th>Delivery Date</th>
                                {% endif %}
                                {% if payout.status %}
                                    <th>Status</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for payout in page_obj %}
                                <tr class="clickable-row" onclick="window.location.href='{% url 'supplier_payout_detail' payout_id=payout.id %}'">
                                    {% if request.user.is_staff %}
                                        <td>{{ payout.order.order_group.seller_product_seller_location.seller_location.seller.name }}</td>
                                    {% endif %}
                                    <td>{{ payout.created_on }}</td>
                                    <td>{{ payout.amount }}</td>
                                    {% if payout.new_abstract_field_for_status %}
                                        <td>{{ payout.new_abstract_field_for_status }}</td>
                                    {% endif %}
                                    {% if payout.status %}
                                        <td>{{ payout.status }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                {% if request.user.is_staff %}
                                    <td>
                                        <strong>Seller</strong>
                                    </td>
                                {% endif %}
                                <td>
                                    <strong>Processed Date</strong>
                                </td>
                                <td>
                                    <strong>Amount</strong>
                                </td>
                                {% if payout.new_abstract_field_for_status %}
                                    <td>
                                        <strong>Delivery Date</strong>
                                    </td>
                                {% endif %}
                                {% if payout.status %}
                                    <td>
                                        <strong>Status</strong>
                                    </td>
                                {% endif %}
                                <td>
                                    <strong></strong>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                {% include 'supplier_dashboard/snippets/pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}
