{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}
{% block stylesheet %}
<style>
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3 class="text-dark mb-4">Profile</h3>
    <div class="row mb-3">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    <img class="rounded-circle mb-3 mt-4"
                        src="{% if user.photo %}{{ user.photo.url }}{% else %}{% static 'supplier_dashboard/img/dogs/image2.jpeg' %}{% endif %}"
                        width="160" height="160">
                    {% comment %} <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change
                            Photo</button></div> {% endcomment %}
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row mb-3 d-none">
                <div class="col">
                    <div class="card text-white bg-primary shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                since last month</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white bg-success shadow">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col">
                                    <p class="m-0">Peformance</p>
                                    <p class="m-0"><strong>65.2%</strong></p>
                                </div>
                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                            </div>
                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                since last month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">User Settings</p>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'supplier_profile' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- Include the hidden fields -->
                                {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                                {% endfor %}
                                <!-- Include the visible fields -->
                                {% for field in form.visible_fields %}
                                <div class="mb-3">
                                    {{ field.label_tag }} {{ field }}
                                    {% if field.help_text %}
                                    <small id="{{field.html_name}}Help"
                                        class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.errors %}
                                    <small class="text-danger">{{ field.errors }}</small>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <div class="d-flex flex-row-reverse">
                                    <!-- <input type="submit" name="action_button" id="submit-button" value="Submit"> -->
                                    <button class="btn btn-primary btn-sm" type="submit" name="action_button"
                                        id="submit-button">Save Settings</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}