{% extends 'supplier_dashboard/supplier_base.html' %}
{% load static %}
{% load tz %}
{% load humanize %}
{% block title %}
    Users
{% endblock %}
{% block javascript %}
    <script>
        function selectSellerPopup(event) {
            Swal.fire({
                title: "Attention",
                text: "Please select a seller in order to invite a user.",
                icon: "question",
                showCancelButton: true,
                confirmButtonText: "Yes",
                cancelButtonText: "Cancel",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Open the Bootstrap dropdown dropdown-toggle
                    setTimeout(() => {
                        console.log("Show");
                        let dropdownToggle = document.querySelector(".dropdown-toggle");
                        if (dropdownToggle) {
                            dropdownToggle.click();
                        }
                        let dropdownMenu = document.querySelector(".navbar-search-dropdown");
                        if (dropdownMenu && dropdownMenu.classList.contains("show")) {
                            let input = document.querySelector('input[name="search"]');
                            if (input) {
                                input.focus();
                            }
                        }
                    }, 100);
                }
            });
        }
    </script>
{% endblock %}
{% block stylesheet %}
    <style></style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Users</h3>
            {% if not seller %}
                {% if not user.is_superuser %}
                    <button class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" onclick="selectSellerPopup(event);"><i class="fas fa-plus-square fa-sm text-white-50"></i>&nbsp;Create User</button>
                {% else %}
                    <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="{% url 'supplier_new_user' %}"><i class="fas fa-plus-square fa-sm text-white-50"></i>&nbsp;Create User</a>
                {% endif %}
            {% elif user.is_staff or user.type == 'ADMIN' %}
                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="{% url 'supplier_new_user' %}"><i class="fas fa-plus-square fa-sm text-white-50"></i>&nbsp;Create User</a>
            {% endif %}
        </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col">
                        <p class="text-primary m-0 fw-bold" id="table-title">Users</p>
                        <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                    </div>
                    <div class="col">
                        <div class="col-md-6" style="margin-left: auto;">
                            <label for="user-search-filter">Filter by name or email</label>
                            <input id="user-search-filter" class="form-control" type="search" name="q" hx-push-url="true" hx-get="{% url 'supplier_users' %}" hx-trigger="input changed delay:500ms, search" hx-target="#user-results" hx-swap="outerHTML" hx-indicator="#htmx-indicator-loading-status" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table table-hover my-0" id="user-results" hx-get="{{ users_table_link }}" hx-trigger="load" hx-swap="outerHTML" hx-indicator="#htmx-indicator-loading-status">
                        <thead>
                            <tr>
                                {% if request.user.is_staff %}
                                    <th>Company</th>
                                {% endif %}
                                <th>Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Associated Locations</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                {% if request.user.is_staff %}
                                    <th>Company</th>
                                {% endif %}
                                <th>Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Associated Locations</th>
                                <th>Created</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row invisible" id="users-pagination"></div>
            </div>
        </div>
    </div>
{% endblock %}
