aiohttp==3.8.3
aiosignal==1.3.1
anyio==4.1.0
asgiref==3.6.0
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==22.2.0
beautifulsoup4==4.11.1
blinker==1.6.2
boto3==1.26.49
botocore==1.29.49
cachetools==5.2.1
certifi==2021.10.8
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.4
colorama==0.4.6
coverage==7.0.5
cryptography==40.0.2
distlib==0.3.6
dj-database-url==2.1.0
Django==3.2.20
django-admin-interface==0.24.2
django-admin-logs==1.0.2
django-admin-rangefilter==0.11.1
django-admin-volt==1.0.10
django-ajax-selects==2.2.0
django-bootstrap4==22.3
django-cleanup==6.0.0
django-colorfield==0.8.0
django-cors-headers==3.13.0
django-crispy-forms==1.14.0
django-environ==0.10.0
django-extensions==3.2.3
django-filter==22.1
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-formtools==2.4
django-ipware==4.0.2
django-minify-html==1.4.0
django-multiselectfield==0.1.12
django-otp==1.1.4
django-phonenumber-field==7.0.2
django-recaptcha==3.0.0
django-settings-holder==0.1.0
django-solo==2.0.0
django-storages==1.14
django-tempus-dominus==5.1.2.17
djangorestframework==3.14.0
djangorestframework-jwt==1.11.0
drf-spectacular==0.26.3
filelock==3.9.0
flake8==6.0.0
Flask==2.3.2
frozenlist==1.3.3
geographiclib==2.0
geopy==2.3.0
googlemaps==4.10.0
gunicorn==21.2.0
h11==0.14.0
h3==3.7.6
httpcore==1.0.2
httpx==0.25.2
humanize==4.6.0
icalendar==5.0.4
idna==3.4
importlib-metadata==6.8.0
inflection==0.5.1
iniconfig==1.1.1
install==1.3.5
ipaddress==1.0.16
ipinfo==4.4.2
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
josepy==1.13.0
jsonschema==4.18.3
jsonschema-specifications==2023.6.1
llvmlite==0.41.1
mailchimp-marketing==3.0.80
mailchimp-transactional==1.0.50
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
minify_html==0.11.1
mozilla-django-oidc==3.0.0
multidict==6.0.4
nulltype==2.3.1
numpy==1.24.1
packaging==23.1
pandas==2.0.3
parsedatetime==2.6
pbr==5.11.1
phonenumbers==8.12.43
Pillow==9.4.0
plaid-python==15.0.0
platformdirs==2.6.2
protobuf==4.25.0
psycopg2-binary==2.9.7
py==1.11.0
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.10.12
pydot==1.4.2
pyfcm==1.5.4
pyflakes==3.0.1
pygeoip==0.3.2
pygraphviz==1.11
PyJWT==1.7.1
PyMySQL==1.1.0
pyOpenSSL==23.1.1
pyotp==2.6.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-geoip==1.2
python-http-client==3.3.6
python-intercom==3.1.0
pytz==2023.3
PyYAML==6.0
pyzmq==25.1.0
pyzoom==1.0.3
qrcode==7.3.1
recurring-ical-events==2.0.1
referencing==0.29.1
requests==2.28.2
rpds-py==0.8.11
s3transfer==0.6.0
sendgrid==6.9.6
shortuuid==1.0.11
six==1.15.0
sniffio==1.3.0
soupsieve==2.2.1
sqlparse==0.4.2
starkbank-ecdsa==2.0.3
stevedore==4.1.1
stripe==7.7.0
timezonefinder==6.1.9
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2021.5
uritemplate==4.1.1
urllib3==1.26.8
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
Werkzeug==2.3.6
whitenoise==6.5.0
x-wr-timezone==0.0.5
xlrd==2.0.1
yarl==1.8.2
zipp==3.16.0
