{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    500
{% endblock %}
{% block stylesheet %}
    <style>
        :root {
            --black: #0b141f;
            --sea-green: #054263;
            --ds-bg-color: #f2fcff;
        }
        .utility-page-wrap {
            justify-content: center;
            align-items: center;
            width: 100vw;
            max-width: 100%;
            height: 100vh;
            max-height: 100%;
            display: flex;
        }
        ._500-main-heading {
            color: var(--sea-green);
            font-size: 14.375rem;
        }
        h1 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 3.875rem;
            font-weight: 600;
            line-height: 101%;
        }
        ._500-heading {
            margin-bottom: 1.25rem;
        }
        h2 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 3rem;
            font-weight: 700;
            line-height: 100%;
            color: black;
        }
        .page-para {
            margin-bottom: 1.25rem;
            color: black;
        }
        .utility-page-content {
            text-align: center;
            font-size: 1.4375rem;
            line-height: 120%;
        }
        .w-button {
            color: #fff;
            line-height: inherit;
            cursor: pointer;
            background-color: #3898ec;
            border: 0;
            border-radius: 0;
            padding: 9px 15px;
            text-decoration: none;
            display: inline-block;
        }
        .secoundary-button {
            background-color: var(--sea-green);
            color: var(--ds-bg-color);
            text-align: center;
            letter-spacing: .03125rem;
            border-radius: .75rem;
            padding: 1.25rem 2.5rem;
            font-size: 1.125rem;
            font-weight: 500;
            transition: opacity .23s;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="utility-page-wrap">
        <div class="utility-page-content">
            <h1 class="_500-main-heading">500</h1>
            <h2 class="_500-heading">Internal Server Error</h2>
            <div class="page-para">We're experiencing technical difficulties. Please try again later.</div>
            <a href="/" class="secoundary-button w-button">Go back home</a>
        </div>
    </div>
{% endblock %}


