{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Company Details
{% endblock %}
{% block javascript %}
    <script>
        const checkoutModal = document.getElementById("new-user-modal");
        let itemChanged = false;
        // listen for htmx afterSettle event.
        document.body.addEventListener("htmx:afterSettle", function (event) {
            itemChanged = true;
        });
        checkoutModal.addEventListener("hidden.bs.modal", (event) => {
            if (itemChanged) {
                // reload the page to reflect the changes
                location.reload();
            }
        });
        const addCardModal = document.getElementById("add-card-modal");
        // BasisTheory
        let bt;
        let cardNumberElement;
        let cardExpirationDateElement;
        let cardVerificationCodeElement;
        function disableAddCardSaveButton() {
            // Disable card_submit button
            document.getElementById("card_submit").disabled = true;
            // Show htmx indicator by adding a class to the body htmx-request
            document.getElementById("add-card-spinner").classList.add("htmx-request");
        }
        function enableAddCardSaveButton() {
            // Enable card_submit button
            document.getElementById("card_submit").disabled = false;
            // Hide htmx indicator by removing a class to the body htmx-request
            document.getElementById("add-card-spinner").classList.remove("htmx-request");
        }
        
        async function submitCard() {
            let token = null;
            try {
                disableAddCardSaveButton();
        
                token = await bt.tokens.create({
                    type: "card",
                    data: {
                        number: cardNumberElement,
                        expiration_month: cardExpirationDateElement.month(),
                        expiration_year: cardExpirationDateElement.year(),
                        cvc: cardVerificationCodeElement,
                    },
                });
                // Create Payment Method with token.id
                // request.get_full_path
                // body: JSON.stringify({
                //    token: "token.id",
                //    next: window.location.pathname
                // })
                const data = new URLSearchParams();
                data.append("token", token.id);
                data.append("user_group", "{{ user_group.id }}");
                data.append("next", window.location.pathname);
                const response = await fetch("{% url 'customer_new_payment' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    body: data.toString(),
                });
                if (response.ok) {
                    // reload the page to reflect the changes
                    location.reload();
                } else {
                    console.error("Failed to create payment method", response);
                    // Show popup with error message
                    Swal.fire({
                        title: "Error!",
                        text: `Failed to create payment method: ${response.statusText}-[token: ${token.id}]`,
                        icon: "error",
                        confirmButtonText: "Ok",
                    }).then((result) => {
                        enableAddCardSaveButton();
                    });
                }
            } catch (error) {
                console.error("Create Payment Error", error, error.details, event.data);
                console.log(error.data, typeof error.data);
                console.log(error.details, typeof error.details);
                let errorReasons = [];
                let errorTitle = "Error!";
                if (error.data) {
                    console.log("1", error.data, typeof error.data);
                    let loopErrors = [];
                    if (error.validationErrors && error.validationErrors.data) {
                        loopErrors = error.validationErrors.data;
                        errorTitle = "Validation Error!";
                    } else if (error.data.errors) {
                        loopErrors = error.data.errors;
                    }
                    if (error.data.title) {
                        errorTitle = error.data.title;
                    }
                    for (let key in loopErrors) {
                        if (loopErrors.hasOwnProperty(key)) {
                            let reason = loopErrors[key];
                            errorReasons.push(`${key}: ${reason}`);
                        }
                    }
                } else if (error.details && error.details.data) {
                    console.log("2", error.details.data, typeof error.details.data);
                    errorTitle = "Validation Error!";
                    // Extract and format error reasons from the data object
                    errorReasons = [];
                    for (let key in error.details.data) {
                        if (error.details.data.hasOwnProperty(key)) {
                            let reason = error.details.data[key].type;
                            errorReasons.push(`${key}: ${reason}`);
                        }
                    }
                    // `Reason: ${formattedErrorReasons}`,
                } else {
                    errorReasons.push(`Failed to create payment method: ${error}-[BasisTheory response: ${token}]`);
                }
                let formattedErrorReasons = errorReasons.join(", ");
                Swal.fire({
                    title: errorTitle,
                    text: `${formattedErrorReasons}`,
                    icon: "error",
                    confirmButtonText: "Ok",
                }).then((result) => {
                    enableAddCardSaveButton();
                });
            }
        }
        
        async function mountCardElements() {
            // Check if Elements are already mounted
            if (cardNumberElement && cardExpirationDateElement && cardVerificationCodeElement) {
                return;
            }
            disableAddCardSaveButton();
            if (!bt) {
                bt = await BasisTheory.init("{{ BASIS_THEORY_API_KEY }}", { elements: true });
            }
            // Creates Elements instances
            cardNumberElement = bt.createElement("cardNumber", {
                targetId: "myCardNumber", // (custom) used for tracking validation errors
            });
            cardExpirationDateElement = bt.createElement("cardExpirationDate", {
                targetId: "myCardExpiration",
            });
            cardVerificationCodeElement = bt.createElement("cardVerificationCode", {
                targetId: "myCardVerification",
            });
        
            // Mounts Elements in the DOM in parallel
            await Promise.all([cardNumberElement.mount("#cardNumber"), cardExpirationDateElement.mount("#cardExpirationDate"), cardVerificationCodeElement.mount("#cardVerificationCode")]);
        
            // Binds card brand to verification code element
            cardNumberElement.on("change", ({ cardBrand }) => {
                cardVerificationCodeElement.update({ cardBrand });
            });
        
            document.getElementById("card_submit").addEventListener("click", submitCard);
            enableAddCardSaveButton();
        }
        addCardModal.addEventListener("shown.bs.modal", (event) => {
            if (event.target === addCardModal) {
                mountCardElements();
            }
        });
        
        window.addEventListener("load", async () => {
            try {
                // Initialize BasisTheory SDK with Elements.
                bt = await BasisTheory.init("{{ BASIS_THEORY_API_KEY }}", { elements: true });
            } catch (e) {
                // handle errors that could happen while loading elements script
                console.error("Initialize BasisTheory:", e);
            }
        });
        
        document.body.addEventListener("htmx:beforeSwap", function (evt) {
            if (evt.detail.xhr.status >= 400) {
                console.error("Error", evt.detail.xhr);
                // alert the user when a 400 error occurs when using htmx
                Swal.fire({ title: "Error", text: `${evt.detail.xhr.response}`, icon: "error" });
            }
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Company Details</h3>
    </div>
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6 mb-2">
                <div class="card mb-4">
                    <div class="card-body">
                        {% comment %} <h4 class="card-title">***edit UserGroup form***</h4> {% endcomment %}
                        <form action="{% url 'customer_company_detail' user_group_id=user_group.id %}" method="post">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in form.visible_fields %}
                                {% if field.widget_type == 'checkbox' %}
                                    <div class="mb-3 form-switch">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}{{ field.label_suffix }}</label>
                                        {% if field.help_text %}
                                            <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                        {% if field.errors %}
                                            <small class="text-danger">{{ field.errors }}</small>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="mb-3">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}{{ field.label_suffix }}</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                        {% if field.errors %}
                                            <small class="text-danger">{{ field.errors }}</small>
                                        {% endif %}
                                        {% if field.name == 'street' %}
                                            <div class="form-text">
                                                <a class="card-link" href="https://www.google.com/maps/place/{{ user_address.formatted_address|urlencode }}" target="_blank">{{ user_address.formatted_address }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary btn-sm" type="submit" name="access_details_button" style="margin-top: 12px;">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div>
                            {% if request.user.is_staff and not is_impersonating %}
                                <h4>Users&nbsp;<button class="btn btn-primary float-end" type="button" data-bs-target="#new-user-modal-s" data-bs-toggle="modal"><i class="far fa-plus-square"></i>&nbsp;Add</button></h4>
                            {% else %}
                                <h4>Users&nbsp;<a class="btn btn-primary float-end" type="button" href="{% url 'customer_new_user' %}"><i class="far fa-plus-square"></i>&nbsp;Add</a></h4>
                            {% endif %}
                            {% comment %}Uncomment following line to be able to add users directly here{% endcomment %}
                            {% comment %} <h4>Users&nbsp;<a class="btn btn-primary float-end" type="button" data-bs-target="#new-user-modal" data-bs-toggle="modal" hx-trigger="click" hx-target="#new-user-modal" hx-get="{% url 'customer_new_company_user' user_group_id=user_group.id %}"><i class="far fa-plus-square"></i>&nbsp;Add <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></a></h4> {% endcomment %}
                        </div>
                        <hr />
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table table-hover">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for user in user_group.users.all %}
                                        <tr class="clickable-row" onclick="window.location.href='{% url 'customer_user_detail' user_id=user.id %}'">
                                            <td>{{ user.full_name }}</td>
                                            <td>{{ user.email }}</td>
                                            {% comment %} <td>
                                                <a class="btn btn-danger" role="button" href="user_detail.html" onclick="event.stopPropagation();" data-bs-target="#modal-4" data-bs-toggle="modal"><i class="far fa-trash-alt"></i></a>
                                            </td> {% endcomment %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Select Payment Method <span class="htmx-indicator" id="htmx-indicator-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span><button class="btn btn-primary btn-sm float-end" type="button" data-bs-target="#add-card-modal" data-bs-toggle="modal"><i class="fas fa-plus-square fa-sm text-white-50"></i>&nbsp;Add Card</button></h4>
                                {% for payment_method in payment_methods %}
                                    {% include 'customer_dashboard/snippets/payment_method_item.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Locations&nbsp;</h4>
                                <p>Locations for this Company</p>
                                <div class="table-responsive" style="margin-bottom: 16px;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            {% for user_address in user_group.user_addresses.all %}
                                                <tr class="clickable-row" onclick="window.location.href='{% url 'customer_location_detail' location_id=user_address.id %}'">
                                                    <td>{{ user_address.name }}</td>
                                                    <td>{{ user_address.formatted_address }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Internal Data&nbsp;</h4>
                                <p>Share Code: {{ user_group.share_code }}</p>
                                <p>Account Owner: {{ user_group.account_owner.email }}</p>
                                <p>Apollo ID: {{ user_group.apollo_id }}</p>
                                <p>Stage: {{ user_group.stage }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modals %}
    <div class="modal fade" role="dialog" tabindex="-1" id="new-user-modal-s">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add User</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    {% if request.user.is_staff and not is_impersonating %}
                        <p>Tapping the impersonate button will first impersonate this Company and then take you to the Users page where you can add users.</p>
                    {% else %}
                        <p>Tapping the Add User button will take you to the correct page.</p>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button>
                    {% if request.user.is_staff and not is_impersonating %}
                        <a class="btn btn-primary" href="{% url 'customer_impersonation_start' %}?user_group_id={{ user_group.id }}&redirect_url={% url 'customer_new_user' %}">Impersonate</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'customer_new_user' %}">Add User</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="new-user-modal" style="display: none;" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-4">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remove this User?</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>This will Archive this User. They will no longer be able to login to their account.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">No, don't remove</button><button class="btn btn-danger" type="button">Yes, remove them</button>
                </div>
            </div>
        </div>
    </div>
    <div id="add-card-modal" class="modal fade" role="dialog" tabindex="-1" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Card</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="cardNumber"></div>
                    <div style="display: flex;">
                        <div id="cardExpirationDate" style="width: 100%;"></div>
                        <div id="cardVerificationCode" style="width: 100%;"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" id="card_submit">Save <span class="htmx-indicator" id="add-card-spinner"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
