{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load tz %}
{% load humanize %}
{% block title %}
    Invoice Details
{% endblock %}
{% block javascript %}
    <script>
        const addCardModal = document.getElementById("add-card-modal");
        // BasisTheory
        let bt;
        let cardNumberElement;
        let cardExpirationDateElement;
        let cardVerificationCodeElement;
        function disableAddCardSaveButton() {
            // Disable card_submit button
            document.getElementById("card_submit").disabled = true;
            // Show htmx indicator by adding a class to the body htmx-request
            document.getElementById("add-card-spinner").classList.add("htmx-request");
        }
        function enableAddCardSaveButton() {
            // Enable card_submit button
            document.getElementById("card_submit").disabled = false;
            // Hide htmx indicator by removing a class to the body htmx-request
            document.getElementById("add-card-spinner").classList.remove("htmx-request");
        }
        
        async function submitCard() {
            let token = null;
            try {
                disableAddCardSaveButton();
        
                {% verbatim %}
                let fingerprint_expression = "{{ data.number }}";
                let search_indexes = ["{{ data.number }}", "{{ data.number | last4 }}"];
                {% endverbatim %}
        
                token = await bt.tokens.create({
                    type: "card",
                    data: {
                        number: cardNumberElement,
                        expiration_month: cardExpirationDateElement.month(),
                        expiration_year: cardExpirationDateElement.year(),
                        cvc: cardVerificationCodeElement,
                    },
                    search_indexes: search_indexes,
                    deduplicate_token: true,
                    fingerprint_expression: fingerprint_expression
                });
                // Create Payment Method with token.id
                // request.get_full_path
                // body: JSON.stringify({
                //    token: "token.id",
                //    next: window.location.pathname
                // })
                const data = new URLSearchParams();
                data.append("token", token.id);
                data.append("user_group", "{{ user_group.id }}");
                data.append("next", window.location.pathname);
                const response = await fetch("{% url 'customer_new_payment' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    body: data.toString(),
                });
                if (response.ok) {
                    // reload the page to reflect the changes
                    location.reload();
                } else {
                    console.error("Failed to create payment method", response);
                    // Show popup with error message
                    response.text().then((text) => {
                        Swal.fire({
                            title: "Error!",
                            text: `Failed to create payment method: ${text}`,
                            icon: "error",
                            confirmButtonText: "Ok",
                        }).then((result) => {
                            enableAddCardSaveButton();
                        });
                    });
                }
            } catch (error) {
                console.error("Create Payment Error", error, error.details, event.data);
                console.log(error.data, typeof error.data);
                console.log(error.details, typeof error.details);
                let errorReasons = [];
                let errorTitle = "Error!";
                if (error.data) {
                    console.log("1", error.data, typeof error.data);
                    let loopErrors = [];
                    if (error.validationErrors && error.validationErrors.data) {
                        loopErrors = error.validationErrors.data;
                        errorTitle = "Validation Error!";
                    } else if (error.data.errors) {
                        loopErrors = error.data.errors;
                    }
                    if (error.data.title) {
                        errorTitle = error.data.title;
                    }
                    for (let key in loopErrors) {
                        if (loopErrors.hasOwnProperty(key)) {
                            let reason = loopErrors[key];
                            errorReasons.push(`${key}: ${reason}`);
                        }
                    }
                } else if (error.details && error.details.data) {
                    console.log("2", error.details.data, typeof error.details.data);
                    errorTitle = "Validation Error!";
                    // Extract and format error reasons from the data object
                    errorReasons = [];
                    for (let key in error.details.data) {
                        if (error.details.data.hasOwnProperty(key)) {
                            let reason = error.details.data[key].type;
                            errorReasons.push(`${key}: ${reason}`);
                        }
                    }
                    // `Reason: ${formattedErrorReasons}`,
                } else {
                    errorReasons.push(`Failed to create payment method: ${error}-[BasisTheory response: ${token}]`);
                }
                let formattedErrorReasons = errorReasons.join(", ");
                Swal.fire({
                    title: errorTitle,
                    text: `${formattedErrorReasons}`,
                    icon: "error",
                    confirmButtonText: "Ok",
                }).then((result) => {
                    enableAddCardSaveButton();
                });
            }
        }
        
        async function mountCardElements() {
            // Check if Elements are already mounted
            if (cardNumberElement && cardExpirationDateElement && cardVerificationCodeElement) {
                return;
            }
            disableAddCardSaveButton();
            if (!bt) {
                bt = await BasisTheory.init("{{ BASIS_THEORY_API_KEY }}", { elements: true });
            }
            // Creates Elements instances
            cardNumberElement = bt.createElement("cardNumber", {
                targetId: "myCardNumber", // (custom) used for tracking validation errors
            });
            cardExpirationDateElement = bt.createElement("cardExpirationDate", {
                targetId: "myCardExpiration",
            });
            cardVerificationCodeElement = bt.createElement("cardVerificationCode", {
                targetId: "myCardVerification",
            });
        
            // Mounts Elements in the DOM in parallel
            await Promise.all([cardNumberElement.mount("#cardNumber"), cardExpirationDateElement.mount("#cardExpirationDate"), cardVerificationCodeElement.mount("#cardVerificationCode")]);
        
            // Binds card brand to verification code element
            cardNumberElement.on("change", ({ cardBrand }) => {
                cardVerificationCodeElement.update({ cardBrand });
            });
        
            document.getElementById("card_submit").addEventListener("click", submitCard);
            enableAddCardSaveButton();
        }
        addCardModal.addEventListener("shown.bs.modal", (event) => {
            if (event.target === addCardModal) {
                mountCardElements();
            }
        });
        
        window.addEventListener("load", async () => {
            try {
                // Initialize BasisTheory SDK with Elements.
                bt = await BasisTheory.init("{{ BASIS_THEORY_API_KEY }}", { elements: true });
            } catch (e) {
                // handle errors that could happen while loading elements script
                console.error("Initialize BasisTheory:", e);
            }
        });
        
        document.body.addEventListener("htmx:beforeSwap", function (evt) {
            if (evt.detail.xhr.status >= 400) {
                console.error("Error", evt.detail.xhr);
                // alert the user when a 400 error occurs when using htmx
                Swal.fire({ title: "Error", text: `${evt.detail.xhr.response}`, icon: "error" });
            }
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">
            Invoice Details{% if request.user.is_staff %}
                - {{ user_group.name }}
            {% endif %}
        </h3>
    </div>
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6 mb-2">
                <div class="card mb-4">
                    <div class="card-body">
                        {% comment %} <h4 class="card-title">***edit UserGroup form***</h4> {% endcomment %}
                        <h4 class="card-title">Invoice</h4>
                        <p class="card-text">
                            Due:{% if invoice.due_date %}
                                {{ invoice.due_date|timezone:'America/Chicago' }} (CT)
                            {% else %}
                                {{ invoice.created_on|timezone:'America/Chicago' }} (CT)
                            {% endif %}
                        </p>
                        <p class="card-text">Total: ${{ invoice.total|stringformat:'.2f'|intcomma }}</p>
                        {% if invoice.invoice_items_grouped.pre_payment_credit %}
                            <p class="card-text">Pre-Payment Credit: -${{ invoice.invoice_items_grouped.pre_payment_credit|stringformat:'.2f'|intcomma }}</p>
                            <p class="card-text">Amount Due: ${{ invoice.amount_due|stringformat:'.2f'|intcomma }}</p>
                        {% endif %}
                        {% if invoice.invoice_items_grouped.post_payment_credit %}
                            <p class="card-text">Credit Still Available: ${{ invoice.invoice_items_grouped.post_payment_credit|stringformat:'.2f'|intcomma }}</p>
                        {% endif %}
                        <p class="card-text">Status: {{ invoice.status }}</p>
                        <p class="card-text">Invoice #: {{ invoice.number }}</p>
                        <p class="card-text">Location: {{ invoice.user_address.formatted_address }}</p>
                        <form class="mb-1 editing" action="{{ request.get_full_path }}" method="post">
                            {% csrf_token %}
                            <div class="input-group input-group-sm">
                                Check Sent At:&nbsp;<input class="form-control" type="date" value="{{ invoice.check_sent_at|date:'Y-m-d' }}" name="check_sent_at" />
                                <button class="btn btn-outline-secondary" type="submit" name="check_sent_at_submit">Save</button>
                            </div>
                        </form>
                        <p class="card-text">
                            PDF:{% if invoice.invoice_pdf %}
                                <a class="btn btn-light" href="{{ invoice.invoice_pdf }}"><i class="fas fa-download"></i></a>
                            {% else %}
                                N/A
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% if not invoice.paid %}
                <div class="col-md-6 mb-2">
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-4">Select Payment Method <span class="htmx-indicator" id="htmx-indicator-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span><button class="btn btn-primary btn-sm float-end" type="button" data-bs-target="#add-card-modal" data-bs-toggle="modal"><i class="fas fa-plus-square fa-sm text-white-50"></i>&nbsp;Add Card</button></h4>
                                    <form id="checkoutForm" action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% for payment_method in payment_methods %}
                                            {% include 'customer_dashboard/snippets/payment_method_item.html' %}
                                        {% endfor %}
                                        {% comment %} <button class="btn btn-primary mt-2" type="submit" name="form_submit" id="form_submit">Save</button> {% endcomment %}
                                        <div class="col-12 mt-4 mb-4">
                                            {% if payment_methods %}
                                                <button id="form_submit" class="btn btn-primary float-end" type="submit" name="form_submit">Pay Now</button>
                                            {% else %}
                                                <button id="form_submit" class="btn btn-primary float-end" type="submit" name="form_submit" disabled="true">Add Card To Pay Now</button>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if request.user.is_staff %}
        <div class="container">
            <div class="row" style="padding-bottom: 24px;">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Details&nbsp;</h4>
                            <p>
                                Transactions in this invoice <span class="fst-italic">(NOTE: This is a work in progress, so these might not always add up to the total listed above. For a complete breakdown, please download the invoice PDF.)</span>
                            </p>
                            <div class="accordion" role="tablist" id="invoice-item-results">
                                {% for item in invoice.invoice_items_grouped.groups %}
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" role="tab">
                                            <button class="accordion-button{% if not forloop.first %} collapsed{% endif %} justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#invoice-item-results .item-{{ forloop.counter }}" aria-expanded="{{ forloop.first|lower }}" aria-controls="invoice-item-results .item-{{ forloop.counter }}">
                                                <div class="fw-bold">{{ item.description }}</div>
                                                <div class="ms-auto align-items-end">
                                                    <span class="fw-bold">${{ item.total|stringformat:'.2f'|intcomma }}</span>
                                                </div>
                                            </button>
                                        </h2>
                                        <!-- <div class="accordion-collapse collapse item-{{ forloop.counter }} {% if forloop.first %}show{% else %}collapsed{% endif %}" role="tabpanel" data-bs-parent="#invoice-item-results"> -->
                                        <div class="accordion-collapse collapse item-{{ forloop.counter }} {% if forloop.first %}
                                                
                                                
                                                
                                                
                                                
                                                show





                                            {% else %}
                                                
                                                
                                                
                                                
                                                
                                                collapsed





                                            {% endif %}"
                                            role="tabpanel"
                                            data-bs-parent="#invoice-item-results">
                                            <div class="p-2" style="background: var(--bs-card-cap-bg);">
                                                {% comment %} <span>Date</span>
                                                <span class="text-muted">{{ item.created_on|timezone:'America/Chicago' }} (CT)</span> {% endcomment %}
                                                {% for item in item.items %}
                                                    <div class="d-flex justify-content-between">
                                                        <span class="text-muted">{{ item.description }} | tax: ${{ item.tax|stringformat:'.2f'|intcomma }}</span>
                                                        {% if item.order_line_item_id %}
                                                            <a class="btn-link" href="{% url 'customer_order_detail' order_id=item.order_line_item_id %}?line_item=true">order</a>
                                                        {% endif %}
                                                    </div>
                                                    <hr />
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block modals %}
    <div id="add-card-modal" class="modal fade" role="dialog" tabindex="-1" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Card</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Your card will not be charged until a booking has been completed.</p>
                    <div id="cardNumber"></div>
                    <div style="display: flex;">
                        <div id="cardExpirationDate" style="width: 100%;"></div>
                        <div id="cardVerificationCode" style="width: 100%;"></div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" id="card_submit">Save <span class="htmx-indicator" id="add-card-spinner"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
