{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load tz %}
{% load humanize %}
{% load sales_stream_tags %}
{% block title %}
  Invoices
{% endblock %}
{% block stylesheet %}
  <style></style>
{% endblock %}
{% block javascript %}
  <script>
    const searchFilter = document.getElementById('invoice-search-filter')
    const selectFilter = document.getElementById('invoice-select-filter')
    // listen for page load event.
    // NOTE: Do this first so that the date filter value is set before the change listener is added.
    document.addEventListener('DOMContentLoaded', function () {
      let queryParams = new URLSearchParams(window.location.search)
      let searchQ = queryParams.get('q')
      let searchTab = queryParams.get('tab')
      let startDate = queryParams.get('start_date')
      let endDate = queryParams.get('end_date')
      if (startDate) {
        // update start date filter value
        document.getElementById('invoice-start-date').value = startDate
      }
      if (endDate) {
        // update end date filter value
        document.getElementById('invoice-end-date').value = endDate
      }
    
      if (searchQ) {
        // update search filter value
        searchFilter.value = searchQ
      }
      if (searchTab) {
        // update select filter value
        selectFilter.value = searchTab
      }
    })
    
    htmx.on('htmx:afterSwap', function (evt) {
      if (evt.target.id === 'chart_data-json') {
        const ctx = document.getElementById('myChart').getContext('2d')
        if (ctx) {
          const chartData = JSON.parse(evt.target.textContent)
          const myChart = new Chart(ctx, chartData)
          myChart.options.scales.yAxes[0].ticks.callback = function (value, index, values) {
            return value.toLocaleString('en-US', { style: 'currency', currency: 'USD' })
          }
        }
      }
    })
  </script>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <h3 class="title text-dark mb-2 fw-bolder">Invoice List</h3>
    <div class="row g-4 mb-4">
      <div class="col {% if user_group %}col-md-6{% endif %} mb-3">
        <div class="htmx-indicator" id="chart-loading-status">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="spinner-border text-primary" role="status"></div>
          </div>
        </div>
        <script id="chart_data-json" type="application/json" hx-get="{% url 'customer_invoices_chart' %}" hx-trigger="load" hx-indicator="#chart-loading-status"></script>
        <canvas id="myChart" width="800" height="auto" style="min-height: 250px;"></canvas>
      </div>
      {% if user_group %}
        <div class="col col-md-6">
          <div class="row justify-content-between">
            <div class="col pe-3 mb-4">
              <div class="card bg-secondary rounded-4 w-100 h-100">
                <div class="card-body text-white text-center d-flex flex-column justify-content-between">
                  <h6 class="fw-lighter">Net Term Spend Limit</h6>
                  <p class="mb-0">{{ user_group.credit_line_limit|currency }}</p>
                </div>
              </div>
            </div>
            <div class="col ps-3 mb-4">
              <div class="card bg-secondary rounded-4 w-100 h-100">
                <div class="card-body text-white text-center d-flex flex-column justify-content-between">
                  <h6 class="fw-lighter">Due</h6>
                  <p class="mb-0">{{ user_group.get_net_terms_display }}</p>
                </div>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="card shadow rounded-4 border-0 w-100 h-100">
                <div class="card-body">
                  <div class="row py-3 align-items-center overflow-hidden flex-nowrap">
                    {% if user_group.credit_line_limit and user_group.credit_line_limit > 0 %}
                      <div class="col-auto col-lg" style="min-width: 270px;">
                        <h6 class="fw-bolder text-dark">Request Credit Increase</h6>
                        <p class="text-dark">Increase your credit limit to unlock greater purchasing power, improve cash flow, and keep your projects on track without upfront costs.</p>
                        <a href="{% url 'customer_credit_application' %}?return_to={{ request.get_full_path }}" class="btn btn-primary shadow w-100">Request increase</a>
                      </div>
                    {% else %}
                      <div class="col-auto col-lg" style="min-width: 270px;">
                        <h6 class="fw-bolder text-dark">Pay by Check</h6>
                        <p class="text-dark">Pay with Net Terms to improve cash flow, free up capital, and keep projects moving without upfront costs.</p>
                        <a href="{% url 'customer_credit_application' %}?return_to={{ request.get_full_path }}" class="btn btn-primary shadow w-100">Apply Now</a>
                      </div>
                    {% endif %}
                    <div class="col-auto d-none d-lg-flex justify-content-center">
                      <img src="{% static 'customer_dashboard/img/calendar.png' %}" class="img-fluid" alt="Calendar with Check" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
    <form class="filter-header" method="get" hx-get="{% url 'customer_invoices' %}" hx-disabled-elt="button" hx-target="#invoice-results" hx-swap="outerHTML" hx-push-url="true" hx-indicator="#htmx-indicator-loading-status">
      <div class="row mb-0 pb-3 align-items-end justify-content-between flex-nowrap overflow-x-auto">
        <div class="col-auto flex-nowrap me-3">
          <label for="invoice-select-filter" class="mb-1"><small>Invoice Status</small></label>
          <select id="invoice-select-filter" class="form-select downstream-form-control" aria-label="Filter Data By" name="tab">
            <option value="" selected>All</option>
            <option value="open">OPEN</option>
            <option value="past_due">Past Due</option>
            <option value="paid">Paid</option>
          </select>
        </div>
        <div class="col">
          <label for="invoice-start-date" class="mb-1"><small>Date Between</small></label>
          <div class="input-group" style="min-width: 260px;">
            <input id="invoice-start-date" class="form-control text-dark border-dark" type="date" name="start_date" />
            <div class="input-group-text text-dark border-dark">-</div>
            <input id="invoice-end-date" class="form-control text-dark border-dark" type="date" name="end_date" />
          </div>
        </div>

        <div class="col text-nowrap" style="min-width: 160px; max-width: 500px;">
          <label for="invoice-search-filter" class="mb-1"><small>Search</small></label>
          <div class="input-group border border-dark rounded-2">
            {% comment %} <span class="input-group-text"><i class="fas fa-search"></i></span> {% endcomment %}
            <input id="invoice-search-filter" class="form-control text-dark text-nowrap" placeholder="Search invoices" type="search" name="q" />
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary shadow float-end">Go <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
        </div>
      </div>
    </form>
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
          <table class="table my-0" id="invoice-results" hx-get="{{ data_link }}" hx-trigger="load" hx-swap="outerHTML" hx-indicator="#htmx-indicator-loading-status">
            <thead>
              <tr>
                <th>Due Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Invoice #</th>
                <th>Location</th>
                <th>PDF</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
        <div class="row invisible" id="invoices-pagination"></div>
      </div>
    </div>
  </div>
{% endblock %}
