{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Locations
{% endblock %}
{% block stylesheet %}
    <style></style>
{% endblock %}
{% block javascript %}
    <script>
        const searchFilter = document.getElementById("location-search-filter");
        // listen for page load event.
        // NOTE: Do this first so that the date filter value is set before the change listener is added.
        document.addEventListener("DOMContentLoaded", function () {
            // Check if query params has service_date
            const urlParams = new URLSearchParams(window.location.search);
            const serviceDate = urlParams.get("q");
            if (serviceDate) {
                // update date filter value
                searchFilter.value = serviceDate;
            }
            // Check if query params has my_accounts
            const myAccounts = urlParams.get("account_filter");
            if (myAccounts) {
                // update my_accounts value
                document.getElementById("myAccountsCheck").checked = true;
            }
        });
        // listen for htmx afterSettle event.
        document.body.addEventListener("htmx:afterSettle", function (event) {
            // Get current query params.
            let queryParams = new URLSearchParams(window.location.search);
            // Remove q query param before attaching to htmx search input.
            queryParams.delete("q");
            // Create url with current query params.
            const searchLocationsUrl = "{% url 'customer_locations' %}?" + queryParams.toString();
            // update hx-get attribute of search filter input.
            htmx.find("#location-search-filter").setAttribute("hx-get", searchLocationsUrl);
            // force htmx to process the new hx-get attribute
            htmx.process("#location-search-filter");
        
            // Add event listener to table filter options
            const tableFilterOptions = document.getElementById("filterForm");
            if (tableFilterOptions) {
                tableFilterOptions.addEventListener("submit", function () {
                    searchFilter.value = "";
                });
            }
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Locations</h3>
            <a class="btn btn-primary btn-sm d-sm-inline-block" role="button" href="{% url 'customer_new_location' %}"><i class="fas fa-plus-square fa-sm text-white-50"></i>&nbsp;Create Location</a>
        </div>
        {% if request.user.is_staff %}
            <div class="row">
                <div class="col">
                    <div class="container-lg mb-4 border border-primary-subtle rounded-3 pt-4 pb-4">
                        <form id="filterForm" class="row g-3" action="{% url 'customer_locations' %}" method="get" hx-get="{% url 'customer_locations' %}" hx-disabled-elt="button" hx-target="#location-results" hx-swap="outerHTML" hx-push-url="true" hx-indicator="#htmx-indicator-loading-status">
                            <div class="input-group">
                                <label class="input-group-text" for="filterGroupSelect">Options</label>
                                    <select class="form-select" id="filterGroupSelect" name="tab" aria-label="Filter Data By">
                                    <option value="" selected>Filter Data By</option>
                                    <option value="new">New (created in last 30 days)</option>
                                    <option value="active">Active Locations</option>
                                    <option value="churned">Churning</option>
                                    <option value="fully_churned">Fully Churned</option>
                                </select>
                            </div>
                            <div class="col-12 form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="myAccountsCheck" name="account_filter" value="my_accounts"/>
                                    <label class="form-check-label" for="myAccountsCheck">My Accounts (Filters only locations in accounts that you manage.)</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary float-end">Filter <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars.svg' %}" /></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col">
                        <p class="text-primary m-0 fw-bold" id="table-title">Locations</p>
                        <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                    </div>
                    <div class="col">
                        <div class="col-md-6" style="margin-left: auto;">
                            <label for="location-search-filter">Filter by name</label>
                            <input id="location-search-filter" class="form-control" type="search" name="q" hx-push-url="true" hx-get="{% url 'customer_locations' %}" hx-trigger="input changed delay:500ms, search" hx-target="#location-results" hx-swap="outerHTML" hx-indicator="#htmx-indicator-loading-status" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table table-hover my-0" id="location-results" hx-get="{{ companies_table_link }}" hx-trigger="load" hx-swap="outerHTML" hx-indicator="#htmx-indicator-loading-status">
                        <thead>
                            <tr>
                                <th>Address</th>
                                <th>Company</th>
                                {% if request.user.is_staff %}
                                    {% if tab == 'active' %}
                                        <th>Last Order</th>
                                    {% elif tab == 'churned' %}
                                        <th>Last Order</th>
                                        <th>Change</th>
                                    {% elif tab == 'fully_churned' %}
                                        <th>Last Order</th>
                                        <th>Change</th>
                                    {% else %}
                                        <th>Last Order</th>
                                        <th>Created On</th>
                                    {% endif %}
                                {% else %}
                                    <th>Autopay?</th>
                                    <th>Is Archived?</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="row invisible" id="locations-pagination">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination">
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
