{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load tz %}
{% load humanize %}
{% block title %}
    Location Details
{% endblock %}
{% block stylesheet %}
    <style></style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">Location Detail</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ request.get_full_path }}" method="post">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in user_address_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in user_address_form.visible_fields %}
                                {% if field.widget_type == 'checkbox' %}
                                    <div class="mb-3 form-switch">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}{{ field.label_suffix }}</label>
                                        {% if field.help_text %}
                                            <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                        {% if field.errors %}
                                            <small class="text-danger">{{ field.errors }}</small>
                                        {% endif %}
                                        {% if field.name == 'street' %}
                                            <div class="form-text">
                                                <a class="card-link" href="https://www.google.com/maps/place/{{ user_address.formatted_address|urlencode }}" target="_blank">{{ user_address.formatted_address }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="mb-3">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}{{ field.label_suffix }}</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                        {% if field.errors %}
                                            <small class="text-danger">{{ field.errors }}</small>
                                        {% endif %}
                                        {% if field.name == 'street' %}
                                            <div class="form-text">
                                                <a class="card-link" href="https://www.google.com/maps/place/{{ user_address.formatted_address|urlencode }}" target="_blank">{{ user_address.formatted_address }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary mt-2" type="submit" name="user_address_submit" id="user_address_submit">Save</button>
                            </div>
                        </form>
                        <p style="margin-bottom: 0px;">
                            <strong>Created</strong>
                        </p>
                        <p>{{ user_address.created_on|timezone:'America/Chicago' }} (CT)</p>
                        <p class="card-text"></p><a class="card-link" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div style="height: 100%; min-height: 300px;">
                            {% if user_address.latitude and user_address.longitude %}
                                <gmp-map center="{{ user_address.latitude }},{{ user_address.longitude }}" zoom="14" map-id="DEMO_MAP_ID">
                                    <gmp-advanced-marker position="{{ user_address.latitude }},{{ user_address.longitude }}" title="{{ user_address.name }}"></gmp-advanced-marker>
                                </gmp-map>
                            {% else %}
                                <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="200"></iframe>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Invoices</h4>
                                <div class="table-responsive" style="margin-bottom: 16px;">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Due Date</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                                <th>Invoice #</th>
                                                <th>PDF</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for invoice in invoices %}
                                                <tr>
                                                    <td>
                                                        {% if invoice.due_date %}
                                                            {{ invoice.due_date|timezone:'America/Chicago' }} (CT)
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                    <td>${{ invoice.total|stringformat:'.2f'|intcomma }}</td>
                                                    <td>{{ invoice.status }}</td>
                                                    <td>{{ invoice.number }}</td>
                                                    {% if invoice.invoice_pdf %}
                                                        <td>
                                                            <a class="btn btn-light" href="{{ invoice.invoice_pdf }}"><i class="fas fa-download"></i></a>
                                                        </td>
                                                    {% else %}
                                                        <td>-</td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div><a href="{% url 'customer_invoices' %}?location_id={{ user_address.id }}">See All Invoices for this Location</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Past Orders</h4>
                                <div class="table-responsive" style="margin-bottom: 16px;">
                                    <table class="table">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            {% for order_group in past_orders %}
                                                <tr>
                                                    <td>{{ order_group.seller_product_seller_location.seller_product.product.main_product.name }}</td>
                                                    <td>{{ order_group.seller_product_seller_location.seller_location.seller.name }}</td>
                                                    <td>
                                                        <a class="btn btn-light" role="button" href="{% url 'customer_order_group_detail' order_group_id=order_group.id %}"><i class="far fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div><a href="{% url 'customer_order_groups' %}?location_id={{ user_address.id }}&active=0">See All Orders for this Location</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Active Orders</h4>
                                <div class="table-responsive" style="margin-bottom: 16px;">
                                    <table class="table">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            {% for order_group in active_orders %}
                                                <tr>
                                                    <td>{{ order_group.seller_product_seller_location.seller_product.product.main_product.name }}</td>
                                                    <td>{{ order_group.seller_product_seller_location.seller_location.seller.name }}</td>
                                                    <td>
                                                        <a class="btn btn-light" role="button" href="{% url 'customer_order_group_detail' order_group_id=order_group.id %}"><i class="far fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div><a href="{% url 'customer_order_groups' %}?location_id={{ user_address.id }}&active=1">See All Orders for this Location</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div>
                            <h4>Users<button class="btn btn-primary float-end" type="button" data-bs-target="#user-user-address-add-modal" data-bs-toggle="modal"><i class="far fa-plus-square"></i>&nbsp;Add</button></h4>
                        </div>
                        <p>
                            <b>Users with access to this Location</b>
                        </p>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for user_user_address in user_user_addresses %}
                                        <tr>
                                            <td>{{ user_user_address.user.full_name }}</td>
                                            <td>{{ user_user_address.user.email }}</td>
                                            <td>
                                                <a class="btn btn-light" role="button" href="{% url 'customer_user_detail' user_id=user_user_address.user.id %}"><i class="far fa-eye"></i></a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger" role="button" href="{% url 'customer_location_user_remove' user_address_id=user_address.id user_id=user_user_address.user.id %}"><i class="far fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <p>No Users</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <p>
                            <b>Admin Users with access to all Locations</b>
                        </p>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table">
                                <thead>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Notifications</th>
                                    <th>View</th>
                                </thead>
                                <tbody>
                                    {% for location_admin in location_admins %}
                                        <tr>
                                            <td>{{ location_admin.user.full_name }}</td>
                                            <td>{{ location_admin.user.email }}</td>
                                            <td>
                                                {% if location_admin.notify %}
                                                    <button class="btn btn-light" type="button" hx-target="closest td" hx-get="{% url 'customer_location_user_remove' user_address_id=user_address.id user_id=location_admin.user.id %}"><i class="fas fa-bell"></i><span class="htmx-indicator" id="htmx-indicator-loading"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
                                                {% else %}
                                                    <button class="btn btn-light" type="button" hx-target="closest td" hx-get="{% url 'customer_location_user_add' user_address_id=user_address.id user_id=location_admin.user.id %}"><i class="fas fa-bell-slash"></i><span class="htmx-indicator" id="htmx-indicator-loading"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a class="btn btn-light" role="button" href="{% url 'customer_user_detail' user_id=location_admin.user.id %}"><i class="far fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <p>No Admin Users</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="user-user-address-add-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Users to this Location</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Select a user(s) to give them permissions to view and receive notifications for this Location.</p>
                    <div class="table-responsive" style="margin-bottom: 16px;">
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                {% for user in non_associated_users %}
                                    <tr>
                                        <td>{{ user.full_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <a class="btn btn-light" role="button" href="{% url 'customer_location_user_add' user_address_id=user_address.id user_id=user.id %}"><i class="far fa-plus-square"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="user-seller-location-delete-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Remove this User from this Location?</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>This will not delete the User, but they will no longer be able to see this Location.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">No, don't remove</button><button class="btn btn-danger" type="button">Yes, remove them</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
