{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    New Location
{% endblock %}
{% block stylesheet %}
    <style></style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Create/Edit Location</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Location Data</p>
            </div>
            <div class="card-body">
                <form action="{{ request.get_full_path }}" method="post">
                    {% csrf_token %}
                    <!-- Include the hidden fields -->
                    {% for hidden in user_address_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    <!-- Include the visible fields -->
                    {% for field in user_address_form.visible_fields %}
                        <div class="mb-3">
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                            {% if field.errors %}
                                <small class="text-danger">{{ field.errors }}</small>
                            {% endif %}
                            {% if field.name == 'street' %}
                                <div class="form-text">
                                    <a class="card-link" href="https://www.google.com/maps/place/{{ user_address.formatted_address|urlencode }}" target="_blank">{{ user_address.formatted_address }}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-flex flex-row-reverse">
                        <button class="btn btn-primary mt-2" type="submit" name="user_address_submit" id="user_address_submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
