{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  Bookings
{% endblock %}
{% block stylesheet %}
  <style></style>
{% endblock %}
{% block javascript %}
  <script>
    let activeFilter = document.getElementById('order-group-active-filter')
    function updateColumnsVisibility() {
      // Update the visibility of the columns based on the user's settings
      document.querySelectorAll('.column-checkbox').forEach(function (el) {
        // Get the column value
        const column = el.value
        // Get the table element
        const tableEl = document.getElementById('order-groups-results')
        if (!tableEl) {
          return
        }
        let sessionValue = undefined
        if (column === 'product') {
          sessionValue = '{{ request.session.bookings_page_settings_product|default_if_none:"True" }}'
          sessionValue = sessionValue === '' ? 'True' : sessionValue
        } else if (column === 'location') {
          sessionValue = '{{ request.session.bookings_page_settings_location|default_if_none:"True" }}'
          sessionValue = sessionValue === '' ? 'True' : sessionValue
        } else if (column === 'location_name') {
          sessionValue = '{{ request.session.bookings_page_settings_location_name }}'
        } else if (column === 'booking_project_id') {
          sessionValue = '{{ request.session.bookings_page_settings_booking_project_id }}'
        } else if (column === 'company_name') {
          sessionValue = '{{ request.session.bookings_page_settings_company_name|default_if_none:"True" }}'
          sessionValue = sessionValue === '' ? 'True' : sessionValue
        } else if (column === 'supplier') {
          sessionValue = '{{ request.session.bookings_page_settings_supplier|default_if_none:"True" }}'
          sessionValue = sessionValue === '' ? 'True' : sessionValue
        } else if (column === 'order_type') {
          sessionValue = '{{ request.session.bookings_page_settings_order_type }}'
        } else if (column === 'status') {
          sessionValue = '{{ request.session.bookings_page_settings_status }}'
        } else if (column === 'account_manager') {
          sessionValue = '{{ request.session.bookings_page_settings_account_manager }}'
        } else if (column === 'start_date') {
          sessionValue = '{{ request.session.bookings_page_settings_start_date|default_if_none:"True" }}'
          sessionValue = sessionValue === '' ? 'True' : sessionValue
        } else if (column === 'nearest_order') {
          sessionValue = '{{ request.session.bookings_page_settings_nearest_order }}'
        }
        if (sessionValue === undefined) {
          return
        }
        // Update current column checkbox checked attribute
        el.checked = sessionValue === 'True'
        // Get the table column
        const elList = tableEl.getElementsByClassName(column)
        // Update the visibility of the column
        for (let i = 0; i < elList.length; i++) {
          if (sessionValue === 'True') {
            // Remove the d-none class
            elList[i].classList.remove('d-none')
          } else {
            // Add the d-none class
            elList[i].classList.add('d-none')
          }
        }
      })
    }
    // listen for page load event.
    // NOTE: Do this first so that the date filter value is set before the change listener is added.
    function updateFilters() {
      // Check if query params has active filter
      const urlParams = new URLSearchParams(window.location.search)
      const is_active = urlParams.get('active')
      if (is_active) {
        // update date filter value
        activeFilter.checked = true
      }
      const myAccounts = urlParams.get('my_accounts')
      if (myAccounts) {
        // update my_accounts value
        document.getElementById('order-group-mine-filter').checked = true
      }
      const searchFilter = document.getElementById('location-search-filter')
      const searchq = urlParams.get('q')
      if (searchq) {
        // update date filter value
        searchFilter.value = searchq
      }
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      updateFilters()
    })
    
    htmx.on('htmx:afterSwap', function (event) {
      updateFilters()
    })
    
    function selectActiveFilter(el) {
      // Get current query params.
      let queryParams = new URLSearchParams(window.location.search)
      // Check if date filter has a value
      if (el.checked) {
        // update current queryParams for active filter url
        queryParams.set('active', encodeURIComponent(1))
      } else {
        // update current queryParams for in-active filter url
        queryParams.set('active', encodeURIComponent(0))
      }
      // update date filter url with current queryParams
      const activeFilterUrl = "{% url 'customer_order_groups' %}?" + queryParams.toString()
    
      // update hx-get attribute of date filter and tab urls
      htmx.find('#order-group-active-filter').setAttribute('hx-get', activeFilterUrl)
      // force htmx to process the new hx-get attributes
      htmx.process('#order-group-active-filter')
      // trigger onActiveFilter event
      htmx.trigger(el, 'onActiveFilter')
    }
    // Add change event listener to date filter
    activeFilter.addEventListener('change', function () {
      // selectActiveFilter(this);
    })
    
    async function updateColumnSettings(column, isChecked) {
      const data = new URLSearchParams()
      data.append('column', column)
      data.append('is_checked', isChecked)
      const response = await fetch("{% url 'customer_bookings_page_settings' %}", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: data.toString()
      })
      if (response.ok) {
        console.log('Booking Page Settings updated successfully')
      } else {
        console.error('Failed update Booking Page Settings', response, response.statusText)
      }
    }
    // Add onchange event listener to all column-checkbox
    document.querySelectorAll('.column-checkbox').forEach(function (el) {
      el.addEventListener('change', function () {
        // Get the column value
        const column = el.value
        // Get if checkbox is checked
        const isChecked = el.checked
        // Get the table element
        const tableEl = document.getElementById('order-groups-results')
        if (!tableEl) {
          return
        }
        // Get the table column
        const elList = tableEl.getElementsByClassName(column)
        // Update the visibility of the column
        for (let i = 0; i < elList.length; i++) {
          if (isChecked) {
            // Remove the d-none class
            elList[i].classList.remove('d-none')
          } else {
            // Add the d-none class
            elList[i].classList.add('d-none')
          }
          // tds[0].style.display = isChecked ? "table-cell" : "none";
        }
        updateColumnSettings(column, isChecked)
      })
    })
  </script>
{% endblock %}
{% block content %}
  <div class="container-fluid" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
    <h3 class="text-dark mb-2" data-cart-count="{{ cart_count }}"><strong>Bookings</strong></h3>
    <form action="{% url 'customer_order_groups' %}" method="get" hx-get="{% url 'customer_order_groups' %}" hx-disabled-elt="button" hx-target="#order-groups-results" hx-swap="outerHTML" hx-push-url="true" hx-indicator="#htmx-indicator-loading-status">
      <div class="row mb-0 pb-3 align-items-end justify-content-between flex-nowrap overflow-x-auto">
        {% if request.user.is_staff %}
          <div class="col-auto flex-nowrap me-1">
            <div class="border rounded-4 border-dark p-2">
              <div class="form-check form-switch px-1 d-flex flex-row align-items-center">
                <label class="form-check-label float-start text-dark" for="order-group-mine-filter"><strong>My Accounts</strong></label>
                <input class="form-control form-check-input float-end ms-3" style="width: 3rem; height: 1.5rem;" type="checkbox" id="order-group-mine-filter" name="my_accounts" />
              </div>
            </div>
          </div>
        {% endif %}
        <div class="col-auto flex-nowrap me-3">
          <div class="border rounded-4 border-dark p-2">
            <div class="form-check form-switch px-1 d-flex flex-row align-items-center">
              <label class="form-check-label float-start text-dark" for="order-group-active-filter"><strong>Active Bookings</strong></label>
              <input class="form-control form-check-input float-end ms-3" style="width: 3rem; height: 1.5rem;" type="checkbox" id="order-group-active-filter" name="active" />
            </div>
          </div>
        </div>
        <div class="col text-nowrap" style="max-width: 500px;">
          <label for="location-search-filter" class="mb-1"><small>Search (Supplier, Address, PO ID)</small></label>
          <div class="input-group border border-dark rounded-2">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
            <input id="location-search-filter" class="form-control text-dark" placeholder="Supplier, Address, or Project ID..." type="search" name="q" />
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary shadow float-end">Go <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
        </div>
        <div class="col"></div>
      </div>
    </form>

    <div class="htmx-indicator" id="htmx-indicator-loading-status">
      <div class="w-100 d-flex justify-content-center">
        <div class="spinner-border text-primary m-3 text-center" role="status"></div>
      </div>
    </div>
    <div class="p-3">
      <div id="order-groups-results" hx-get="{{ active_orders_link }}" hx-push-url="true" hx-trigger="load" hx-swap="outerHTML" hx-indicator="#htmx-indicator-loading-status"></div>
      <div class="row invisible" id="order-groups-pagination"></div>
    </div>
  </div>
{% endblock %}
{% block modals %}
  <div id="order-swap-modal" class="modal modal-blur fade" style="display: none" role="dialog" aria-hidden="false" tabindex="-1" hx-disabled-elt="button">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div id="htmx-indicator-loading-card" class="modal-content htmx-indicator-card" style="min-height: 300px;">
        <div class="modal-body d-flex justify-content-center align-items-center p-3">
          <div class="spinner-border text-primary m-3" role="status"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
