{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% load sales_stream_tags %}
{% block title %}
  Booking Details
{% endblock %}
{% block stylesheet %}
  <style></style>
{% endblock %}
{% block javascript %}
  <script>
    const addAttachmentButton = document.getElementById('add-attachments')
    const formsetDiv = document.getElementById('Attachments-formset')
    const totalForms = document.getElementById('id_attachments-TOTAL_FORMS')
    const emptyFormTemplate = document.getElementById('empty-form-template').innerHTML
    const attachmentForms = document.querySelectorAll('.attachment-form')
    attachmentForms.forEach(function (form) {
      const deleteInput = form.querySelector('input[type="hidden"][id$="-DELETE"]')
      if (deleteInput && deleteInput.value === 'on') {
        form.style.display = 'none'
      }
      const link = form.querySelector('[href]')
      try {
        if (link) {
          // add an image with the link 30 x 30
          const image = document.createElement('img')
          image.src = link.href
          image.style.width = '50px'
          image.style.height = '50px'
          // add the image at the end of this form just after the href
          const nextSibling = link.nextSibling
          form.insertBefore(image, nextSibling)
        }
      } catch (error) {}
    })
    addAttachmentButton.addEventListener('click', function () {
      const currentFormCount = parseInt(totalForms.value)
      const newFormCount = currentFormCount + 1
      const newFormHtml = emptyFormTemplate.replace(/__prefix__/g, currentFormCount)
    
      formsetDiv.insertAdjacentHTML('beforeend', newFormHtml)
      totalForms.value = newFormCount
    
      // Update the counter
      const counter = formsetDiv.lastElementChild.querySelector('.attachment-number')
      counter.textContent = newFormCount
    
      // Update Carousel
      const carouselInner = document.querySelector('.carousel-inner')
      const activeItem = carouselInner.querySelector('.carousel-item.active')
      if (!activeItem) {
        const newForm = carouselInner.lastElementChild
        newForm.classList.add('active')
      } else {
        const carouselItemsCount = carouselInner.querySelectorAll('.carousel-item').length
        // Scroll to the new form
        const carouselInstance = bootstrap.Carousel.getInstance(document.querySelector('#attachments-carousel'))
        carouselInstance.to(carouselItemsCount - 1)
      }
    })
    formsetDiv.addEventListener('click', function (event) {
      if (event.target.classList.contains('remove-location')) {
        const formToRemove = event.target.closest('.attachment-form')
        formToRemove.querySelector('input[type="hidden"][name$="-DELETE"]').value = 'on'
        // Hide from carousel
        const carouselInstance = bootstrap.Carousel.getInstance(document.querySelector('#attachments-carousel'))
        carouselInstance.next()
        formToRemove.classList.remove('carousel-item')
        formToRemove.classList.add('d-none')
      }
    })
    document.body.addEventListener('htmx:afterSwap', function (evt) {
      if (evt.target.id === 'order-review-modal') {
        // This should only occur after the rating request is successful
        const { xhr, successful, requestConfig } = evt.detail
        if (!successful) {
          console.error(evt)
          return
        }
        console.log('showing')
        // Show the feedback modal
        $(`#order-review-modal`).modal('show')
      }
    })
  </script>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <!-- Header -->
    <div class="row justify-content-between align-items-center">
      <div class="col-auto" style="margin-inline-end: 100px;">
        <h4 class="text-dark mb-0 text-nowrap"><strong>Booking Details</strong></h4>
      </div>
      <div class="col">
        <div class="flex-row d-flex justify-content-between">
          <h6 class="text-dark text-center mb-0 d-flex align-items-center text-nowrap">
            {% if request.user.is_staff %}
              {% with account_owner=user_address.user_group.account_owner %}
                {% if account_owner %}
                  <strong class="me-2">Account Owner:</strong>
                  {% if account_owner.photo %}
                    <img class="border rounded-circle img-profile" style="height: 1.5rem; width: 1.5rem;" src="{{ account_owner.photo.url }}" />
                  {% else %}
                    <span class="border rounded-circle img-profile" style="height: 1.5rem; width: 1.5rem; display:flex; justify-content:center; align-items:center;"><i class="fas fa-user"></i></span>
                  {% endif %}&nbsp;{{ account_owner.full_name }}
                {% endif %}
              {% endwith %}
            {% endif %}
          </h6>
          <button class="btn btn-sm px-3 btn-outline-primary disabled text-nowrap" type="button" disabled><b>Transfer Asset</b></button>
        </div>
      </div>
    </div>
    <br />
    <!-- Content -->
    <div class="row mb-3">
      {% with main_product=order_group.seller_product_seller_location.seller_product.product.main_product %}
        <!-- Product Details -->
        <div class="col-md-6">
          <div class="card content border-0 mb-3">
            <div class="card-body">
              <div class="row flex-nowrap mb-2 mb-xl-0">
                <div class="col-auto">
                  <img class="img-thumbnail img-container border-0 img-fluid mb-2"
                    alt="Product image"
                    width="138"
                    height="95"
                    src="{% if main_product.images.first %}
                      {{ main_product.images.first.image.url }}
                    {% elif main_product.main_product_category.icon %}
                      {{ main_product.main_product_category.icon.url }}
                    {% else %}
                      {% static 'customer_dashboard/img/logo.png' %}
                    {% endif %}" />
                  {% if order_group.agreement %}
                    <p class="text-center">
                      <a class="btn btn-sm btn-outline-primary px-3" style="--bs-btn-bg: #fff;" href="{{ order_group.agreement.url }}" target="_blank" download><i class="far fa-file-pdf me-2"></i><b>Agreement</b></a>
                    </p>
                  {% endif %}
                </div>
                <div class="col text-truncate" id="product-details">
                  <h3 class="subtitle mb-3">{{ main_product.name }}</h3>
                  <p class="mb-0 order-descriptor text-wrap">
                    Company: <a class="btn btn-link btn-sm p-0 text-decoration-none text-start" role="button" href="{% url 'customer_company_detail' user_address.user_group.id %}">{{ user_address.user_group }}</a>
                  </p>
                  <p class="mb-0 order-descriptor text-wrap">
                    Address: <a class="btn btn-link btn-sm p-0 text-decoration-none text-start" role="button" href="{% url 'customer_location_detail' location_id=user_address.id %}">{{ user_address }}</a>
                  </p>
                  <p class="mb-1 order-descriptor">
                    Booking #: <span class="fw-light">{{ order_group.code }}</span>
                  </p>
                  <p class="mb-0 order-descriptor">
                    Qty: <span class="fw-light">1</span>
                  </p>
                  {% include 'customer_dashboard/snippets/order_group_po.html' %}
                </div>
              </div>
            </div>
          </div>
          <!-- Seller Location Details -->
          <div class="card content border-0 mb-3">
            <div class="card-body">
              <div class="row flex-nowrap mb-2 mb-xl-0">
                {% with seller_location=order_group.seller_product_seller_location.seller_location %}
                  <div class="col-auto">
                    <img class="img-thumbnail img-container border-0 img-fluid mb-2"
                      alt="Seller image"
                      width="138"
                      height="95"
                      src="{% if seller_location.location_logo_image %}
                        {{ seller_location.location_logo_image.url }}
                      {% else %}
                        {% static 'customer_dashboard/img/defualt_logo.png' %}
                      {% endif %}" />
                  </div>
                  <div class="col text-truncate" id="product-details">
                    <h3 class="subtitle mb-3 text-wrap"><a href="#" class="btn btn-link p-0 text-decoration-none text-start">{{ seller_location.name }}</a></h3>
                    <p class="mb-1 order-descriptor">
                      Start Date: <span class="fw-light">{{ order_group.start_date }}</span>
                    </p>
                    <p class="mb-1 order-descriptor">
                      End Date: <span class="fw-light">{{ order_group.end_date|default_if_none:'On-site' }}</span>
                    </p>
                    <p class="mb-1 order-descriptor">
                      Preferred Time Slot: <span class="fw-light">{{ order_group.time_slot }}</span>
                    </p>
                  </div>
                {% endwith %}
              </div>
              <div class="row">
                {% if order_group.is_active %}
                  {% if order_group.order_type != 'ONE_TIME' %}
                    <div class="col px-2">
                      <a class="btn btn-danger btn-sm w-100 h-100" type="button" data-bs-target="#order-swap-modal" data-bs-toggle="modal" hx-trigger="click" hx-target="#order-swap-modal" hx-get="{% url 'customer_order_group_removal' order_group_id=order_group.id %}">Request Removal <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></a>
                    </div>
                  {% endif %}
                  {% if main_product.main_product_category.name == 'Roll Off Dumpsters' %}
                    <div class="col px-2">
                      <a class="btn btn-primary btn-sm w-100 h-100" type="button" data-bs-target="#order-swap-modal" data-bs-toggle="modal" hx-trigger="click" hx-target="#order-swap-modal" hx-get="{% url 'customer_order_group_swap' order_group_id=order_group.id %}">Request Swap <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></a>
                    </div>
                  {% endif %}
                  {% if main_product.related_products.exists %}
                    <div class="col px-2">
                      <button class="btn btn-primary btn-sm w-100 h-100 disabled" style="pointer-events: none;" type="button" title="This feature is not available yet." disabled>Add Linked Products <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
                    </div>
                  {% elif order_group.parent_booking %}
                    <div class="col px-2">
                      <a href="{% url 'customer_order_group_detail' order_group.parent_booking_id %}" class="btn btn-sm btn-outline-primary h-100 w-100" style="--bs-btn-bg: #fff;" title="Click to view parent booking details.">View Related Booking</a>
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endwith %}
      <!-- Map -->
      <div class="col-md-6">
        {% if user_address.latitude and user_address.longitude %}
          <gmp-map center="{{ user_address.latitude }},{{ user_address.longitude }}" zoom="14" map-id="DEMO_MAP_ID">
            <gmp-advanced-marker position="{{ user_address.latitude }},{{ user_address.longitude }}" title="{{ user_address.name }}"></gmp-advanced-marker>
          </gmp-map>
        {% else %}
          <iframe allowfullscreen="" frameborder="0" src="https://cdn.bootstrapstudio.io/placeholders/map.html" width="100%" height="200"></iframe>
        {% endif %}
      </div>
    </div>
    <!-- Access Details Form -->
    <div class="row mb-3">
      <div class="col-md-6">
        <div class="card content border-0 mb-3">
          <div class="card-body">
            <p class="mb-3 text-dark">
              <strong>Access Details</strong>
            </p>
            <form action="{% url 'customer_order_group_detail' order_group_id=order_group.id %}" method="post">
              {% csrf_token %}
              <!-- Include the hidden fields -->
              {% for hidden in access_form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              <!-- Include the visible fields -->
              {% for field in access_form.visible_fields %}
                <div class="mb-3">
                  {{ field }}
                  {% if field.help_text %}
                    <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                  {% endif %}
                  {% if field.errors %}
                    <small class="text-danger">{{ field.errors }}</small>
                  {% endif %}
                </div>
              {% endfor %}
              <button class="btn btn-primary btn-sm w-100" type="submit" name="access_details_button">Save</button>
            </form>
          </div>
        </div>
      </div>
      <!-- Attachments -->
      <div class="col-md-6">
        <div class="card content border-0">
          <div class="card-body text-dark">
            <p class="mb-3 text-dark flex-row d-flex justify-content-between">
              <strong>Attachments</strong>
              <button type="button" class="btn btn-primary btn-sm" id="add-attachments">Add</button>
            </p>
            <form action="{% url 'customer_order_group_detail' order_group_id=order_group.id %}" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% if attachments_formset.non_form_errors %}
                {% for error in attachments_formset.non_form_errors %}
                  <small class="text-danger">{{ error }}</small>
                {% endfor %}
              {% endif %}
              {{ attachments_formset.management_form }}
              <!-- Hidden template for new forms -->
              <div id="empty-form-template" class="d-none">
                <div class="attachment-form carousel-item w-100" style="height: 200px;">
                  <div class="mb-3">
                    <p class="mb-0 text-dark">
                      Attachment #<span class="attachment-number">X</span>
                    </p>
                    {{ attachments_formset.empty_form }}
                  </div>
                  <div class="d-flex flex-row-reverse w-100">
                    <button type="button" class="remove-location btn btn-outline-danger">Remove</button>
                  </div>
                </div>
              </div>
              {% comment %}Needs more work to display files cleanly and multiple at once like explore page.{% endcomment %}
              <div id="attachments-carousel" class="carousel slide" data-bs-ride="carousel">
                <div id="Attachments-formset" class="carousel-inner d-flex align-items-stretch" style="padding: 0 40px;">
                  {% for inline in attachments_formset %}
                    <div class="attachment-form carousel-item w-100 {% if forloop.first %}active{% endif %}" style="height: 200px;">
                      <div class="mb-3">
                        <p class="mb-0 text-dark">
                          Attachment #<span class="attachment-number">{{ forloop.counter }}</span>
                        </p>
                        {{ inline }}
                      </div>
                      <div class="d-flex flex-row-reverse w-100">
                        <button type="button" class="remove-location btn btn-outline-danger">Remove</button>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev text-primary bg-white" style="width: 36px; height: 36px; border-radius: 50%; top: 40%;" type="button" href="#attachments-carousel" data-bs-target="#attachments-carousel" data-bs-slide="prev">
                  <i class="far fa-arrow-left"></i>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next text-primary bg-white" style="width: 36px; height: 36px; border-radius: 50%; top: 40%;" type="button" href="#attachments-carousel" data-bs-target="#attachments-carousel" data-bs-slide="next">
                  <i class="far fa-arrow-right"></i>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary btn-sm w-100 mt-2" type="submit" name="attachments_button">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Related Bookings Table -->
    {% if related_bookings %}
      <div class="row">
        <div class="col-md-12">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="text-dark mb-3"><strong>Linked Products</strong></h5>
              <div class="table-responsive small">
                <table class="table table-hover table-sm text-nowrap fw-light">
                  <thead>
                    <tr>
                      <th>Booking #</th>
                      <th>Product</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>PO ID</th>
                      <th>Created By</th>
                      <th>Created On</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for related in related_bookings %}
                      <tr>
                        <td>
                          <a href="{% url 'customer_order_group_detail' related.id %}" class="text-decoration-none">{{ related.code }}</a>
                        </td>
                        <td>{{ related.seller_product_seller_location.seller_product.product.main_product.name }}</td>
                        <td>{{ related.start_date|date }}</td>
                        <td>{{ related.end_date|default_if_none:'On-site' }}</td>
                        <td>{{ related.project_id|default:'N/A' }}</td>
                        <td>
                          {% if related.created_by %}
                            {% if request.user.is_staff %}
                              <a href="{% url 'customer_user_detail' related.created_by_id %}" class="text-decoration-none">{{ related.created_by.full_name }}</a>
                            {% else %}
                              {{ related.created_by.full_name }}
                            {% endif %}
                          {% endif %}
                        </td>
                        <td>{{ related.created_on|date }}</td>
                        <td>
                          {% if related.is_active and related.order_type != 'ONE_TIME' %}
                            <a class="btn btn-danger btn-sm w-100 h-100 p-0" type="button" data-bs-target="#order-swap-modal" data-bs-toggle="modal" hx-trigger="click" hx-target="#order-swap-modal" hx-get="{% url 'customer_order_group_removal' order_group_id=order_group.id %}">Request Removal <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    <!-- Transactions Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0">
          <div class="card-body">
            <h5 class="text-dark mb-3"><strong>Transactions</strong></h5>
            <div class="table-responsive small">
              <table class="table table-hover table-sm text-nowrap fw-light">
                <thead>
                  <tr>
                    <th>Transaction #</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Transaction Type</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th>Created On</th>
                    <th>Total</th>
                    <th>Review</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                    <tr>
                      <td>
                        <a href="{% url 'customer_order_detail' order_id=order.id %}" class="text-decoration-none">{{ order.code }}</a>
                      </td>
                      <td>{{ order.start_date|date }}</td>
                      <td>{{ order.end_date|date }}</td>
                      <td>{{ order.order_type }}</td>
                      <td>{{ order.status }}</td>
                      <td>
                        {% if order.created_by %}
                          {% if request.user.is_staff %}
                            <a href="{% url 'customer_user_detail' order.created_by_id %}" class="text-decoration-none">{{ order.created_by.full_name }}</a>
                          {% else %}
                            {{ order.created_by.full_name }}
                          {% endif %}
                        {% endif %}
                      </td>
                      <td>{{ order.created_on|date }}</td>
                      <td>{{ order.full_price|currency }}</td>
                      <td>
                        {% include 'customer_dashboard/snippets/order_review_buttons.html' %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block modals %}
  <div id="order-review-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
{% endblock %}
