{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Reviews
{% endblock %}
{% block stylesheet %}
    <style></style>
{% endblock %}
{% block javascript %}
    <script>
        // On page load, get selected tab from query params and set to filter value
        const filter = document.getElementById("table-filter-options");

        document.addEventListener("DOMContentLoaded", function () {
            // Check if query params has tab
            const urlParams = new URLSearchParams(window.location.search);
            const tab = urlParams.get("tab");
            if (tab) {
                // update filter value
                filter.value = tab;
            }
        });
    </script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Reviews</h3>
        </div>
            <div class="row">
                <div class="col">
                    <select id="table-filter-options" class="form-select form-select-lg mb-3" aria-label="Filter Data By" name="tab" hx-get="{% url 'customer_reviews' %}" hx-target="#review-results" hx-swap="outerHTML" hx-push-url="true" hx-indicator="#htmx-indicator-loading-status">
                        <option value="" selected>All</option>
                        <option value="sellers">Sellers</option>
                        <option value="users">Users</option>
                    </select>
                </div>
            </div>
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col">
                        <p class="text-primary m-0 fw-bold" id="table-title">All Reviews</p>
                        <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0 overflow-auto" id="review-results" hx-get="{{ reviews_table_link }}" hx-trigger="load" hx-swap="outerHTML" hx-indicator="#htmx-indicator-loading-status">
                        <thead>
                            <tr>
                                <th>Created</th>
                                <th>By</th>
                                <th>Seller</th>
                                <th>Product</th>
                                <th>Experience</th>
                                <th>Professionalism</th>
                                <th>Communication</th>
                                <th>Pricing</th>
                                <th>Timeliness</th>
                                <th>Average</th>
                                <th>Comment</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Created</th>
                                <th>By</th>
                                <th>Seller</th>
                                <th>Product</th>
                                <th>Experience</th>
                                <th>Professionalism</th>
                                <th>Communication</th>
                                <th>Pricing</th>
                                <th>Timeliness</th>
                                <th>Average</th>
                                <th>Comment</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row invisible" id="reviews-pagination"></div>
            </div>
        </div>
    </div>
{% endblock %}
