{% load static %}
{% block stylesheet %}
  <style>
    .sidebar .nav-link.active {
      background: var(--bs-primary);
      border: 1px solid var(--bs-primary);
      border-radius: 0.5rem;
      color: var(--bs-light);
    }
  </style>
{% endblock %}
{% block javascript %}
  <script>
    function handleSidebarToggle() {
      var sidebar = document.getElementById('sidebar')
      if (window.innerWidth < 1000) {
        sidebar.classList.add('toggled')
      } else {
        sidebar.classList.remove('toggled')
      }
    }
    
    window.addEventListener('resize', handleSidebarToggle)
    window.addEventListener('load', handleSidebarToggle)
  </script>
{% endblock %}
<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-secondary p-0 navbar-dark" id="sidebar" style="background: var(--bs-secondary);">
  <div class="container-fluid d-flex flex-column p-0">
    {% if user_group.branding.logo %}
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#" style="padding: 8px 5px;"><img src="{{ user_group.branding.logo.url }}" alt="Company Logo" class="object-fit-contain rounded mw-100 mh-100" /></a>
    {% else %}
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0 p-3" href="#">
        <img src="{% static 'customer_dashboard/img/logo-white.png' %}" alt="Company Logo" class="object-fit-contain rounded mw-100 mh-100" />

        <div class="sidebar-brand-text mx-2" style="font-size: 1.4rem;font-weight: 400;text-align: start;text-transform: capitalize;letter-spacing: .075rem;">
          <span>
            {% block tabtitle %}
              Downstream
            {% endblock %}
          </span>
        </div>
      </a>
    {% endif %}
    <hr class="sidebar-divider my-0" />
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item">
        <a class="nav-link{% if request.resolver_match.url_name == 'customer_home' %} active{% endif %}" href="{% url 'customer_home' %}"><i class="fas fa-globe-americas"></i><span>Explore</span></a>
      </li>
      {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'customer_leads' %} active{% endif %}" href="{% url 'customer_leads' %}"><i class="fas fa-magic"></i><span>Leads</span></a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link{% if request.resolver_match.url_name == 'customer_cart' %} active{% endif %}" href="{% url 'customer_cart' %}"><i class="fas fa-shopping-cart"></i><span>Cart</span></a>
      </li>
      <li class="nav-item"></li>
      <li class="nav-item">
        <a class="nav-link{% if 'booking' in request.path %} active{% endif %}" href="{% url 'customer_order_groups' %}"><i class="far fa-calendar-check"></i><span>Bookings</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if request.resolver_match.url_name == 'customer_invoices' %} active{% endif %}" href="{% url 'customer_invoices' %}"><i class="fas fa-file-invoice-dollar"></i><span>Invoices</span></a>
      </li>
      {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'customer_companies' %} active{% endif %}" href="{% url 'customer_companies' %}"><i class="fas fa-university"></i><span>Companies</span></a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link{% if request.resolver_match.url_name == 'customer_locations' %} active{% endif %}" href="{% url 'customer_locations' %}"><i class="fas fa-map-marker-alt"></i><span>Locations</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if request.resolver_match.url_name == 'customer_users' %} active{% endif %}" href="{% url 'customer_users' %}"><i class="fas fa-user-friends"></i><span>Users</span></a>
      </li>
      {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link{% if request.resolver_match.url_name == 'customer_reviews' %} active{% endif %}" href="{% url 'customer_reviews' %}"><i class="fas fa-star"></i><span>Reviews</span></a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link{% if request.resolver_match.url_name == 'customer_reports' %} active{% endif %}" href="{% url 'customer_reports' %}"><i class="fas fa-chart-line"></i><span>Reports</span></a>
      </li>
      {% if user.type == 'ADMIN' and user_group %}
        {% url 'customer_company' as customer_company %}
        <li class="nav-item">
          <a class="nav-link{% if customer_company in request.path %} active{% endif %}" href="{{ customer_company }}"><i class="fas fa-cog"></i><span>Company Settings</span></a>
        </li>
      {% endif %}
    </ul>
    <div class="text-center d-none d-md-inline">
      <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
    </div>
  </div>
</nav>
