<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark"
    style="background: var(--bs-primary);">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-truck"></i>
            </div>

            <div class="sidebar-brand-text mx-3">
                <span>
                    {% block tabtitle %}
                    Downstream
                    {% endblock %}
                </span>
            </div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'customer_home' %} active{% endif %}"
                    href="{% url 'customer_home' %}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'customer_new_order' %} active{% endif %}"
                    href="{% url 'customer_new_order' %}"><i class="fas fa-cart-plus"></i><span>Start New
                        Order</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'customer_cart' %} active{% endif %}"
                    href="{% url 'customer_cart' %}"><i class="fas fa-shopping-cart"></i><span>Cart</span></a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'customer_order_groups' %} active{% endif %}"
                    href="{% url 'customer_order_groups' %}"><i class="fas fa-truck"></i><span>Orders</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'customer_locations' %} active{% endif %}"
                    href="{% url 'customer_locations' %}"><i class="far fa-map"></i><span>Locations</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'customer_users' %} active{% endif %}"
                    href="{% url 'customer_users' %}"><i class="far fa-user"></i><span>Users</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link{% if request.resolver_match.url_name == 'customer_invoices' %} active{% endif %}"
                    href="{% url 'customer_invoices' %}"><i class="far fa-money-bill-alt"></i><span>Invoices</span></a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
        </ul>
        <div class="text-center d-none d-md-inline">
            <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
        </div>
    </div>
</nav>