{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load tz %}
{% load humanize %}
{% block title %}
    User Details
{% endblock %}
{% block stylesheet %}
    <style></style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">User Details</h3>
    </div>
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header py-3">
                        {% if request.user.is_staff %}
                            {% if user.user_group %}
                                <h5 class="card-title">{{ user.user_group.name }}</h5>
                            {% else %}
                                <h5 class="card-title">Individual</h5>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Include the hidden fields -->
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <!-- Include the visible fields -->
                            {% for field in form.visible_fields %}
                                {% if field.widget_type == 'checkbox' %}
                                    <div class="mb-3 form-switch">
                                        {{ field }}
                                        <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}{{ field.label_suffix }}</label>
                                        {% if field.help_text %}
                                            <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                        {% if field.errors %}
                                            <small class="text-danger">{{ field.errors }}</small>
                                        {% endif %}
                                        {% if field.name == 'street' %}
                                            <div class="form-text">
                                                <a class="card-link" href="https://www.google.com/maps/place/{{ user_address.formatted_address|urlencode }}" target="_blank">{{ user_address.formatted_address }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% else %}
                                    <div class="mb-3">
                                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}{{ field.label_suffix }}</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                                        {% endif %}
                                        {% if field.errors %}
                                            <small class="text-danger">{{ field.errors }}</small>
                                        {% endif %}
                                        {% if field.name == 'street' %}
                                            <div class="form-text">
                                                <a class="card-link" href="https://www.google.com/maps/place/{{ user_address.formatted_address|urlencode }}" target="_blank">{{ user_address.formatted_address }}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-primary mt-2" type="submit" name="form_submit" id="form_submit">Save</button>
                            </div>
                        </form>
                        <p style="margin-bottom: 0px;">
                            <strong>Created</strong>
                        </p>
                        <p>{{ user.date_joined|timezone:'America/Chicago' }} (CT)</p>
                        <p class="card-text"></p><a class="card-link" href="#"></a>
                        {% if request.user.is_staff %}
                            <!-- Show a reset password button reset_password -->
                            <div class="d-flex flex-row-reverse">
                                <button class="btn btn-outline-danger" type="button"
                                    hx-post="{% url 'customer_reset_password' user_id=user.id %}"
                                    hx-trigger="confirmed" hx-swap="none"
                                    onClick="event.stopPropagation();
                                    Swal.fire(
                                        {title: 'Are you sure?', text:'Send {{ user.email }} a reset password link.', icon: 'question', confirmButtonText: 'Send'}
                                    ).then((result)=>{
                                        if(result.isConfirmed){htmx.trigger(this, 'confirmed');}
                                    })">
                                    Reset Password
                                    <span class="htmx-indicator" id="htmx-indicator-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body text-center shadow">
                                <img class="rounded-circle mb-3 mt-4"
                                    src="{% if user.photo %}
                                        {{ user.photo.url }}
                                    {% else %}
                                        {% static 'customer_dashboard/img/logo.png' %}
                                    {% endif %}"
                                    width="160"
                                    height="160" />
                                {% comment %} <div class="mb-3">
                                    <button class="btn btn-primary btn-sm" type="button">Change Photo</button>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Locations&nbsp;</h4>
                                <p>Locations for which this User has access</p>
                                <div class="table-responsive" style="margin-bottom: 16px;">
                                    <table class="table">
                                        <thead>
                                            <tr></tr>
                                        </thead>
                                        <tbody>
                                            {% for user_address in user_addresses %}
                                                <tr>
                                                    <td>{{ user_address.name }}</td>
                                                    <td>{{ user_address.formatted_address }}</td>
                                                    <td>
                                                        <a class="btn btn-light" role="button" href="{% url 'customer_location_detail' location_id=user_address.id %}"><i class="far fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Active Orders</h4>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for order_group in active_orders %}
                                        <tr>
                                            <td>{{ order_group.seller_product_seller_location.seller_product.product.main_product.name }}</td>
                                            <td>{{ order_group.seller_product_seller_location.seller_location.seller.name }}</td>
                                            <td>
                                                <a class="btn btn-light" role="button" href="{% url 'customer_order_group_detail' order_group_id=order_group.id %}"><i class="far fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><a href="{% url 'customer_order_groups' %}?user_id={{ user.id }}&active=1">See All Orders for this User</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Past Orders</h4>
                        <div class="table-responsive" style="margin-bottom: 16px;">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    {% for order_group in past_orders %}
                                        <tr>
                                            <td>{{ order_group.seller_product_seller_location.seller_product.product.main_product.name }}</td>
                                            <td>{{ order_group.seller_product_seller_location.seller_location.seller.name }}</td>
                                            <td>
                                                <a class="btn btn-light" role="button" href="{% url 'customer_order_group_detail' order_group_id=order_group.id %}"><i class="far fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div><a href="{% url 'customer_order_groups' %}?user_id={{ user.id }}&active=0">See All Orders for this User</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
