{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load tz %}
{% load humanize %}
{% block title %}
    User Update Email
{% endblock %}
{% block javascript %}
    <script>
        function nextStep() {
            document.getElementById("step1").classList.add("d-none");
            document.getElementById("step2").classList.remove("d-none");
            // document.getElementById("step1").style.display = "none";
            // document.getElementById("step2").style.display = "block";
            document.getElementById("stepIndicator1").classList.remove("step-active");
            document.getElementById("stepIndicator2").classList.add("step-active");
            document.getElementById("progressBar").style.width = "100%";
        }
        
        function resetForm() {
            document.getElementById("step1").classList.remove("d-none");
            document.getElementById("step2").classList.add("d-none");
            // document.getElementById("step1").style.display = "block";
            // document.getElementById("step2").style.display = "none";
            document.getElementById("stepIndicator1").classList.add("step-active");
            document.getElementById("stepIndicator2").classList.remove("step-active");
            document.getElementById("progressBar").style.width = "50%";
            document.getElementById("updateEmailForm").reset();
        }
    </script>
{% endblock %}
{% block stylesheet %}
    <style>
        .steps-labels {
            font-weight: bold;
        }
        .step-label {
            flex: 1;
            text-align: center;
        }
        .step-active {
            color: #007bff;
        }
        .progress {
            height: 5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-1">User Update Email</h3>
    </div>
    <div class="container">
        <div class="row" style="padding-bottom: 24px;">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header py-3">
                        <h5 class="card-title">{{ user.email }}</h5>
                    </div>
                    <div class="card-body">
                        <!-- Step Indicator -->

                        <div class="steps-header">
                            <div class="steps-labels d-flex justify-content-between mb-2">
                                <div class="step-label {% if step1 %}step-active{% endif %}" id="stepIndicator1">Step 1: Enter Email</div>
                                <div class="step-label {% if not step1 %}step-active{% endif %}" id="stepIndicator2">Step 2: Enter Code</div>
                            </div>
                            <div class="progress">
                                {% if step1 %}
                                    <div class="progress-bar" id="progressBar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                {% else %}
                                    <div class="progress-bar" id="progressBar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                {% endif %}
                            </div>
                        </div>
                        <form id="updateEmailForm" action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Step 1: Email Input -->
                            <div id="step1" class="step-content {% if not step1 %}d-none{% endif %}">
                                <div class="mb-3 mt-2 {{ css_class }}">
                                    <label for="email" class="form-label">New Email</label>
                                    <input type="email" name="email" id="email" class="form-control" {% if step1 %}required{% endif %} />
                                    {% if code_error %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endif %}
                                    {% if help_msg %}
                                        <small id="id_emailHelp" class="form-text text-muted">{{ help_msg }}</small>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <button class="btn btn-primary mt-2" type="submit" name="submit_email" id="submit_email">Send Code</button>
                                    {% comment %} <button class="btn btn-primary mt-2" type="button" onclick="nextStep()">Next</button> {% endcomment %}
                                </div>
                            </div>
                            <!-- Step 2: Code Input -->
                            <div id="step2" class="step-content {% if step1 %}d-none{% endif %}">
                                <div class="mb-3 mt-2 {{ css_class }}">
                                    <label for="code" class="form-label">Verification Code</label>
                                    <input type="text" name="code" id="code" class="form-control" {% if not step1 %}required{% endif %} />
                                    {% if code_error %}
                                        <small class="text-danger">{{ error }}</small>
                                    {% endif %}
                                    {% if help_msg %}
                                        <small id="id_codeHelp" class="form-text text-muted">{{ help_msg }}</small>
                                    {% endif %}
                                </div>
                                <div class="d-flex flex-row-reverse">
                                    <button class="btn btn-primary mt-2" type="submit" name="submit_code" id="submit_code">Up</button>
                                    <button class="btn btn-secondary mt-2 me-2" type="button" onclick="resetForm()">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
