{% load static %}
{% load tz %}
{% load humanize %}
{% load sales_stream_tags %}
{% block javascript %}
{% endblock %}
{% block modals %}
    <div class="modal fade" role="dialog" tabindex="-1" id="bundle-orders-modal" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="step1-body">
                    <div class="modal-body p-4">
                        <div class="card-body mb-4" style="justify-content: center; display: flex; background: var(--bs-card-cap-bg); border: none; border-radius: 15px;">
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: var(--bs-primary); border: none;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" src="{% static 'customer_dashboard/svg-loaders/truck.svg' %}" />
                                </div>
                            </div>
                            <div class="col-auto my-auto p-0">
                                <div style="width: 200px; height:4px; background-color: black;"></div>
                            </div>
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: transparent; border-width: 4px; border: solid; border-color: black;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" style="filter: invert(100%);" src="{% static 'customer_dashboard/svg-loaders/dollar.svg' %}" />
                                </div>
                            </div>
                            <div class="col-auto my-auto p-0">
                                <div style="width: 200px; height:4px; background-color: black;"></div>
                            </div>
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: transparent; border-width: 4px; border: solid; border-color: black;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" style="filter: invert(100%);" src="{% static 'customer_dashboard/svg-loaders/check-circle.svg' %}" />
                                </div>
                            </div>
                        </div>
                        {% for cart_address in cart %}
                            <div id="cart-address-{{forloop.counter}}">
                                <p class="bundle-list-header">Order in the Cart for: {{ cart_address.address }}</p>
                                <div class="accordion" role="tablist" id="bundle-results">
                                    {% for seller_address in seller_addresses %}
                                        <div class="accordion-item" style="border: none; margin-bottom: 25px" id="seller-address-{{forloop.counter}}">
                                            <h2 class="accordion-header" role="tab">
                                            <button class="accordion-button{% if not forloop.first %} collapsed{% endif %} justify-content-between" style="background-color: var(--bs-primary); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);" type="button" data-bs-toggle="collapse" data-bs-target="#bundle-results .item-{{ forloop.counter }}" aria-expanded="{{ forloop.first|lower }}" aria-controls="bundle-results .item-{{ forloop.counter }}">
                                                <span style="color: white">
                                                    {% if seller_address.seller.name %}
                                                        {{ seller_address.seller.name }}
                                                    {% endif %}
                                                </span>
                                            </button>
                                            </h2>
                                            <!-- prettier-ignore -->
                                            <div class="accordion-collapse collapse item-{{ forloop.counter }} {% if forloop.first %}show {% else %}collapsed{% endif %}"
                                                role="tabpanel"
                                                data-bs-parent="#bundle-results">
                                                <div class="accordion-body">
                                                    <div class="row row-cols-2 g-4">
                                                        {% for item in cart_address.items %}
                                                            {% if item.seller_address.id == seller_address.address.id %}
                                                                {% if item.can_bundle %}
                                                                    <div class="col-6 d-flex align-items-stretch cart-item" id="cart-item-{{forloop.counter}}" data-delivery-price="{{item.delivery_fee}}" data-removal-price="{{item.removal_fee}}">
                                                                        <div class="card p-3" style="background: var(--bs-card-cap-bg); border: none; border-radius: 15px;">
                                                                            <div class="row">
                                                                                <div class="col-auto my-auto">
                                                                                    <input class="form-check-input downstream-checkbox" type="checkbox" id="checkbox-in-bundle" value="" aria-label="add to bundle" {% if item.is_bundled %}checked{% endif %}>
                                                                                </div>
                                                                                <div class="col-auto my-auto" style="padding: 0;">
                                                                                    <img class="img-thumbnail img-fluid"
                                                                                        style="border-style: none; padding: 0px;"
                                                                                        alt="Product image"
                                                                                        width="100"
                                                                                        height="100"
                                                                                        src="{% if item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon %}
                                                                                            {{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon.url }}
                                                                                        {% else %}
                                                                                            {% static 'customer_dashboard/img/defualt_logo.png' %}
                                                                                        {% endif %}" />
                                                                                </div>
                                                                                <div class="col">
                                                                                    <p class="mb-2" style="font-size: 16px; font-weight: bold;">{{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</h4>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>Service date:</strong> {{ item.order.end_date }}</p>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>Order Type:</strong> {{ item.order.order_type }}</p>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>PO ID:</strong> {{ item.order.order_group.project_id }}</p>
                                                                                    {% if user.is_staff %}
                                                                                        <p class="mb-1" style="font-size: 10px;"><strong>Created by:</strong> {% if item.order.created_by %}{{ item.order.created_by.full_name }}{% else %}N/A{% endif%} on {{ item.order.created_on|timezone:"America/Chicago" }} (CT)</p>
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col" style="margin-top: 10px;">
                            <div class="nav" style="display: flex; justify-content: space-between;">
                                <a href="#" class="btn btn-outline-primary" id="close-1" role="button">Close</a>
                                <a href="#" class="next btn btn-primary" id="set-pricing-1" role="button">Set Pricing</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step2-body" style="display: none;">
                    <div class="modal-body">
                        <div class="card-body mb-4" style="justify-content: center; display: flex; background: var(--bs-card-cap-bg); border: none; border-radius: 15px;">
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: var(--bs-primary); border: none;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" src="{% static 'customer_dashboard/svg-loaders/truck.svg' %}" />
                                </div>
                            </div>
                            <div class="col-auto my-auto p-0">
                                <div style="width: 200px; height:4px; background-color: black;"></div>
                            </div>
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: var(--bs-primary); border: none;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" src="{% static 'customer_dashboard/svg-loaders/dollar.svg' %}" />
                                </div>
                            </div>
                            <div class="col-auto my-auto p-0">
                                <div style="width: 200px; height:4px; background-color: black;"></div>
                            </div>
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: transparent; border-width: 4px; border: solid; border-color: black;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" style="filter: invert(100%);" src="{% static 'customer_dashboard/svg-loaders/check-circle.svg' %}" />
                                </div>
                            </div>
                        </div>
                        {% for cart_address in cart %}
                            <div id="cart-bundle-address-{{forloop.counter}}">
                                <p class="bundle-list-header">Order in the Cart for: {{ cart_address.address }}</p>
                                <div class="accordion" role="tablist" id="bundle-results-2">
                                    <i class="fas fa-exclamation-triangle text-danger" id="empty-bundle-warning-{{forloop.counter}}" style="display: none;">No items in this bundle!</i>
                                    {% for seller_address in seller_addresses %}
                                        <div class="accordion-item" style="border: none; margin-bottom: 25px" id="bundle-seller-address-{{forloop.counter}}">
                                            <h2 class="accordion-header" role="tab">
                                            <button class="accordion-button{% if not forloop.first %} collapsed{% endif %} justify-content-between" style="background-color: var(--bs-primary); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);" type="button" data-bs-toggle="collapse" data-bs-target="#bundle-results-2 .item-{{ forloop.counter }}" aria-expanded="{{ forloop.first|lower }}" aria-controls="bundle-results .item-{{ forloop.counter }}">
                                                <span style="color: white">
                                                    {% if seller_address.seller.name %}
                                                        {{ seller_address.seller.name }}
                                                    {% endif %}
                                                </span>
                                            </button>
                                            </h2>
                                            <!-- prettier-ignore -->
                                            <div class="accordion-collapse collapse item-{{ forloop.counter }} {% if forloop.first %}show {% else %}collapsed{% endif %}"
                                                role="tabpanel"
                                                data-bs-parent="#bundle-results-2">
                                                <div class="accordion-body">
                                                    <div class="row row-cols-2 g-4">
                                                        {% for item in cart_address.items %}
                                                            {% if item.seller_address.id == seller_address.address.id %}
                                                                {% if item.can_bundle %}
                                                                    <div class="col-6 d-flex align-items-stretch cart-item" id="cart-bundled-item-{{forloop.counter}}" data-delivery-price="{{item.delivery_fee}}" data-removal-price="{{item.removal_fee}}">
                                                                        <div class="card p-3" style="background: var(--bs-card-cap-bg); border: none; border-radius: 15px;">
                                                                            <div class="row">
                                                                                <div class="col-auto my-auto">
                                                                                    <input class="form-check-input downstream-checkbox" type="checkbox" id="checkbox-in-bundle" value="" aria-label="add to bundle" checked disabled>
                                                                                </div>
                                                                                <div class="col-auto my-auto" style="padding: 0;">
                                                                                    <img class="img-thumbnail img-fluid"
                                                                                        style="border-style: none; padding: 0px;"
                                                                                        alt="Product image"
                                                                                        width="100"
                                                                                        height="100"
                                                                                        src="{% if item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon %}
                                                                                            {{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon.url }}
                                                                                        {% else %}
                                                                                            {% static 'customer_dashboard/img/defualt_logo.png' %}
                                                                                        {% endif %}" />
                                                                                </div>
                                                                                <div class="col">
                                                                                    <p class="mb-2" style="font-size: 16px; font-weight: bold;">{{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</h4>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>Service date:</strong> {{ item.order.end_date }}</p>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>Order Type:</strong> {{ item.order.order_type }}</p>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>PO ID:</strong> {{ item.order.order_group.project_id }}</p>
                                                                                    {% if user.is_staff %}
                                                                                        <p class="mb-1" style="font-size: 10px;"><strong>Created by:</strong> {% if item.order.created_by %}{{ item.order.created_by.full_name }}{% else %}N/A{% endif%} on {{ item.order.created_on|timezone:"America/Chicago" }} (CT)</p>
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                    <div class="row" style="width: 150px">
                                                        <label for="currency">Delivery Rate:</label>
                                                        <span style="padding: 0; position: relative; left: 15px; font-size: 18px; display: flex; align-items: center; color: black;" class="col-auto">$</span>
                                                        <input class="downstream-number" type="number" id="delivery-rate-{{forloop.counter}}" style="padding-left: 20px;" name="delivery-rate" step="0.01" min="0" placeholder="0.00" value={% if seller_address.delivery_fee %}"{{seller_address.delivery_fee}}"{% endif %} required>
                                                    </div>
                                                    <div class="row" style="width: 150px">
                                                        <label for="currency">Removal Rate:</label> 
                                                        <span style="padding: 0; position: relative; left: 15px; font-size: 18px; display: flex; align-items: center; color: black;" class="col-auto">$</span>
                                                        <input class="downstream-number" type="number" id="removal-rate-{{forloop.counter}}" style="padding-left: 20px;" name="removal-rate" step="0.01" min="0" placeholder="0.00" value={% if seller_address.removal_fee %}"{{seller_address.removal_fee}}"{% endif %} required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col" style="margin-top: 10px;">
                            <div class="nav" style="display: flex; justify-content: space-between;">
                                <a href="#" class="btn btn-outline-primary" id="back-2" role="button">Back</a>
                                <a href="#" class="next btn btn-primary" id="review-bundle-2" role="button">Review Bundle</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step3-body" style="display: none;">
                    <div class="modal-body">
                        <div class="card-body mb-4" style="justify-content: center; display: flex; background: var(--bs-card-cap-bg); border: none; border-radius: 15px;">
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: var(--bs-primary); border: none;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" src="{% static 'customer_dashboard/svg-loaders/truck.svg' %}" />
                                </div>
                            </div>
                            <div class="col-auto my-auto p-0">
                                <div style="width: 200px; height:4px; background-color: black;"></div>
                            </div>
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: var(--bs-primary); border: none;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" src="{% static 'customer_dashboard/svg-loaders/dollar.svg' %}" />
                                </div>
                            </div>
                            <div class="col-auto my-auto p-0">
                                <div style="width: 200px; height:4px; background-color: black;"></div>
                            </div>
                            <div class="stack">
                                <div class="stack-bottom">
                                    <div class="rounded-circle" style="width: 80px; height:80px; background: var(--bs-primary); border: none;"></div>
                                </div>
                                <div class="stack-top">
                                    <img class="svg-loader large-svg-loader" src="{% static 'customer_dashboard/svg-loaders/check-circle.svg' %}" />
                                </div>
                            </div>
                        </div>
                        {% for cart_address in cart %}
                            <div id="cart-bundle-confirm-address-{{forloop.counter}}">
                                <p class="bundle-list-header">Order in the Cart for: {{ cart_address.address }}</p>
                                <div class="accordion" role="tablist" id="bundle-results-3">
                                    <h4 id="empty-bundle-info-{{forloop.counter}}" style="display: none;">Empty bundles will be removed!</h4>
                                    {% for seller_address in seller_addresses %}
                                        <div class="accordion-item" style="border: none; margin-bottom: 25px" id="bundle-confirm-seller-address-{{forloop.counter}}" data-seller-address="{{seller_address.id}}">
                                            <h2 class="accordion-header" role="tab">
                                            <button class="accordion-button{% if not forloop.first %} collapsed{% endif %} justify-content-between" style="background-color: var(--bs-primary); box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);" type="button" data-bs-toggle="collapse" data-bs-target="#bundle-results-3 .item-{{ forloop.counter }}" aria-expanded="{{ forloop.first|lower }}" aria-controls="bundle-results .item-{{ forloop.counter }}">
                                                <span style="color: white">
                                                    {% if seller_address.seller.name %}
                                                        {{ seller_address.seller.name }}
                                                    {% endif %}
                                                </span>
                                            </button>
                                            </h2>
                                            <!-- prettier-ignore -->
                                            <div class="accordion-collapse collapse item-{{ forloop.counter }} {% if forloop.first %}show {% else %}collapsed{% endif %}"
                                                role="tabpanel"
                                                data-bs-parent="#bundle-results-3">
                                                <div class="accordion-body">
                                                    <div class="row row-cols-2 g-4">
                                                        {% for item in cart_address.items %}
                                                            {% if item.seller_address.id == seller_address.address.id %}
                                                                {% if item.can_bundle %}
                                                                    <div class="col-6 d-flex align-items-stretch cart-item" id="cart-bundled-confirm-item-{{forloop.counter}}" data-delivery-price="{{item.delivery_fee}}" data-removal-price="{{item.removal_fee}}" data-order-id="{{item.order.id}}" data-take-rate="{{item.order.order_group.take_rate}}">
                                                                        <div class="card p-3" style="background: var(--bs-card-cap-bg); border: none; border-radius: 15px;">
                                                                            <div class="row">
                                                                                <div class="col-auto my-auto">
                                                                                    <input class="form-check-input downstream-checkbox" type="checkbox" id="checkbox-in-bundle" value="" aria-label="add to bundle" checked disabled>
                                                                                </div>
                                                                                <div class="col-auto my-auto" style="padding: 0;">
                                                                                    <img class="img-thumbnail img-fluid"
                                                                                        style="border-style: none; padding: 0px;"
                                                                                        alt="Product image"
                                                                                        width="100"
                                                                                        height="100"
                                                                                        src="{% if item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon %}
                                                                                            {{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon.url }}
                                                                                        {% else %}
                                                                                            {% static 'customer_dashboard/img/defualt_logo.png' %}
                                                                                        {% endif %}" />
                                                                                </div>
                                                                                <div class="col">
                                                                                    <p class="mb-2" style="font-size: 16px; font-weight: bold;">{{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</h4>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>Service date:</strong> {{ item.order.end_date }}</p>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>Order Type:</strong> {{ item.order.order_type }}</p>
                                                                                    <p class="mb-1" style="font-size: 10px;"><strong>PO ID:</strong> {{ item.order.order_group.project_id }}</p>
                                                                                    {% if user.is_staff %}
                                                                                        <p class="mb-1" style="font-size: 10px;"><strong>Created by:</strong> {% if item.order.created_by %}{{ item.order.created_by.full_name }}{% else %}N/A{% endif%} on {{ item.order.created_on|timezone:"America/Chicago" }} (CT)</p>
                                                                                    {% endif %}
                                                                                </div>
                                                                            </div>
                                                                            <div>
                                                                                <p class="mb-0" style="font-size: 12px; font-weight: bold;">Delivery:</p>
                                                                                <p class="mb-1" style="font-size: 12px;" id="delivery-cost"></p>
                                                                                <p class="mb-0" style="font-size: 12px; font-weight: bold;">Removal:</p>
                                                                                <p class="mb-1" style="font-size: 12px;" id="removal-cost"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="col" style="margin-top: 10px;">
                            <div class="nav" style="display: flex; justify-content: space-between;">
                                <a href="#" class="btn btn-outline-primary" id="back-3" role="button">Back</a>
                                <a href="#" class="next btn btn-primary" id="save-bundle-3" role="button">Save Bundle</a>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
  <form id="bundle-form" action="{% url 'new_bundle' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="bundles" name="bundles" value=""></input>
  </form>
{% endblock %}