{% load static %}
{% load tz %}
{% load humanize %}
{% load sales_stream_tags %}
{% block javascript %}
  <script>
    var bundleId = 1
    var saveBundle = function() {
        // pass a list of bundles
        // each bundle should have items, deliveryCost, and removalCost
        // items should be a list of orderIds
        var cartAddress = jQuery(`[id^='cart-address-${bundleId}']`)
        var cartBuckets = jQuery(cartAddress).find("[id^='seller-address-']")
        var cartBucketItemChecked = []
        cartBuckets.each(function(index, bucket) {
          var cartItems = jQuery(bucket).find("[id^='cart-item-']")
          // loop through each item in the bucket and mark down is it checked
          // they are not in array form
          cartBucketItemChecked[index] = []
          cartItems.each(function(index2, item) {
            var checkbox = jQuery(item).find("input[type='checkbox']")
            cartBucketItemChecked[index][index2] = checkbox.is(":checked")
          })
        })
        var bundleAddress = jQuery(`[id^='cart-bundle-confirm-address-${bundleId}']`)
        var cartBundleBuckets = jQuery(bundleAddress).find("[id^='bundle-confirm-seller-address-']")
        var bundles = []
        cartBundleBuckets.each(function(index, bucket) {
            var cartItems = jQuery(bucket).find("[id^='cart-bundled-confirm-item-']")
            var numberChecked = cartBucketItemChecked[index].filter(Boolean).length;
            var seller_address_id = bucket.getAttribute("data-seller-address")
            if (numberChecked >= 2) {
                var orderItems = []
                cartItems.each(function(index2, item) {
                    if (cartBucketItemChecked[index][index2]) {
                        var orderId = jQuery(item).attr("data-order-id")
                        orderItems.push(orderId)
                    }
                })
                var deliveryCost = parseFloat(jQuery(`[id^='cart-bundle-address-${bundleId}']`).find(`#bundle-seller-address-${index+1}`).find("[id^='delivery-rate-']").val())
                var removalCost = parseFloat(jQuery(`[id^='cart-bundle-address-${bundleId}']`).find(`#bundle-seller-address-${index+1}`).find("[id^='removal-rate-']").val())
                bundles.push({items:orderItems,deliveryCost:deliveryCost,removalCost:removalCost})
            } else {
                // this will delete the bundle if it has less than 2 items
                // pass the items so you know which bundle to delete
                if (cartItems[0]!= null) {
                    var orderItems = []
                    cartItems.each(function(index2, item) {
                        if (cartBucketItemChecked[index][index2]) {
                            var orderId = jQuery(item).attr("data-order-id")
                            orderItems.push(orderId)
                        }
                    })
                    bundles.push({empty:true,items:orderItems})
                }
            }
        })
        const form = jQuery("#bundle-form")

        const input = jQuery(form).find("#bundles")
        input.attr("value",JSON.stringify(bundles))

        form.submit();
    }
    var showBundleConfirme = function() {
        // loop through all the cart buckets i.e. user_address
        // find items check in each
        // if less that 2 are checked in a bucket. don't count that bucket
        var cartAddress = jQuery(`[id^='cart-address-${bundleId}']`)
        var cartBuckets = jQuery(cartAddress).find("[id^='seller-address-']")
        var cartBucketItemChecked = []
        cartBuckets.each(function(index, bucket) {
          var cartItems = jQuery(bucket).find("[id^='cart-item-']")
          // loop through each item in the bucket and mark down is it checked
          // they are not in array form
          cartBucketItemChecked[index] = []
          cartItems.each(function(index2, item) {
            var checkbox = jQuery(item).find("input[type='checkbox']")
            cartBucketItemChecked[index][index2] = checkbox.is(":checked")
          })
        })

        var bundleAddress = jQuery(`[id^='cart-bundle-confirm-address-${bundleId}']`)
        var cartBundleBuckets = jQuery(bundleAddress).find("[id^='bundle-confirm-seller-address-']")
        var emptyBundles = true
        cartBundleBuckets.each(function(index, bucket) {
            var numberChecked = cartBucketItemChecked[index].filter(Boolean).length;
            jQuery(bucket).toggle(numberChecked >= 2);
            if (numberChecked >= 2) {
                emptyBundles = false
            }
            var cartItems = jQuery(bucket).find("[id^='cart-bundled-confirm-item-']")
            var numberChecked = cartBucketItemChecked[index].filter(Boolean).length;
            cartItems.each(function(index2, item) {
                jQuery(item).toggle(cartBucketItemChecked[index][index2]);
                // adjust the delivery cost
                var deliveryCostText = jQuery(item).find("#delivery-cost")
                var removalCostText = jQuery(item).find("#removal-cost")
                var deliveryCostInput = jQuery(`[id^='cart-bundle-address-${bundleId}']`).find(`#bundle-seller-address-${index+1}`).find("[id^='delivery-rate-']")
                var removalCostInput = jQuery(`[id^='cart-bundle-address-${bundleId}']`).find(`#bundle-seller-address-${index+1}`).find("[id^='removal-rate-']")
                var deliveryCost = parseFloat(deliveryCostInput.val())
                var removalCost = parseFloat(removalCostInput.val())
                var deliveryCostPerItem = parseFloat(deliveryCost / numberChecked).toFixed(2)
                var removalCostPerItem = (removalCost / numberChecked).toFixed(2)
                deliveryCostText.text("$"+deliveryCost+"/"+numberChecked+" items = $"+deliveryCostPerItem)
                removalCostText.text("$"+removalCost+"/"+numberChecked+" items = $"+removalCostPerItem)
            })
            var emptyBundlesWarning = jQuery(`#empty-bundle-info-${bundleId}`)
            emptyBundlesWarning.hide();
            if (emptyBundles) {
                // bundle will be removed
                emptyBundlesWarning.show();
            }
        })
    }
    var showBundles = function() {
        // loop through all the cart buckets i.e. user_address
        // find items check in each
        // if less that 2 are checked in a bucket. don't count that bucket
        var cartAddress = jQuery(`[id^='cart-address-${bundleId}']`)
        var cartBuckets = jQuery(cartAddress).find("[id^='seller-address-']")
        var cartBucketItemChecked = []
        var cardHeight = 0
        cartBuckets.each(function(index, bucket) {
          var cartItems = jQuery(bucket).find("[id^='cart-item-']")
          // loop through each item in the bucket and mark down is it checked
          // loop through and find the tallest card size
          // they are not in array form
          cartBucketItemChecked[index] = []
          cartItems.each(function(index2, item) {
            var checkbox = jQuery(item).find("input[type='checkbox']")
            cartBucketItemChecked[index][index2] = checkbox.is(":checked")
            var card = jQuery(item).find(".card-body")
            if (card[0].offsetHeight>cardHeight) {
                cardHeight = card[0].offsetHeight
            }
          })
        })

        var bundleAddress = jQuery(`[id^='cart-bundle-address-${bundleId}']`)
        var cartBundleBuckets = jQuery(bundleAddress).find("[id^='bundle-seller-address-']")
        var emptyBundles = true
        cartBundleBuckets.each(function(index, bucket) {
            var numberChecked = cartBucketItemChecked[index].filter(Boolean).length;
            jQuery(bucket).toggle(numberChecked >= 2);
            if (numberChecked >= 2) {
                emptyBundles = false
            }
            var cartItems = jQuery(bucket).find("[id^='cart-bundled-item-']")
            var highestDeliveryPrice = 0
            var highestRemovalPrice = 0
            cartItems.each(function(index2, item) {
                jQuery(item).toggle(cartBucketItemChecked[index][index2]);
                if (cartBucketItemChecked[index][index2]) {
                    var itemDeliveryPrice = parseFloat(item.getAttribute("data-delivery-price"))
                    var itemRemovalPrice = parseFloat(item.getAttribute("data-removal-price"))
                    if (itemDeliveryPrice > highestDeliveryPrice) {
                        highestDeliveryPrice = itemDeliveryPrice
                    }
                    if (itemRemovalPrice > highestRemovalPrice) {
                        highestRemovalPrice = itemRemovalPrice
                    }
                }
                var card = jQuery(item).find(".card-body")
                // card.height(card[0].clientHeight);
            })
            // set the default delivery cost
            var default_delivery_price_button = jQuery(bucket).find("#default-delivery-price")
            var default_removal_price_button = jQuery(bucket).find("#default-removal-price")
            var default_delivery_price_text = default_delivery_price_button.next();
            var default_removal_price_text = default_removal_price_button.next();
            default_delivery_price_text.text("default is: $"+highestDeliveryPrice)
            default_removal_price_text.text("default is: $"+highestRemovalPrice)
            default_delivery_price_button.bind("click", function() {
                var deliveryInput = jQuery(bucket).find("[id^='delivery-rate-']")
                deliveryInput.attr('value', highestDeliveryPrice);
            })
            default_removal_price_button.bind("click", function() {
                var removalInput = jQuery(bucket).find("[id^='removal-rate-']")
                removalInput.attr('value', highestRemovalPrice);
            })
        })
        // show warning if there are no bundles
        var emptyBundlesWarning = jQuery(`#empty-bundle-warning-${bundleId}`)
        emptyBundlesWarning.hide();
        if (emptyBundles) {
            emptyBundlesWarning.show();
        }
    }
    jQuery( document ).ready(function() {
      // show the address that goes with this bundle button
      var bundleButtons = jQuery("[id^='bundle-button-']")
      var cartAddresses = jQuery("[id^='cart-address-']")
      var cartBundleAddresses = jQuery("[id^='cart-bundle-address-']")
      var cartBundleConfirmAddresses = jQuery("[id^='cart-bundle-confirm-address-']")
      var bundleListHeader = jQuery(".bundle-list-header")
      
      bundleButtons.each(function(index, button) {
        $(button).on("click", function() {
          cartAddresses.hide();
          cartBundleAddresses.hide();
          cartBundleConfirmAddresses.hide();
          bundleId = $(button).attr("id").split("-")[2];
          cartAddresses.filter("#cart-address-" + bundleId).show();
          cartBundleAddresses.filter("#cart-bundle-address-" + bundleId).show();
          cartBundleConfirmAddresses.filter("#cart-bundle-confirm-address-" + bundleId).show();
        })
      })
		
      var closeButton1 = jQuery("#close-1")
      var setPricingButton1 =jQuery("#set-pricing-1")
      var backButton2 = jQuery("#back-2")
      var reviewBundleButton2 = jQuery("#review-bundle-2")
      var backButton3 = jQuery("#back-3")
      var saveBundleButton3 = jQuery("#save-bundle-3")

      setPricingButton1.bind("click", function() {
        // show the correct content
        jQuery(".step1-body").hide()
        jQuery(".step2-body").show()
        showBundles()
      });
      closeButton1.bind("click", function() {
        // hide the popup
        jQuery('#bundle-orders-modal').modal('hide');
      });
      reviewBundleButton2.bind("click", function() { 
        // show the correct content
        jQuery(".step2-body").hide()
        jQuery(".step3-body").show()
        showBundleConfirme()
      });
      backButton2.bind("click", function() { 
        // show the correct content
        jQuery(".step2-body").hide()
        jQuery(".step1-body").show()
      });
      saveBundleButton3.bind("click", function() { 
        saveBundle()
      });
      backButton3.bind("click", function() { 
        // show the correct content
        jQuery(".step3-body").hide()
        jQuery(".step2-body").show()
      });
    })
  </script>
{% endblock %}
{% block modals %}
    <div class="modal fade" role="dialog" tabindex="-1" id="bundle-orders-modal" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="step1-body">
                    <div class="modal-header">
                        <div style="width: 500px; height:5px; background-color: transparent;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="fas fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-truck" style="color: white; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 860px; height:5px; background-color: black;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="far fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-money-bill" style="color: black; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 860px; height:5px; background-color: black;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="far fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-check" style="color: black; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 500px; height:5px; background-color: transparent;"></div>
                    </div>
                    <div class="modal-body">
                        {% for cart_address in cart %}
                            <div id="cart-address-{{forloop.counter}}">
                                <p class="bundle-list-header">Order in the Cart for: {{ cart_address.address }}</p>
                                <div class="card" style="background: var(--bs-card-cap-bg);">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="accordion" role="tablist" id="bundle-results">
                                                    {% for seller_address in seller_addresses %}
                                                        <div class="accordion-item" id="seller-address-{{forloop.counter}}">
                                                            {{cart_address.seller_addresses}}
                                                            <h2 class="accordion-header" role="tab">
                                                            <button class="accordion-button{% if not forloop.first %} collapsed{% endif %} justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#bundle-results .item-{{ forloop.counter }}" aria-expanded="{{ forloop.first|lower }}" aria-controls="bundle-results .item-{{ forloop.counter }}">
                                                                <div>
                                                                    <span>
                                                                        {% if seller_address.address.name %}
                                                                            {{ seller_address.address.name }}
                                                                        {% endif %}
                                                                    </span> -
                                                                    <span><strong>{{ cart_address.total|currency }}</strong></span>
                                                                    <span id="count-{{ seller_address.address.id }}" class="badge text-bg-secondary ms-2 me-2" data-count="{{ cart_address.count }}">{{ cart_address.count }} item{{ cart_address.count|pluralize }}</span>
                                                                </div>
                                                                <div class="ms-auto align-items-end">
                                                                    {% if user.is_staff %}
                                                                        <span class="ms-2">
                                                                            [{% if seller_address.address.seller.name %}
                                                                                {{ seller_address.address.seller.name }}
                                                                            {% endif %}]
                                                                        </span>
                                                                    {% endif %}
                                                                </div>
                                                            </button>
                                                            </h2>
                                                            <!-- prettier-ignore -->
                                                            <div class="accordion-collapse collapse item-{{ forloop.counter }} {% if forloop.first %}show {% else %}collapsed{% endif %}"
                                                                role="tabpanel"
                                                                data-bs-parent="#bundle-results">
                                                                <div class="accordion-body">
                                                                    <div class="card-container" style="display: flex; flex-wrap: wrap;">
                                                                        {% for item in cart_address.items %}
                                                                            {% if item.seller_address.id == seller_address.address.id %}
                                                                                {% if item.can_bundle %}
                                                                                    <div class="col-md-6 cart-item" id="cart-item-{{forloop.counter}}" data-delivery-price="{{item.delivery_fee}}" data-removal-price="{{item.removal_fee}}">
                                                                                        <div class="card" style="margin: 5px 5px;">
                                                                                            <div class="card-body" style="background: var(--bs-card-cap-bg); height: 170px;">
                                                                                                <div class="row d-flex align-items-center">
                                                                                                    <div class="col-auto my-auto">
                                                                                                        <input class="form-check-input downstream-checkbox" type="checkbox" id="checkbox-in-bundle" value="" aria-label="add to bundle" {% if item.is_bundled %}checked{% endif %}>
                                                                                                    </div>
                                                                                                    <div class="col-auto" style="padding: 0;">
                                                                                                        <img class="img-thumbnail img-fluid"
                                                                                                            style="border-style: none; padding: 0px;"
                                                                                                            alt="Product image"
                                                                                                            width="100"
                                                                                                            height="100"
                                                                                                            src="{% if item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon %}
                                                                                                                {{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon.url }}
                                                                                                            {% else %}
                                                                                                                {% static 'customer_dashboard/img/defualt_logo.png' %}
                                                                                                            {% endif %}" />
                                                                                                    </div>
                                                                                                    <div class="col">
                                                                                                        <p class="mb-2" style="font-size: 16px; font-weight: bold;">{{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</h4>
                                                                                                        <p class="mb-1" style="font-size: 10px;">Service date: {{ item.order.end_date }}</p>
                                                                                                        <p class="mb-1" style="font-size: 10px;">Order Type: {{ item.order.order_type }}</p>
                                                                                                        <p class="mb-1" style="font-size: 10px;">PO ID: {{ item.order.order_group.project_id }}</p>
                                                                                                        {% if user.is_staff %}
                                                                                                            <p class="mb-1" style="font-size: 10px;">Created by: {% if item.order.created_by %}{{ item.order.created_by.full_name }}{% else %}N/A{% endif%} on {{ item.order.created_on|timezone:"America/Chicago" }} (CT)</p>
                                                                                                        {% endif %}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <div class="col" style="margin-top: 10px;">
                            <div class="nav" style="display: flex; justify-content: space-between;">
                                <a href="#" class="btn btn-outline-info" id="close-1" role="button">Close</a>
                                <a href="#" class="next btn btn-primary" id="set-pricing-1" role="button">Set Pricing</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step2-body" style="display: none;">
                    <div class="modal-header">
                        <div style="width: 500px; height:5px; background-color: transparent;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="fas fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-truck" style="color: white; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 860px; height:5px; background-color: black;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="fas fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-money-bill" style="color: white; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 860px; height:5px; background-color: black;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="far fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-check" style="color: black; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 500px; height:5px; background-color: transparent;"></div>
                    </div>
                    <div class="modal-body">
                        {% for cart_address in cart %}
                            <div id="cart-bundle-address-{{forloop.counter}}">
                                <p class="bundle-list-header">Order in the Bundle for: {{ cart_address.address }}</p>
                                <div class="card" style="background: var(--bs-card-cap-bg);">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="accordion" role="tablist" id="bundle-results-2">
                                                    <i class="fas fa-exclamation-triangle text-danger" id="empty-bundle-warning-{{forloop.counter}}" style="display: none;">No items in this bundle!</i>
                                                    {% for seller_address in seller_addresses %}
                                                        <div class="accordion-item" id="bundle-seller-address-{{forloop.counter}}">
                                                            {{cart_address.seller_addresses}}
                                                            <h2 class="accordion-header" role="tab">
                                                            <button class="accordion-button{% if not forloop.first %} collapsed{% endif %} justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#bundle-results-2 .item-{{ forloop.counter }}" aria-expanded="{{ forloop.first|lower }}" aria-controls="bundle-results-2 .item-{{ forloop.counter }}">
                                                                <div>
                                                                    <span>
                                                                        {% if seller_address.address.name %}
                                                                            {{ seller_address.address.name }}
                                                                        {% endif %}
                                                                    </span> -
                                                                    <span><strong>{{ cart_address.total|currency }}</strong></span>
                                                                    <span id="count-{{ seller_address.address.id }}" class="badge text-bg-secondary ms-2 me-2" data-count="{{ cart_address.count }}">{{ cart_address.count }} item{{ cart_address.count|pluralize }}</span>
                                                                </div>
                                                                <div class="ms-auto align-items-end">
                                                                    {% if user.is_staff %}
                                                                        <span class="ms-2">
                                                                        [{% if seller_address.address.seller.name %}
                                                                            {{ seller_address.address.seller.name }}
                                                                        {% endif %}]
                                                                        </span>
                                                                    {% endif %}
                                                                </div>
                                                            </button>
                                                            </h2>
                                                            <!-- prettier-ignore -->
                                                            <div class="accordion-collapse collapse item-{{ forloop.counter }} {% if forloop.first %}show {% else %}collapsed{% endif %}"
                                                                role="tabpanel"
                                                                data-bs-parent="#bundle-results-2">
                                                                <div class="accordion-body">
                                                                    <div class="card-container" style="display: flex; flex-wrap: wrap;">
                                                                        {% for item in cart_address.items %}
                                                                            {% if item.seller_address.id == seller_address.address.id %}
                                                                                {% if item.can_bundle %}
                                                                                    <div class="col-md-6 cart-item" id="cart-bundled-item-{{forloop.counter}}" data-delivery-price="{{item.delivery_fee}}" data-removal-price="{{item.removal_fee}}">
                                                                                        <div class="card" style="margin: 5px 5px;">
                                                                                            <div class="card-body" style="background: var(--bs-card-cap-bg);">
                                                                                                <div class="row d-flex align-items-center">
                                                                                                    <div class="col-auto my-auto">
                                                                                                        <input class="form-check-input downstream-checkbox" type="checkbox" id="checkbox-in-bundle" value="" aria-label="add to bundle" checked disabled>
                                                                                                    </div>
                                                                                                    <div class="col-auto" style="padding: 0;">
                                                                                                        <img class="img-thumbnail img-fluid"
                                                                                                            style="border-style: none; padding: 0px;"
                                                                                                            alt="Product image"
                                                                                                            width="100"
                                                                                                            height="100"
                                                                                                            src="{% if item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon %}
                                                                                                                {{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon.url }}
                                                                                                            {% else %}
                                                                                                                {% static 'customer_dashboard/img/defualt_logo.png' %}
                                                                                                            {% endif %}" />
                                                                                                    </div>
                                                                                                    <div class="col">
                                                                                                        <p class="mb-2" style="font-size: 16px; font-weight: bold;">{{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</h4>
                                                                                                        <p class="mb-1" style="font-size: 10px;">Service date: {{ item.order.end_date }}</p>
                                                                                                        <p class="mb-1" style="font-size: 10px;">Order Type: {{ item.order.order_type }}</p>
                                                                                                        <p class="mb-1" style="font-size: 10px;">PO ID: {{ item.order.order_group.project_id }}</p>
                                                                                                        {% if user.is_staff %}
                                                                                                            <p class="mb-1" style="font-size: 10px;">Created by: {% if item.order.created_by %}{{ item.order.created_by.full_name }}{% else %}N/A{% endif%} on {{ item.order.created_on|timezone:"America/Chicago" }} (CT)</p>
                                                                                                        {% endif %}
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                    <div class="row" style="width: 150px">
                                                                        <label for="currency">Delivery Rate:</label>
                                                                        <span style="padding: 0; position: relative; left: 15px; font-size: 18px; display: flex; align-items: center; color: black;" class="col-auto">$</span>
                                                                        <input class="downstream-number" type="number" id="delivery-rate-{{forloop.counter}}" style="padding-left: 20px;" name="delivery-rate" step="0.01" min="0" placeholder="0.00" value={% if seller_address.delivery_fee %}"{{seller_address.delivery_fee}}"{% endif %} required>
                                                                        <button type="button" class="btn btn-primary" id="default-delivery-price">Use Default</button>
                                                                        <p>default is: $</p>
                                                                    </div>
                                                                    <div class="row" style="width: 150px">
                                                                        <label for="currency">Removal Rate:</label> 
                                                                        <span style="padding: 0; position: relative; left: 15px; font-size: 18px; display: flex; align-items: center; color: black;" class="col-auto">$</span>
                                                                        <input class="downstream-number" type="number" id="removal-rate-{{forloop.counter}}" style="padding-left: 20px;" name="removal-rate" step="0.01" min="0" placeholder="0.00" value={% if seller_address.removal_fee %}"{{seller_address.removal_fee}}"{% endif %} required>
                                                                        <button type="button" class="btn btn-primary" id="default-removal-price">Use Default</button>
                                                                        <p>default is: $</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <div class="col" style="margin-top: 10px;">
                            <div class="nav" style="display: flex; justify-content: space-between;">
                                <a href="#" class="btn btn-outline-info" id="back-2" role="button">Back</a>
                                <a href="#" class="next btn btn-primary" id="review-bundle-2" role="button">Review Bundle</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step3-body" style="display: none;">
                    <div class="modal-header">
                        <div style="width: 500px; height:5px; background-color: transparent;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="fas fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-truck" style="color: white; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 860px; height:5px; background-color: black;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="fas fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-money-bill" style="color: white; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 860px; height:5px; background-color: black;"></div>
                        <div class="stack">
                            <div class="stack-bottom">
                                <i class="fas fa-circle" style="color: var(--bs-primary); font-size: 80px;"></i>
                            </div>
                            <div class="stack-top">
                                <i class="fas fa-check" style="color: white; font-size: 30px;"></i>
                            </div>
                        </div>
                        <div style="width: 500px; height:5px; background-color: transparent;"></div>
                    </div>
                    <div class="modal-body">
                        {% for cart_address in cart %}
                            <div id="cart-bundle-confirm-address-{{forloop.counter}}">
                                <p class="bundle-list-header">Order in the Bundle for: {{ cart_address.address }}</p>
                                <div class="card" style="background: var(--bs-card-cap-bg);">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <div class="accordion" role="tablist" id="bundle-results-3">
                                                    <h4 id="empty-bundle-info-{{forloop.counter}}" style="display: none;">Empty bundles will be removed!</h4>
                                                    {% for seller_address in seller_addresses %}
                                                        <div class="accordion-item" id="bundle-confirm-seller-address-{{forloop.counter}}" data-seller-address="{{seller_address.id}}">
                                                            {{cart_address.seller_addresses}}
                                                            <h2 class="accordion-header" role="tab">
                                                            <button class="accordion-button{% if not forloop.first %} collapsed{% endif %} justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#bundle-results-3 .item-{{ forloop.counter }}" aria-expanded="{{ forloop.first|lower }}" aria-controls="bundle-results-3 .item-{{ forloop.counter }}">
                                                                <div>
                                                                    <span>
                                                                        {% if seller_address.address.name %}
                                                                            {{ seller_address.address.name }}
                                                                        {% endif %}
                                                                    </span> -
                                                                    <span><strong>{{ cart_address.total|currency }}</strong></span>
                                                                    <span id="count-{{ seller_address.address.id }}" class="badge text-bg-secondary ms-2 me-2" data-count="{{ cart_address.count }}">{{ cart_address.count }} item{{ cart_address.count|pluralize }}</span>
                                                                </div>
                                                                <div class="ms-auto align-items-end">
                                                                    {% if user.is_staff %}
                                                                        <span class="ms-2">
                                                                        [{% if seller_address.address.seller.name %}
                                                                            {{ seller_address.address.seller.name }}
                                                                        {% endif %}]
                                                                        </span>
                                                                    {% endif %}
                                                                </div>
                                                            </button>
                                                            </h2>
                                                            <!-- prettier-ignore -->
                                                            <div class="accordion-collapse collapse item-{{ forloop.counter }} {% if forloop.first %}show {% else %}collapsed{% endif %}"
                                                                role="tabpanel"
                                                                data-bs-parent="#bundle-results-3">
                                                                <div class="accordion-body">
                                                                    <div class="card-container" style="display: flex; flex-wrap: wrap;">
                                                                        {% for item in cart_address.items %}
                                                                            {% if item.seller_address.id == seller_address.address.id %}
                                                                                {% if item.can_bundle %}
                                                                                    <div class="col-md-6 cart-item" id="cart-bundled-confirm-item-{{forloop.counter}}" data-delivery-price="{{item.delivery_fee}}" data-removal-price="{{item.removal_fee}}" data-order-id="{{item.order.id}}">
                                                                                        <div class="card" style="margin: 5px 5px;">
                                                                                            <div class="card-body" style="background: var(--bs-card-cap-bg); height: 220px;">
                                                                                                <div class="row d-flex align-items-center">
                                                                                                    <div class="col-auto my-auto">
                                                                                                        <input class="form-check-input downstream-checkbox" type="checkbox" id="checkbox-in-bundle" value="" aria-label="add to bundle" checked disabled>
                                                                                                    </div>
                                                                                                    <div class="col-auto" style="padding: 0;">
                                                                                                        <img class="img-thumbnail img-fluid"
                                                                                                            style="border-style: none; padding: 0px;"
                                                                                                            alt="Product image"
                                                                                                            width="100"
                                                                                                            height="100"
                                                                                                            src="{% if item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon %}
                                                                                                                {{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon.url }}
                                                                                                            {% else %}
                                                                                                                {% static 'customer_dashboard/img/defualt_logo.png' %}
                                                                                                            {% endif %}" />
                                                                                                    </div>
                                                                                                    <div class="col">
                                                                                                        <p class="mb-2" style="font-size: 16px; font-weight: bold;">{{ item.order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</h4>
                                                                                                        <p class="mb-1" style="font-size: 10px;">Service date: {{ item.order.end_date }}</p>
                                                                                                        <p class="mb-1" style="font-size: 10px;">Order Type: {{ item.order.order_type }}</p>
                                                                                                        <p class="mb-1" style="font-size: 10px;">PO ID: {{ item.order.order_group.project_id }}</p>
                                                                                                        {% if user.is_staff %}
                                                                                                            <p class="mb-1" style="font-size: 10px;">Created by: {% if item.order.created_by %}{{ item.order.created_by.full_name }}{% else %}N/A{% endif%} on {{ item.order.created_on|timezone:"America/Chicago" }} (CT)</p>
                                                                                                        {% endif %}
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <p class="mb-0" style="font-size: 12px; font-weight: bold;">Delivery:</p>
                                                                                                    <p class="mb-1" style="font-size: 12px;" id="delivery-cost"></p>
                                                                                                    <p class="mb-0" style="font-size: 12px; font-weight: bold;">Removal:</p>
                                                                                                    <p class="mb-1" style="font-size: 12px;" id="removal-cost"></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <div class="col" style="margin-top: 10px;">
                            <div class="nav" style="display: flex; justify-content: space-between;">
                                <a href="#" class="btn btn-outline-info" id="back-3" role="button">Back</a>
                                <a href="#" class="next btn btn-primary" id="save-bundle-3" role="button">Save Bundle</a>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>
  </div>
  <form id="bundle-form" action="{% url 'new_bundle' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="bundles" name="bundles" value=""></input>
  </form>
{% endblock %}