<div class="modal-dialog" role="document" id="company-user-form">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Add User</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <form hx-post="{% url 'customer_new_company_user' user_group_id=user_group.id %}" hx-target="#company-user-form" hx-swap="outerHTML">
                {% csrf_token %}
                <div id="id_user_form" class="row g-3">
                    {% include 'customer_dashboard/snippets/email_check.html' %}
                </div>
                <hr />
                {% if form_error %}
                    <p class="text-danger">{{ form_error }}</p>
                {% endif %}
                {% if form_msg %}
                    <p class="text-danger">{{ form_msg }}</p>
                {% endif %}
                <div class="d-flex flex-row-reverse">
                    <button class="btn btn-primary btn-sm" type="submit" name="access_details_button" style="margin-top: 12px;">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
