{% load static %}
{% if error %}
    <div class="col-md-6 {{ css_class }}" hx-target="#id_user_form" hx-swap="innerHTML">
        <label for="id_email">Email:</label>
        <input type="email" autocomplete="off" name="email" class="form-control" required="" id="id_email" value="{{ email }}" aria-invalid="true" hx-post="{% url 'customer_email_check' %}" hx-indicator="#htmx-indicator-email" />
        <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        <small class="text-danger">{{ error }}</small>
    </div>
{% else %}
    <div class="col-md-6 {{ css_class }}" hx-target="#id_user_form" hx-swap="innerHTML">
        <label for="id_email">Email:</label>
        <input type="email" autocomplete="off" name="email" class="form-control" required="" id="id_email" value="{{ email }}" aria-invalid="false" hx-post="{% url 'customer_email_check' %}" hx-indicator="#htmx-indicator-email" />
        <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        <small id="id_emailHelp" class="form-text text-muted">{{ help_msg }}</small>
    </div>
{% endif %}
<div class="col-md-6">
    <label for="id_phone">Phone:</label>
    <input type="tel" autocomplete="off" name="phone" class="form-control" maxlength="40" id="id_phone" value="{{ phone }}" />
</div>
<div class="col-md-6">
    <label for="id_first_name" class="form-label">First name:</label>
    <input type="text" autocomplete="off" name="first_name" class="form-control" maxlength="255" required="" id="id_first_name" value="{{ first_name }}" />
</div>
<div class="col-md-6">
    <label for="id_last_name" class="form-label">Last name:</label>
    <input type="text" autocomplete="off" name="last_name" class="form-control" maxlength="255" required="" id="id_last_name" value="{{ last_name }}" />
</div>
{% if types %}
    <div class="mb-3">
        <label for="id_type" class="form-label">Type</label>
        <select name="type" class="form-select" id="id_type">
            {% for option in types %}
                <option value="{{ option.0 }}"{% if type and type == option.0 %} selected{% endif %}>{{ option.1 }}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}
