{% load static %}
{% load tz %}
{% load humanize %}
<table class="table table-hover my-0" id="invoice-results">
    <thead>
        <tr>
            <th>Due Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Invoice #</th>
            <th>Location</th>
            <th>PDF</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in page_obj %}
            <tr class="clickable-row" onclick="window.location.href='{% url 'customer_invoice_detail' invoice_id=invoice.id %}'">
                <td>
                    {% if invoice.due_date %}
                        {{ invoice.due_date|timezone:'America/Chicago' }} (CT)
                    {% else %}
                        {{ invoice.created_on|timezone:'America/Chicago' }} (CT)
                    {% endif %}
                </td>
                <td>${{ invoice.total|stringformat:'.2f'|intcomma }}</td>
                <td>{{ invoice.status }}</td>
                <td>{{ invoice.number }}</td>
                <td>
                    {{ invoice.user_address.formatted_address }}
                    {% comment %} <a href="{% url 'customer_location_detail' location_id=invoice.user_address.id %}">{{ invoice.user_address.formatted_address }}</a> {% endcomment %}
                </td>
                {% if invoice.invoice_pdf %}
                    <td>
                        <a class="btn btn-light" href="{{ invoice.invoice_pdf }}"><i class="fas fa-download"></i></a>
                    </td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th>Due Date</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Invoice #</th>
            <th>Location</th>
            <th>PDF</th>
        </tr>
    </tfoot>
</table>
<div class="row" id="invoices-pagination" hx-swap-oob="true">
    <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
            Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
            <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        </p>
    </div>
    <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <a class="page-link pagi-link" href="{{ page_start_link }}" hx-boost="true" hx-push-url="true" hx-target="#invoice-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">&laquo; first</a>
                    <a class="page-link pagi-link" href="{{ page_prev_link }}" hx-boost="true" hx-push-url="true" hx-target="#invoice-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">«</a>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link pagi-link" href="{{ page_current_link }}" hx-boost="true" hx-push-url="true" hx-target="#invoice-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                    <a class="page-link pagi-link" href="{{ page_next_link }}" hx-boost="true" hx-push-url="true" hx-target="#invoice-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">»</a>
                    <a class="page-link pagi-link" href="{{ page_end_link }}" hx-boost="true" hx-push-url="true" hx-target="#invoice-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">last &raquo;</a>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% if total_open is not None %}
    <span id="open-count-badge" hx-swap-oob="true">${{ total_open|stringformat:'.2f'|intcomma }}</span>
    <span id="past-due-count-badge" hx-swap-oob="true">${{ past_due|stringformat:'.2f'|intcomma }}</span>
    <span id="paid-count-badge" hx-swap-oob="true">${{ total_paid|stringformat:'.2f'|intcomma }}</span>
{% endif %}
