{% load static %}
{% load tz %}
{% load humanize %}
{% load sales_stream_tags %}
<table class="table table-hover my-0" id="invoice-results">
  <thead>
    <tr>
      <th>Due Date</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Invoice #</th>
      <th>Location</th>
      <th>PDF</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in page_obj %}
      <tr class="clickable-row" onclick="window.location.href='{% url 'customer_invoice_detail' invoice_id=invoice.id %}'">
        <td>
          {% if invoice.due_date %}
            {{ invoice.due_date|timezone:'America/Chicago' }} (CT)
          {% else %}
            {{ invoice.created_on|timezone:'America/Chicago' }} (CT)
          {% endif %}
        </td>
        <td>{{ invoice.total|currency }}</td>
        <td>{{ invoice.get_status_display }}</td>
        <td>{{ invoice.number }}</td>
        <td>
          {{ invoice.user_address.formatted_address }}
          {% comment %} <a href="{% url 'customer_location_detail' location_id=invoice.user_address.id %}">{{ invoice.user_address.formatted_address }}</a> {% endcomment %}
        </td>
        {% if invoice.invoice_pdf %}
          <td>
            <a class="btn btn-light" href="{{ invoice.invoice_pdf }}"><i class="fas fa-download"></i></a>
          </td>
        {% else %}
          <td>-</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th>Due Date</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Invoice #</th>
      <th>Location</th>
      <th>PDF</th>
    </tr>
  </tfoot>
</table>
<div id="invoices-pagination" hx-swap-oob="true">
  {% include 'customer_dashboard/snippets/pagination.html' with target_id='#invoice-results' %}
</div>
