{% load static %}
{% load sales_stream_tags %}
{% block content %}
  <form id="note-formset" hx-target="this" hx-push-url="false" hx-indicator="#note-formset-indicator" class="text-dark" hx-disabled-elt="form-control, button">
    {% csrf_token %}
    {{ formset.management_form }}

    <!-- Add Note -->
    <div id="note-formset-add">
      <div class="form-group mb-2">
        {% for hidden in formset.0.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <label class="d-none" for="{{ formset.0.text.label_for_id }}">Add a Note:</label>
        <div class="d-flex flex-row flex-nowrap mb-3 justify-content-between align-items-center">
          {{ formset.0.text }}
          <button class="btn btn-primary ms-3 me-1" hx-post="{{ hx_url }}" name="add_note">
            <span class="htmx-indicator" id="note-formset-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
            <span class="htmx-loading-hide"><i class="fas fa-paper-plane"></i></span>
          </button>
        </div>
      </div>
    </div>

    <!-- Past Notes -->
    <div class="overflow-y-auto">
      {% for form in formset %}
        {% if not forloop.first %}
          {% with note=form.instance %}
            {% with user=note.created_by %}
              {% if user %}
                <div class="d-flex mb-3 small border border-dark-subtle rounded-3 p-2 bg-white">
                  <div class="me-2">
                    {% if user.photo %}
                      <img class="border rounded-circle img-profile object-fit-cover p-0" style="height: 2rem; width: 2rem;" src="{{ user.photo.url }}" />
                    {% else %}
                      <span class="border rounded-circle img-profile d-flex justify-content-center align-items-center" style="height: 2rem; width: 2rem;"><i class="fas fa-user"></i></span>
                    {% endif %}
                  </div>
                  <div class="col">
                    <div class="d-flex justify-content-between">
                      <small class="me-1"><strong>{{ user.full_name|default:user.email }}</strong></small>
                      <small class="text-end">
                        <b>
                          {{ note.created_on|downstream_naturaltime }}
                          {% comment %}Check for difference in Create/Update time, down to second.{% endcomment %}
                          {% if note.created_on|date:'Y-m-d H:i:s' != note.updated_on|date:'Y-m-d H:i:s' %} (Edited){% endif %}
                        </b>
                      </small>
                    </div>
                    {% if user == request.user %}
                      {% comment %}Show form{% endcomment %}
                      {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}
                      {% comment %}Form prefix is "notes-X" where X is the id number of the form. We need to extract the number from the prefix to use it in the javascript functions and view, to save the correct form.{% endcomment %}
                      {% with form_number=form.prefix|slice_after:'-' %}
                        <div id="text-edit-{{ form_number }}" class="d-none">
                          {{ form.text }}
                          <small class="d-inline">
                            <button class="btn btn-sm p-0 me-1 text-muted border-0" onclick="toggleEdit({{ form_number }}); return false;">Cancel</button>
                            <button class="btn btn-sm btn-primary py-0 px-1" hx-post="{{ hx_url }}" name="edit_note" data-form-id="{{ form_number }}">Save</button>
                          </small>
                        </div>
                        <div id="text-{{ form_number }}">
                          <p class="mt-2 mb-0">{{ note.text }}</p>
                          <small class="d-inline">
                            <button class="btn btn-sm p-0 me-1 text-primary border-0" onclick="toggleEdit({{ form_number }}); return false;">Edit</button>
                            <button class="btn btn-sm p-0 text-danger border-0" hx-trigger="delete" hx-post="{{ hx_url }}" onclick="deleteNote(this); return false;" name="delete_note" data-form-id="{{ form_number }}">Delete</button>
                          </small>
                        </div>
                      {% endwith %}
                    {% else %}
                      {% comment %}Just display text{% endcomment %}
                      <p class="mt-2 mb-0">{{ note.text }}</p>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endwith %}
          {% endwith %}
        {% endif %}
      {% empty %}
        <p>No notes have been added.</p>
      {% endfor %}
    </div>
    {% block javascript %}
      <script>
        function toggleEdit(index) {
          var editDiv = document.getElementById('text-edit-' + index)
          var textDiv = document.getElementById('text-' + index)
        
          if (editDiv.classList.contains('d-none')) {
            editDiv.classList.remove('d-none')
            textDiv.classList.add('d-none')
          } else {
            editDiv.classList.add('d-none')
            textDiv.classList.remove('d-none')
          }
        }
        
        function deleteNote(btn) {
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!'
          }).then((result) => {
            if (result.isConfirmed) {
              htmx.trigger(btn, 'delete')
            }
          })
        }
        
        htmx.on('htmx:configRequest', function (evt) {
          formID = evt.detail.elt.getAttribute('data-form-id')
          deleteFieldId = 'id_notes-' + formID + '-DELETE'
          if (evt.detail.elt.name === 'add_note') {
            evt.detail.parameters['form_id'] = ''
            evt.detail.parameters['action'] = 'create'
          } else if (evt.detail.elt.name === 'edit_note') {
            evt.detail.parameters['form_id'] = formID
            evt.detail.parameters['action'] = 'edit'
          } else if (evt.detail.elt.name === 'delete_note') {
            evt.detail.parameters['form_id'] = formID
            evt.detail.parameters['action'] = 'delete'
            evt.detail.parameters[deleteFieldId] = 'true'
          }
        })
      </script>
    {% endblock %}
  </form>
{% endblock %}
