{% load static %}
<table class="table my-0" id="order-groups-results">
    <thead>
        <tr>
            <th class="product">Product</th>
            <th class="location">Location</th>
            <th class="d-none location_name">Location Name</th>
            <th class="d-none booking_project_id">Booking Project</th>
            <th class="supplier">Supplier</th>
            <th class="d-none order_type">Order Type</th>
            <th class="d-none status">Status</th>
            <th class="d-none account_manager">Account Manager</th>
            <th class="start_date">Start Date</th>
            <th class="d-none nearest_order">Nearest Order</th>
            {% if is_active %}
                <th>Swap</th>
                <th>Removal</th>
            {% endif %}
            <th>View</th>
        </tr>
    </thead>
    <tbody id="order-groups-results">
        {% for order_group in page_obj %}
            <tr>
                <td class="product">
                    <img class="rounded-circle me-2"
                        width="30"
                        height="30"
                        src="{% if order_group.seller_product_seller_location.seller_product.product.main_product.image_del %}
                            {{ order_group.seller_product_seller_location.seller_product.product.main_product.image_del }}
                        {% elif order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon %}
                            {{ order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.icon.url }}
                        {% else %}
                            {% static 'customer_dashboard/img/logo.png' %}
                        {% endif %}" />&nbsp;{{ order_group.seller_product_seller_location.seller_product.product.main_product.name }}
                </td>
                <td class="location">
                    {{ order_group.user_address.formatted_address }}
                    {% if order_group.project_id %}
                        | {{ order_group.project_id }}
                    {% elif order_group.user_address.project_id %}
                        | {{ order_group.user_address.project_id }}
                    {% endif %}
                    {% comment %} <a class="btn btn-link" href="{% url 'customer_location_detail' location_id=order_group.user_address.id %}">{{ order_group.user_address.formatted_address }}</a> {% endcomment %}
                </td>
                <td class="d-none location_name">{{ order_group.user_address.name }}</td>
                <td class="d-none booking_project_id">{{ order_group.project_id }}</td>
                <td class="supplier">
                    <img class="rounded-circle me-2"
                        width="30"
                        height="30"
                        src="{% if order_group.seller_product_seller_location.seller_location.seller.location_logo_url %}
                            {{ order_group.seller_product_seller_location.seller_location.seller.location_logo_url }}
                        {% else %}
                            {% static 'customer_dashboard/img/defualt_logo.png' %}
                        {% endif %}" />&nbsp;{{ order_group.seller_product_seller_location.seller_location.name }}
                </td>
                <td class="d-none order_type">{{ order_group.order_type }}</td>
                <td class="d-none status">{{ order_group.status }}</td>
                <td class="d-none account_manager">{{ order_group.user_address.user_group.account_owner.full_name }}</td>
                <td class="start_date">{{ order_group.start_date }}</td>
                <td class="d-none nearest_order">{{ order_group.nearest_order.start_date }}</td>
                {% if is_active %}
                    {% if order_group.order_type != 'ONE_TIME' %}
                        {% if order_group.seller_product_seller_location.seller_product.product.main_product.main_product_category.name == 'Roll Off Dumpsters' %}
                            <td>
                                <a class="btn btn-primary btn-sm" type="button" data-bs-target="#order-swap-modal" data-bs-toggle="modal" hx-trigger="click" hx-target="#order-swap-modal" hx-get="{% url 'customer_order_group_swap' order_group_id=order_group.id %}">Swap <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></a>
                            </td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        <td>
                            <a class="btn btn-danger btn-sm" type="button" data-bs-target="#order-swap-modal" data-bs-toggle="modal" hx-trigger="click" hx-target="#order-swap-modal" hx-get="{% url 'customer_order_group_removal' order_group_id=order_group.id %}">Removal <span class="htmx-indicator" id="htmx-indicator-email"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></a>
                        </td>
                    {% else %}
                        <td>-</td>
                        <td>-</td>
                    {% endif %}
                {% endif %}
                <td>
                    <a class="btn btn-light" role="button" href="{% url 'customer_order_group_detail' order_group_id=order_group.id %}"><i class="far fa-eye"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="product">Product</th>
            <th class="location">Location</th>
            <th class="d-none location_name">Location Name</th>
            <th class="d-none booking_project_id">Booking Project</th>
            <th class="supplier">Supplier</th>
            <th class="d-none order_type">Order Type</th>
            <th class="d-none status">Status</th>
            <th class="d-none account_manager">Account Manager</th>
            <th class="start_date">Start Date</th>
            <th class="d-none nearest_order">Nearest Order</th>
            {% if is_active %}
                <th>Swap</th>
                <th>Removal</th>
            {% endif %}
            <th>View</th>
        </tr>
    </tfoot>
</table>
<div class="row" id="order-groups-pagination" hx-swap-oob="true">
    <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>
        <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
    </div>
    <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <a class="page-link pagi-link" href="{{ page_start_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">&laquo; first</a>
                    <a class="page-link pagi-link" href="{{ page_prev_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">«</a>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link pagi-link" href="{{ page_current_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                    <a class="page-link pagi-link" href="{{ page_next_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">»</a>
                    <a class="page-link pagi-link" href="{{ page_end_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">last &raquo;</a>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% if oob_html %}
    {{ oob_html|safe }}
{% endif %}
