{% load static %}
<div class="modal-dialog modal-dialog-centered" role="document" id="order-swap-form">
  <div class="modal-content">
    <div class="modal-header">
      {% if is_removal %}
        <h4 class="modal-title text-danger"><i class="fas fa-exclamation-triangle"></i> Removal</h4>
      {% else %}
        <h4 class="modal-title">Swap</h4>
      {% endif %}
      <button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
      <form hx-post="{{ submit_link }}" hx-target="#order-swap-form" hx-swap="outerHTML" hx-disabled-elt=".status-card, button, .form-control, .pagi-link">
        {% csrf_token %}
        <!-- Include the hidden fields -->
        {% for hidden in form.hidden_fields %}
          {{ hidden }}
        {% endfor %}
        <!-- Include the visible fields -->
        {% for field in form.visible_fields %}
          {% if field.widget_type == 'checkbox' %}
            <div class="mb-3 form-switch">
              {{ field }}
              <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}{{ field.label_suffix }}</label>
              {% if field.help_text %}
                <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
              {% endif %}
              {% if field.errors %}
                <small class="text-danger">{{ field.errors }}</small>
              {% endif %}
            </div>
          {% else %}
            <div class="mb-3">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}{{ field.label_suffix }}</label>
              {{ field }}
              {% if field.help_text %}
                <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
              {% endif %}
              {% if field.errors %}
                <small class="text-danger">{{ field.errors }}</small>
              {% endif %}
              {% if field.name == 'street' %}
                <div class="form-text">
                  <a class="card-link" href="https://www.google.com/maps/place/{{ user_address.formatted_address|urlencode }}" target="_blank">{{ user_address.formatted_address }}</a>
                </div>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        <hr />
        {% if form_error %}
          <p class="text-danger">{{ form_error }}</p>
        {% endif %}
        {% if form_msg %}
          <p class="text-success">{{ form_msg }}</p>
        {% endif %}
        <div class="d-flex flex-row-reverse">
          <button class="btn btn-primary" type="submit" name="swap_button" style="margin-top: 12px;">Add to Cart <span class="htmx-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
        </div>
      </form>
    </div>
  </div>
</div>
