{% load static %}
<tbody id="order-groups-results">
    {% for order_group in page_obj %}
        <tr>
            <td>
                <img class="rounded-circle me-2"
                    width="30"
                    height="30"
                    src="{% if order_group.seller_product_seller_location.seller_product.product.main_product.image_del %}
                        {{ order_group.seller_product_seller_location.seller_product.product.main_product.image_del }}
                    {% else %}
                        {% static 'customer_dashboard/img/avatars/avatar1.jpeg' %}
                    {% endif %}" />&nbsp;{{ order_group.seller_product_seller_location.seller_product.product.main_product.name }}
            </td>
            <td>
                <a class="btn btn-link" href="{% url 'customer_location_detail' location_id=order_group.user_address.id %}">{{ order_group.user_address.formatted_address }}</a>
            </td>
            <td>
                <img class="rounded-circle me-2"
                    width="30"
                    height="30"
                    src="{% if order_group.seller_product_seller_location.seller_location.seller.location_logo_url %}
                        {{ order_group.seller_product_seller_location.seller_location.seller.location_logo_url }}
                    {% else %}
                        {% static 'customer_dashboard/img/avatars/avatar1.jpeg' %}
                    {% endif %}" />&nbsp;{{ order_group.seller_product_seller_location.seller_location.name }}
            </td>
            <td>{{ order_group.start_date }}</td>
            <td>
                <a class="btn btn-light" role="button" href="{% url 'customer_order_group_detail' order_group_id=order_group.id %}"><i class="far fa-eye"></i></a>
            </td>
        </tr>
    {% endfor %}
</tbody>
<div class="row" id="order-groups-pagination" hx-swap-oob="true">
    <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>
        <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
    </div>
    <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <a class="page-link pagi-link" href="{{ page_start_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">&laquo; first</a>
                    <a class="page-link pagi-link" href="{{ page_prev_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">«</a>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link pagi-link" href="{{ page_current_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                    <a class="page-link pagi-link" href="{{ page_next_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">»</a>
                    <a class="page-link pagi-link" href="{{ page_end_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">last &raquo;</a>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% if oob_html %}
    {{ oob_html|safe }}
{% endif %}
