{% load static %}
<div id="order-groups-results">
  {% for booking_group in page_obj %}
    <div class="card shadow-sm mb-3">
      <div class="card-header p-4 rounded-3 bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#item-{{ forloop.counter }}" aria-expanded="{{ forloop.first|lower }}" aria-controls="item-{{ forloop.counter }}">
        <h6 class="mb-0 d-flex align-items-center text-nowrap" style="width: 95%;">
          <span class="text-truncate">
            {% if booking_group.address.name %}
              {{ booking_group.address.name }} |
            {% endif %}{{ booking_group.address.formatted_address }}
          </span>
          <span id="count-{{ booking_group.address.id }}" class="badge text-bg-primary ms-2 me-2" data-count="{{ booking_group.count }}">{{ booking_group.count }} item{{ booking_group.count|pluralize }}</span>
          {% if request.user.is_staff %}
            <span class="badge text-primary bg-white">
              {% if booking_group.address.user_group.name %}
                {{ booking_group.address.user_group.name }}
              {% elif booking_group.address.user.user_group.name %}
                {{ booking_group.address.user.user_group.name }}
              {% endif %}
            </span>
            <span class="col"></span>
            <span class="ms-2 badge text-primary bg-white">{{ booking_group.address.user.user_group.account_owner.full_name }}</span>
          {% endif %}
        </h6>
      </div>
      <!-- prettier-ignore -->
      <div id="item-{{ forloop.counter }}" class="collapse {% if forloop.first %}show {% else %}collapsed{% endif %}" role="tabpanel">
        <div class="card-body row">
            {% for item in booking_group.items %}
                {% include 'customer_dashboard/snippets/order_groups_card.html' with loopcount=forloop.counter %}
            {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div class="row" id="order-groups-pagination" hx-swap-oob="true">
  <div class="col-md-6 align-self-center">
    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>
    <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
  </div>
  <div class="col-md-6">
    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <a class="page-link pagi-link" href="{{ page_start_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">&laquo; first</a>
          <a class="page-link pagi-link" href="{{ page_prev_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">«</a>
        {% endif %}
        <li class="page-item active">
          <a class="page-link pagi-link" href="{{ page_current_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
          <a class="page-link pagi-link" href="{{ page_next_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">»</a>
          <a class="page-link pagi-link" href="{{ page_end_link }}" hx-boost="true" hx-push-url="true" hx-target="#order-groups-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">last &raquo;</a>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
