{% load static %}
<div class="row">
  <div class="col-md-6 align-self-center">
    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
      Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
      <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
    </p>
  </div>
  <div class="col-md-6">
    <nav class="d-md-flex justify-content-md-end dataTables_paginate paging_simple_numbers">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <a class="page-link pagi-link" href="{{ page_start_link }}" hx-boost="true" hx-push-url="true" hx-target="{{ target_id }}" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">&laquo; First</a>
          <a class="page-link pagi-link" href="{{ page_prev_link }}" hx-boost="true" hx-push-url="true" hx-target="{{ target_id }}" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">«</a>
        {% endif %}
        <li class="page-item active">
          <a class="page-link pagi-link" href="{{ page_current_link }}" hx-boost="true" hx-push-url="true" hx-target="{{ target_id }}" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">{{ page_obj.number }}</a>
        </li>
        {% if page_obj.has_next %}
          <a class="page-link pagi-link" href="{{ page_next_link }}" hx-boost="true" hx-push-url="true" hx-target="{{ target_id }}" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">»</a>
          <a class="page-link pagi-link" href="{{ page_end_link }}" hx-boost="true" hx-push-url="true" hx-target="{{ target_id }}" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">Last &raquo;</a>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
