{% load static %}
<span class="badge bg-success fs-6 d-none" id="default-badge" hx-swap-oob="true"><i class="fas fa-star"></i> Default</span>
<div class="card" id="paymentMethod{{ forloop.counter }}">
    <div class="card-body">
        <div class="form-check">
            {% if payment_method.active %}
                <input form="checkoutForm" class="form-check-input" type="radio" name="payment_method" id="flexRadio{{ forloop.counter }}" value="{{ payment_method.id }}" {% if forloop.first %}required{% endif %} {% if payment_method.is_default %}checked{% endif %}>
            {% endif %}
            <div class="row">
                <div class="col-6">
                    <h4 style="margin-bottom: 0px;">
                        {% if payment_method.card_brand %}
                            {{ payment_method.card_brand }}
                        {% else %}
                            Card
                        {% endif %} XXXX
                        {% if payment_method.card_number %}
                            {{ payment_method.card_number|slice:"-4:" }}
                        {% endif %}
                        {% if payment_method.is_default %}
                            <span class="badge bg-success fs-6" id="default-badge"><i class="fas fa-star"></i> Default</span></h4>
                        {% endif %}
                </div>
                <div class="col-5">
                    <p class="text-end" style="margin-bottom: 0px;">Expires {{ payment_method.card_exp_month }}/{{ payment_method.card_exp_year }}</p>
                </div>
                <div class="col-1">
                    <div class="dropdown no-arrow">
                        <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">Actions</p>
                            <button class="dropdown-item"
                                hx-post="{% url 'customer_default_payment_method' user_address_id=user_address.id payment_method_id=payment_method.id %}"
                                hx-vals='{"loopcount": "{{forloop.counter}}"}'
                                hx-swap="outerHTML" hx-target="#paymentMethod{{ forloop.counter }}"
                                hx-trigger='confirmed' 
                                onClick="event.stopPropagation();
                                Swal.fire(
                                    {title: 'Make Default', text:'Make this card the default payment for this address?', icon: 'question', confirmButtonText: 'Confirm'}
                                ).then((result)=>{
                                    if(result.isConfirmed){htmx.trigger(this, 'confirmed');}
                                })">Make Default <span class="htmx-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
                            <button class="dropdown-item"
                                hx-post="{% url 'customer_remove_payment_method' payment_method_id=payment_method.id %}"
                                hx-vals='{"loopcount": "{{forloop.counter}}"}'
                                hx-swap="delete" hx-target="#paymentMethod{{ forloop.counter }}"
                                hx-trigger='confirmed' 
                                onClick="event.stopPropagation();
                                Swal.fire(
                                    {title: 'Delete Payment Method', text:'Do you want to delete this Payment Method?', icon: 'question', confirmButtonText: 'Confirm'}
                                ).then((result)=>{
                                    if(result.isConfirmed){htmx.trigger(this, 'confirmed');}
                                })">Delete <span class="htmx-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span></button>
                        </div>
                    </div>
                </div>
            </div>
            {% if not payment_method.active %}
                <div class="row mt-2">
                    <div class="col">
                        <p class="text-danger" style="margin-bottom: 0px;">Inactive: {{ payment_method.inactive_reason }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>