{% load humanize %}
{% block modals %}
    <div class="modal fade" role="dialog" tabindex="-1" id="modal-price-detail-{{ forloop.counter }}">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Price Details</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>{{ item.seller_product_seller_location.seller_location.seller.name }}</p>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">One Time Charges</h4>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Delivery</td>
                                            <td>
                                                {% if item.seller_product_seller_location.delivery_fee %}
                                                    ${{ item.seller_product_seller_location.delivery_fee }}
                                                {% else %}
                                                    No charge
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Removal</td>
                                            <td>
                                                {% if item.seller_product_seller_location.removal_fee %}
                                                    ${{ item.seller_product_seller_location.removal_fee }}
                                                {% else %}
                                                    No charge
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% if item.seller_product_seller_location.seller_product.product.main_product.has_rental_one_step %}
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-body">
                                <p>
                                    <strong>Rental</strong>
                                </p>
                                <p>Rent for any period up to 28 days is a flat rate. Each additional 28-day period incurs a full rental fee.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Per Each Period</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>${{ item.seller_product_seller_location.rental_one_step.rate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if item.seller_product_seller_location.seller_product.product.main_product.has_rental %}
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-body">
                                <p>
                                    <strong>Rental</strong>
                                </p>
                                <p>The rental price has two tiers. A base fee of ${{ item.seller_product_seller_location.rental.base_price }} applies to all rentals. After {{ item.seller_product_seller_location.rental.included_days }}&nbsp;days, a rate of ${{ item.seller_product_seller_location.rental.price_per_day_additional }} per day applies.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Base Rate</th>
                                                <th>Per Day After {{ item.seller_product_seller_location.rental.included_days }} Days</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>${{ item.seller_product_seller_location.rental.base_price }}</td>
                                                <td>${{ item.seller_product_seller_location.rental.price_per_day_additional }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if item.seller_product_seller_location.seller_product.product.main_product.has_rental_multi_step %}
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-body">
                                <p>
                                    <strong>Rental</strong>
                                </p>
                                <p>We offer flexible rental pricing with hourly, daily, weekly, biweekly, and monthly rates (availability varies by supplier). Our system automatically calculates the most affordable option based on your rental duration.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Hourly</th>
                                                <th>Daily</th>
                                                <th>Weekly</th>
                                                <th>Biweekly</th>
                                                <th>Monthly</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>${{ item.seller_product_seller_location.rental_multi_step.hour }}</td>
                                                <td>${{ item.seller_product_seller_location.rental_multi_step.day }}</td>
                                                <td>${{ item.seller_product_seller_location.rental_multi_step.week }}</td>
                                                <td>${{ item.seller_product_seller_location.rental_multi_step.two_weeks }}</td>
                                                <td>${{ item.seller_product_seller_location.rental_multi_step.month }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if item.seller_product_seller_location.seller_product.product.main_product.has_service %}
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-body">
                                <p>
                                    <strong>Service</strong>
                                </p>
                                <p>
                                    A service fee applies to each order. This fee can be calculated either by distance (per mile from the supplier) or as a flat rate. This supplier has opted for a{% if item.seller_product_seller_location.service.service.price_per_mile %}
                                        per mile
                                    {% else %}
                                        flat rate
                                    {% endif %}of ${% if item.seller_product_seller_location.service.price_per_mile %}
                                        {{ item.seller_product_seller_location.service.price_per_mile }}
                                    {% else %}
                                        {{ item.seller_product_seller_location.service.flat_rate_price }}
                                    {% endif %}.&nbsp;
                                </p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Per Service</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    ${% if item.seller_product_seller_location.service.price_per_mile %}
                                                        {{ item.seller_product_seller_location.service.price_per_mile }} per mile
                                                    {% else %}
                                                        {{ item.seller_product_seller_location.service.flat_rate_price }} flat rate
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if item.seller_product_seller_location.seller_product.product.main_product.has_service_times_per_week %}
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-body">
                                <p>
                                    <strong>Service</strong>
                                </p>
                                <p>Pricing is based on the number of services you need per week. You pay a fixed monthly rate for up to four weeks of service. For example, choosing three services per week would cost ${{ item.seller_product_seller_location.service_times_per_week.three_times_per_week }} per month, regardless of whether you use the service for one week or four.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>1x Per Week</th>
                                                <th>2x</th>
                                                <th>3x</th>
                                                <th>4x</th>
                                                <th>5x</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{ item.seller_product_seller_location.service_times_per_week.one_time_per_week }}</td>
                                                <td>{{ item.seller_product_seller_location.service_times_per_week.two_times_per_week }}</td>
                                                <td>{{ item.seller_product_seller_location.service_times_per_week.three_times_per_week }}</td>
                                                <td>{{ item.seller_product_seller_location.service_times_per_week.four_times_per_week }}</td>
                                                <td>{{ item.seller_product_seller_location.service_times_per_week.five_times_per_week }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if item.seller_product_seller_location.seller_product.product.main_product.has_material %}
                        <div class="card" style="margin-top: 20px;">
                            <div class="card-body">
                                <p>
                                    <strong>Material</strong>
                                </p>
                                <p>Pricing is based on the amount of material produced, similar to fuel costs for a rental car. Each product has a standard base tonnage that applies to all suppliers, allowing for easy price comparisons. For this product, the base tonnage is {{ item.seller_product_seller_location.seller_product.product.main_product.included_tonnage_quantity }}. You'll always be charged for {{ item.seller_product_seller_location.seller_product.product.main_product.included_tonnage_quantity }}&nbsp;tons per service. If you exceed {{ item.seller_product_seller_location.seller_product.product.main_product.included_tonnage_quantity }}&nbsp;tons, an additional fee will apply based on the material type.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Waste Type</th>
                                                <th>Base Price</th>
                                                <th>Price Per Additional Ton</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for material_waste_type in item.seller_product_seller_location.material.waste_types.all %}
                                                <tr>
                                                    <td>{{ material_waste_type.main_product_waste_type.waste_type.name }}</td>
                                                    <td>{{ material_waste_type.base_price }}</td>
                                                    <td>{{ material_waste_type.price_per_ton }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
