{% load static %}
{% load tz %}
{% load humanize %}
{% if help_text %}
    <p class="text-primary m-0 fw-bold" id="table-title" hx-swap-oob="true">{{ help_text }}</p>
{% endif %}
<table class="table my-0 overflow-auto" id="review-results">
    <thead>
        <tr>
            {% if tab == "users" %}
            <th>User</th>
            {% elif tab == "sellers" %}
            <th>Seller</th>
            {% else %}
            <th>Created</th>
            {% endif %}
            {% if tab == "users" or tab == "sellers" %}
            <th>Total Thumbs Up</th>
            <th>Avg Professionalism</th>
            <th>Avg Communication</th>
            <th>Avg Pricing</th>
            <th>Avg Timeliness</th>
            {% else %}
            <th>Experience</th>
            <th>Professionalism</th>
            <th>Communication</th>
            <th>Pricing</th>
            <th>Timeliness</th>
            {% endif %}
            
        </tr>
    </thead>
    <tbody>
        {% for obj in page_obj %}
            <tr>
                {% if tab == "users" %}
                <td>
                    <div class="d-flex flex-row">
                    {% if obj.photo_url %}
                    <img class="border rounded-circle img-profile" style="height: 2rem; width: 2rem;" src="{{ obj.photo_url }}" />
                {% else %}
                    <span class="border rounded-circle img-profile" style="height: 2rem; width: 2rem; display:flex; justify-content:center; align-items:center;"><i class="fas fa-user"></i></span>
                {% endif %}
                <div class="align-self-center ms-2">{{ obj.first_name }} {{ obj.last_name }}</div>
                    </div>
                </td>
                {% elif tab == "sellers" %}
                <td>{{ obj.name }}</td>
                {% else %}
                <td>{{ obj.created_on|timezone:'America/Chicago' }} (CT)</td>
                {% endif %}
                {% if tab == "users" or tab == "sellers" %}
                <td>{{ obj.rating }}</td>
                <td>{% if obj.professionalism %}{{ obj.professionalism }}{% endif %}</td>
                <td>{% if obj.communication %}{{ obj.communication }}{% endif %}</td>
                <td>{% if obj.pricing %}{{ obj.pricing }}{% endif %}</td>
                <td>{% if obj.timeliness %}{{ obj.timeliness }}{% endif %}</td>
                {% else %}
                <td>{% if obj.rating %}<i class="fas fa-thumbs-up text-success"></i>{% else %}<i class="fas fa-thumbs-down text-danger"></i>{% endif %}</td>
                <td>{% if obj.professionalism %}{{ obj.get_professionalism_display }}{% endif %}</td>
                <td>{% if obj.communication %}{{ obj.get_communication_display }}{% endif %}</td>
                <td>{% if obj.pricing %}{{ obj.get_pricing_display }}{% endif %}</td>
                <td>{% if obj.timeliness %}{{ obj.get_timeliness_display }}{% endif %}</td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No reviews found.</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% if tab == "users" %}
            <th>User</th>
            {% elif tab == "sellers" %}
            <th>Seller</th>
            {% else %}
            <th>Created</th>
            {% endif %}
            {% if tab == "users" or tab == "sellers" %}
            <th>Total Thumbs Up</th>
            <th>Avg Professionalism</th>
            <th>Avg Communication</th>
            <th>Avg Pricing</th>
            <th>Avg Timeliness</th>
            {% else %}
            <th>Experience</th>
            <th>Professionalism</th>
            <th>Communication</th>
            <th>Pricing</th>
            <th>Timeliness</th>
            {% endif %}
        </tr>
    </tfoot>
</table>
<div class="row" id="reviews-pagination" hx-swap-oob="true">
    <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
            Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
            <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        </p>
    </div>
    <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <a class="page-link pagi-link" href="{{ page_start_link }}" hx-boost="true" hx-push-url="true" hx-target="#reviews-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">&laquo; first</a>
                    <a class="page-link pagi-link" href="{{ page_prev_link }}" hx-boost="true" hx-push-url="true" hx-target="#reviews-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">«</a>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link pagi-link" href="{{ page_current_link }}" hx-boost="true" hx-push-url="true" hx-target="#reviews-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                    <a class="page-link pagi-link" href="{{ page_next_link }}" hx-boost="true" hx-push-url="true" hx-target="#reviews-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">»</a>
                    <a class="page-link pagi-link" href="{{ page_end_link }}" hx-boost="true" hx-push-url="true" hx-target="#reviews-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">last &raquo;</a>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
