{% load static %}
<div class="modal-body" id="terms-agreement-body">
    <div class="border p-2 m-2">
        {% for order in orders %}
            <div class="row">
                <div class="col-4">
                    <p class="text-muted mb-1" style="font-size: 12px;">Order</p>
                    <p class="mb-1">{{ order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</p>
                </div>
                <div class="col-4">
                    <p class="text-muted mb-1" style="font-size: 12px;">Service Date</p> <p class="mb-1">{{ order.end_date }}</p>
                </div>
                <div class="col-4">
                    {% if order.order_group.agreement %}
                        <a class="btn btn-success float-end me-2 ms-2" href="{{ order.order_group.agreement.url }}" target="_blank" download><i class="far fa-file-pdf"></i>&nbsp;Download</a>
                    {% endif %}
                </div>
            </div>
            <hr class="m-2" />
        {% endfor %}
    </div>
    {% if show_success or not show_terms %}
        <h4 class="text-muted">Successfully signed!</h4>
        <div class="d-flex flex-row-reverse">
            <button class="btn btn-light" type="button" data-bs-dismiss="modal">Close</button>
        </div>
    {% else %}
        <form hx-post="{% url 'customer_checkout_terms_agreement' user_address_id=user_address.id %}" hx-swap="outerHTML" hx-target="#terms-agreement-body" hx-disabled-elt="button, .form-control">
            {% csrf_token %}
            {% if form_error %}
                <p class="text-danger">{{ form_error }}</p>
            {% endif %}
            {% if form_msg %}
                <p class="text-danger">{{ form_msg }}</p>
            {% endif %}
            <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary btn-sm" type="submit" name="access_details_button" style="margin-top: 12px;">Sign Agreement <span class="htmx-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars.svg' %}" /></span></button>
            </div>
        </form>
    {% endif %}
</div>
