{% load static %}
{% load tz %}
{% load humanize %}
{% if request.user.is_staff and help_text %}
    <p class="text-primary m-0 fw-bold" id="table-title" hx-swap-oob="true">{{ help_text }}</p>
{% endif %}
<table class="table table-hover my-0" id="user-results">
    <thead>
        <tr>
            {% if request.user.is_staff %}
                <th>Company</th>
            {% endif %}
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Associated Locations</th>
            {% if request.user.is_staff %}
                {% if tab == 'active' %}
                    <th class="header-sort-icon-down">Last Order</th>
                {% elif tab == 'churned' or tab == 'fully_churned' %}
                    <th>Last Order</th>
                    <th>Total Spend</th>
                    <th class="header-sort-icon-down">Change</th>
                    <th>Percentage</th>
                {% else %}
                    <th>Last Order</th>
                {% endif %}
            {% endif %}
            <th class="header-sort-icon-down">Last Active</th>
            <th class="header-sort-icon-down">Created</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in page_obj %}
            {% if not user.is_staff and user.type != 'ADMIN' %}
            <tr>
            {% else %}
            <tr class="clickable-row" onclick="window.location.href='{% url 'customer_user_detail' user_id=obj.id %}'">
            {% endif %}
            {% if request.user.is_staff %}
                {% if obj.user_group %}
                    <td>{{ obj.user_group.name }}</td>
                {% else %}
                    <td>Individual</td>
                {% endif %}
            {% endif %}
                <td>
                    <div class="d-flex flex-row">
                        {% if obj.photo %}
                            <img class="border rounded-circle img-profile" style="height: 2rem; width: 2rem;" src="{{ obj.photo.url }}" />
                        {% else %}
                            <span class="border rounded-circle img-profile" style="height: 2rem; width: 2rem; display:flex; justify-content:center; align-items:center;"><i class="fas fa-user"></i></span>
                        {% endif %}
                        <div class="align-self-center ms-2">{{ obj.full_name }}</div>
                    </div>
                </td>
                <td>{{ obj.email }}</td>
                <td>{{ obj.type }}</td>
                {% if obj.meta and obj.meta.associated_locations %}
                    <td class="text-center">{{ obj.meta.associated_locations }}</td>
                {% else %}
                    <td class="text-center" hx-get="{% url 'customer_user_associated_locations' user_id=obj.id %}" hx-trigger="load" hx-swap="outerHTML">
                        <span class="htmx-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                    </td>
                {% endif %}
                {% if request.user.is_staff %}
                    {% if tab == 'active' %}
                        <td>{{ obj.last_order }}</td>
                    {% elif tab == 'churned' or tab == 'fully_churned' %}
                        <td>{{ obj.last_order }}</td>
                        <td>${{ obj.total_spend|floatformat:2|intcomma }}</td>
                        <td>${{ obj.change|floatformat:2|intcomma }}</td>
                        <td>{{ obj.percent_change }}%</td>
                    {% else %}
                        {% if obj.last_order %}
                            <td>{{ obj.last_order }}</td>
                        {% else %}
                            <td class="text-center" hx-get="{% url 'customer_company_last_order' %}?user_id={{ obj.id }}" hx-trigger="load" hx-swap="outerHTML">
                                <span class="htmx-indicator"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                            </td>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <td>
                    {% if obj.last_active %}
                        {{ obj.last_active|timezone:"America/Chicago" }} (CT)
                    {% else %}
                        <p>Never logged in</p>
                    {% endif %}
                </td>
                <td>{{ obj.date_joined|timezone:"America/Chicago" }} (CT)</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% if request.user.is_staff %}
                <th>Company</th>
            {% endif %}
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Associated Locations</th>
            {% if request.user.is_staff %}
                {% if tab == 'active' %}
                    <th>Last Order</th>
                {% elif tab == 'churned' or tab == 'fully_churned' %}
                    <th>Last Order</th>
                    <th>Total Spend</th>
                    <th>Change</th>
                    <th>Percentage</th>
                {% else %}
                    <th>Last Order</th>
                    <th>Created</th>
                {% endif %}
            {% else %}
                <th>Created</th>
            {% endif %}
        </tr>
    </tfoot>
</table>
<div class="row" id="users-pagination" hx-swap-oob="true">
    <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
            Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
            <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        </p>
    </div>
    <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <a class="page-link pagi-link" href="{{ page_start_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">&laquo; first</a>
                    <a class="page-link pagi-link" href="{{ page_prev_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">«</a>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link pagi-link" href="{{ page_current_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                    <a class="page-link pagi-link" href="{{ page_next_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">»</a>
                    <a class="page-link pagi-link" href="{{ page_end_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">last &raquo;</a>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% if request.user.is_staff %}
    <select id="table-filter-options" class="form-select form-select-lg mb-3" aria-label="Filter Data By" name="tab" hx-get="{% url 'customer_users' %}" hx-target="#user-results" hx-swap="outerHTML" hx-push-url="true" hx-indicator="#htmx-indicator-loading-status" hx-swap-oob="true">
        <option value=""{% if not tab or tab == '' %} selected{% endif %}>
            Filter Data By{% if not tab or tab == '' %} [count: {{ page_obj.paginator.count }}]{% endif %}
        </option>
        <option value="new"{% if tab == 'new' %} selected{% endif %}>
            New (created in last 30 days){% if tab == 'new' %} [count: {{ page_obj.paginator.count }}]{% endif %}
        </option>
        <option value="active"{% if tab == 'active' %} selected{% endif %}>
            Active Buyers{% if tab == 'active' %} [count: {{ page_obj.paginator.count }}]{% endif %}
        </option>
        <option value="loggedin"{% if tab == 'loggedin' %} selected{% endif %}>
            Logged In{% if tab == 'loggedin' %} [count: {{ page_obj.paginator.count }}]{% endif %}
        </option>
        <option value="churned"{% if tab == 'churned' %} selected{% endif %}>
            Churning{% if tab == 'churned' %} [count: {{ page_obj.paginator.count }}]{% endif %}
        </option>
        <option value="fully_churned"{% if tab == 'fully_churned' %} selected{% endif %}>
            Fully Churned{% if tab == 'fully_churned' %} [count: {{ page_obj.paginator.count }}]{% endif %}
        </option>
    </select>
{% endif %}
