<tr>
    <td colspan="2">
        <strong>Companies</strong>
    </td>
</tr>
{% for user_group in user_groups %}
    <tr>
        <td>{{ user_group.name }}</td>
        <td>
            <span id="accept-button-container"><a class="btn btn-success" href="{% url 'customer_impersonation_start' %}?user_group_id={{ user_group.id }}">Select</a></span>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="2">No companies found</td>
    </tr>
{% endfor %}
<tr>
    <td colspan="2">
        <strong>Users</strong>
    </td>
</tr>
{% for user in users %}
    <tr>
        <td>
            {{ user.type }}: {{ user.full_name }} - {{ user.email }}{% if user.user_group %}
                - {{ user.user_group.name }}
            {% endif %}
        </td>
        <td>
            <span id="accept-button-container"><a class="btn btn-success" href="{% url 'customer_impersonation_start' %}?user_id={{ user.id }}">Select</a></span>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="2">No users found</td>
    </tr>
{% endfor %}
