{% extends 'dashboards/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Customer First Order Dashboard{% endblock %}

{% block content %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Customer First Order</title>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
  <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script defer src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
</head>

<body>
  <h1>Customer First Orders</h1>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    #customer-first-order-table tbody tr:nth-child(odd) {
      background-color: #5a5c69;
    }
    #customer-first-order-table tbody tr:nth-child(even) {
      background-color: #4e4f59;
    }
  </style>

  <table id="customer-first-order-table">
    <thead>
      <tr>
        <th style="display: none">User ID</th>
        <th>Order ID</th>
        <th>User Group Name</th>
        <th>User First Name</th>
        <th>User Last Name</th>
        <th>User Email</th>
        <th>Submitted on Date</th>
        <th>First Transaction Date</th>
        <th>Has Order Review?</th>
      </tr>
    </thead>
    <tbody>
      {% for user in first_order_users %}
      <tr>
        <td style="display: none">{{ user.user_id }}</td>
        <td>{{ user.first_order_id }}</td>
        <td>{{ user.user_group_name }}</td>
        <td>{{ user.user_first_name }}</td>
        <td>{{ user.user_last_name }}</td>
        <td>{{ user.user_email }}</td>
        <td>{{ user.first_order_submitted_on }}</td>
        <td>{{ user.first_transaction_date }}</td>
        <td style="color: {% if user.order_review_check == 'Yes' %}lightgreen{% elif user.order_review_check == 'No' %}lightcoral{% endif %};">
          {{ user.order_review_check }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var table = new DataTable("#customer-first-order-table", {
        pageLength: 50,
        columnDefs: [{ type: "date", targets: [6, 7] }],
      });
    });
  </script>
</body>
{% endblock %}
