{% extends 'dashboards/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Command Center
{% endblock %}
{% block content %}
<!-- <style>
    .progress-bar{
        width: {{takeRate}}%;
    }
</style> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-primary py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <!-- <iframe title="Sales Dashboard" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=cbf09a4c-afd3-4b30-b682-8e9c331bdbf5&autoAuth=true&embeddedDemo=true" frameborder="0" allowFullScreen="true"></iframe> -->
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>GMV</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span class="text-light">${{GMV_Static|floatformat:2|intcomma}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-success py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col me-2">
                                <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>NET REVENUE</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span class="text-light">${{netRevenueCompleted|floatformat:2|intcomma}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-info py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col me-2">
                                <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>TAKE RATE</span></div>
                                <div class="row g-0 align-items-center">
                                    <div class="col-auto">
                                        <div class="text-light fw-bold h5 mb-0 me-3"><span>{{takeRate_Static|floatformat:2}}%</span></div>
                                    </div>
                                    <div class="col">
                                        <div class="progress progress-sm">
                                            <div class="progress-bar bg-info" aria-valuenow="{{takeRate_Static|floatformat:2}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ takeRate_Static }}%;"><span class="visually-hidden">{{takeRate}}%</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>AVG. ORDER VALUE</span></div>
                                <div class="text-light fw-bold h5 mb-0"><span>${{avgOrderValue}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Users</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span class="text-muted">{{userCount}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Companies (DEMAND)</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span class="text-muted">{{userGroupCount}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>SUPPLIERS</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span class="text-muted">{{sellerCount}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
                <div class="card shadow border-left-warning py-2">
                    <div class="card-body">
                        <div class="row g-0 align-items-center">
                            <div class="col me-2">
                                <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>LISTINGS</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span class="text-muted">{{spslCount}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark-subtle d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">GMV By Month</h6>
                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <canvas id="myBarChart" width="400" height="200"></canvas>
                        {% comment %} {{chart_scheduled}} {% endcomment %}
                        <script>
                            const chart_labels = {{chart_labels|safe}};
                            const chart_data = {{chart_data|safe}};
                            const chart_scheduled = {{chart_scheduled|safe}}
                            const data = {
                                labels: chart_labels,
                                datasets: [
                                    {
                                        label: 'Chart Data',
                                        data: chart_data,
                                        backgroundColor: 'rgb(5,255,0)',
                                        borderColor: 'rgba(78, 115, 223, 1)',
                                        borderWidth: 1,
                                        stack: 'combined'
                                    },
                                    {
                                        label: 'Scheduled Data',
                                        data: chart_scheduled,
                                        backgroundColor: 'rgb(0,0,255)',
                                        borderColor: 'rgba(78, 115, 223, 1)',
                                        borderWidth: 1,
                                        stack: 'combined'
                                    }
                                ]
                            };

                            const config = {
                                type: 'bar',
                                data: data,
                                options: {
                                    scales: {
                                        x:{
                                            stacked: true
                                        },
                                        y: {
                                            stacked: true,
                                            beginAtZero: true
                                        }
                                    }
                                }
                            };

                            const myBarChart = new Chart(
                                document.getElementById('myBarChart'),
                                config
                            );
                        </script>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark-subtle d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Net Revenue by Month</h6>
                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <canvas id="netRevChart" width="400" height="200"></canvas>
                        {% comment %} {{netRevenueScheduledGraph_data}} {% endcomment %}
                
                        <script>
                            const chart_labels2 = {{netRevGraph_labels|safe}};
                            const chart_data2 = {{netRevenueCompletedGraph_data|safe}};
                            const chart_scheduled2 = {{netRevenueScheduledGraph_data|safe}}

                            const data2 = {
                                labels: chart_labels,
                                datasets: [
                                    {
                                        label: 'Chart Data',
                                        data: chart_data2,
                                        backgroundColor: 'rgb(5,255,0)',
                                        borderColor: 'rgba(78, 115, 223, 1)',
                                        borderWidth: 1,
                                        stack: 'combined'
                                    },
                                    {
                                        label: 'Scheduled Data',
                                        data: chart_scheduled2,
                                        backgroundColor: 'rgb(0,0,255)',
                                        borderColor: 'rgba(78, 115, 223, 1)',
                                        borderWidth: 1,
                                        stack: 'combined'
                                    }
                                ]
                            };

                            const config2 = {
                                type: 'bar',
                                data: data2,
                                options: {
                                    scales: {
                                        x:{
                                            stacked: true
                                        },
                                        y: {
                                            stacked: true,
                                            beginAtZero: true
                                        }
                                    }
                                }
                            };

                            const netRevChart = new Chart(
                                document.getElementById('netRevChart'),
                                config2
                            );
                        </script>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xl-4">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark-subtle d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Daily GMV Rate</h6>
                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {% comment %} <p>{{GMVGraph_data}}</p> {% endcomment %}

                        <div class="chart-area"><canvas id="dailyGMVChart">
                            <script>
                                
                                const GMVGraph_labels = {{GMVGraph_labels|safe}};
                                const GMVGraph_data = {{GMVGraph_data|safe}};
                            
                                const ctx = document.getElementById('dailyGMVChart').getContext('2d');
                                const gmvChart = new Chart(ctx, {
                                    type: 'line',
                                    data: {
                                        labels: GMVGraph_labels,  
                                        datasets: [{
                                            label: 'GMV by Month',
                                            data: GMVGraph_data,  
                                            borderColor: 'rgba(5, 255, 0, 1)',  
                                            backgroundColor: 'rgba(5,255,0,0.1)',  
                                            fill: true,
                                            borderWidth: 2,
                                            tension: 0.4  
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                display: true,
                                                position: 'top',
                                            }
                                        },
                                        scales: {
                                            x: {
                                                title: {
                                                    display: true,
                                                    text: 'Month'
                                                }
                                            },
                                            y: {
                                                beginAtZero: true,
                                                title: {
                                                    display: true,
                                                    text: 'GMV'
                                                }
                                            }
                                        }
                                    }
                                });
                            </script>
                        </canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark-subtle d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Take Rate by Month</h6>
                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area"><canvas id="takeRateByMonthGraph">
                            <script>
                                const takeRateData_labels = {{takeRateData_labels|safe}};
                                const takeRateData_data = {{takeRateData_data|safe}};
                            
                                const takeRateCTX = document.getElementById('takeRateByMonthGraph').getContext('2d');
                                const takeRateChart = new Chart(takeRateCTX, {
                                    type: 'line',
                                    data: {
                                        labels: takeRateData_labels,  
                                        datasets: [{
                                            label: 'Take Rate by Month',
                                            data: takeRateData_data,  
                                            borderColor: 'rgba(5, 255, 0, 1)',  
                                            backgroundColor: 'rgba(5,255,0,0.1)',  
                                            fill: true,
                                            borderWidth: 2,
                                            tension: 0.4  
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                display: true,
                                                position: 'top',
                                            }
                                        },
                                        scales: {
                                            x: {
                                                title: {
                                                    display: true,
                                                    text: 'Month'
                                                }
                                            },
                                            y: {
                                                beginAtZero: true,
                                                title: {
                                                    display: true,
                                                    text: 'TakeRate'
                                                }
                                            }
                                        }
                                    }
                                });
                            </script>
                        </canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-4">
                <div class="card shadow mb-4">
                    <div class="card-header bg-dark-subtle d-flex justify-content-between align-items-center">
                        <h6 class="fw-bold m-0">Daily Net Revenue Rate</h6>
                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart-area">
                            <canvas id= "DailyNetRevLineChart">
                                <script>
                                    const NetRev_labels = {{NetRev_labels|safe}};
                                    const NetRev_data = {{NetRev_data|safe}};
                                
                                    const NetRevCTX = document.getElementById('DailyNetRevLineChart').getContext('2d');
                                    const netRevByDayChart = new Chart(NetRevCTX, {
                                        type: 'line',
                                        data: {
                                            labels: NetRev_labels,  
                                            datasets: [{
                                                label: 'Net Revenue By Day',
                                                data: NetRev_data,  
                                                borderColor: 'rgba(5, 255, 0, 1)',  
                                                backgroundColor: 'rgba(5,255,0,0.1)',  
                                                fill: true,
                                                borderWidth: 2,
                                                tension: 0.4  
                                            }]
                                        },
                                        options: {
                                            responsive: true,
                                            plugins: {
                                                legend: {
                                                    display: true,
                                                    position: 'top',
                                                }
                                            },
                                            scales: {
                                                x: {
                                                    title: {
                                                        display: true,
                                                        text: 'Day'
                                                    }
                                                },
                                                y: {
                                                    beginAtZero: true,
                                                    title: {
                                                        display: true,
                                                        text: 'NetRev'
                                                    }
                                                }
                                            }
                                        }
                                    });
                                </script>
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}