<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payout Reconciliation</title>
</head>
<body>
    <h1>Payout Reconciliation Dashboard</h1>

    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Column 2</th>
                <th>Column 3</th>
            </tr>
        </thead>
        <tbody>
            {% for order_id in order_ids %}
            <tr>
                <td>{{ order_id }}</td>
                <td>{{order_main_product_map}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>