{% extends 'dashboards/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Sales Leaderboard
{% endblock %}
{% block content %}
<div class="container-fluid">
    <h3 class="text-light mb-4">Sales Leaderboard ({% now "F" %})</h3>
    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Sales Rep</th>
                            <th>GMV</th>
                            <th>Avg. Discount</th>
                            <th>Net</th>
                            <th>Order Count</th>
                            {% comment %} <th>New Companies</th> {% endcomment %}
                            {% comment %} <th>New Users</th> {% endcomment %}
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users|dictsortreversed:"score" %}
                        <tr>
                            <td>
                                <img class="rounded-circle me-2" width="30" height="30" src="
                                    {% if user.photo %}
                                        {{ user.photo.url }}
                                    {% else %}
                                        {% static 'customer_dashboard/img/dogs/image2.jpeg' %}
                                    {% endif %}">
                                <a href="{% url 'user_sales_detail' user.id %}">{{user.first_name}} {{user.last_name}}</a>
                            </td>
                            <td>${{user.gmv|floatformat:2|intcomma}}</td>
                            <td>{{user.avg_discount|floatformat:2|intcomma}}%</td>
                            <td>${{user.net_revenue|floatformat:2|intcomma}}</td>
                            <td>{{user.order_count|intcomma}}</td>
                            {% comment %} <td>{{user.new_companies}}</td> {% endcomment %}
                            {% comment %} <td>{{user.new_users}}</td> {% endcomment %}
                            <td>{{user.score|floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-4">
        <div class="card shadow">
            <div class="card-body">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#moreDetails" aria-expanded="false" aria-controls="moreDetails">
                    Show Score Breakdown
                </button>
                <div class="collapse mt-4" id="moreDetails">
                    <div class="table-responsive table mt-4" style="border: 1px solid #dee2e6;">
                        <h4 class="text-light mb-4">Presidents Club Leaderboard - New Buyers (40% of score)</h4>
                        <table class="table my-0">
                            <thead>
                                <tr>
                                    <th>Sales Rep</th>
                                    <th>UserCount</th>
                                    <th>Points</th>
                                    <th>Weighted Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users|dictsortreversed:"new_buyers_score" %}
                                <tr>
                                    <td>
                                        <img class="rounded-circle me-2" width="30" height="30" src="
                                            {% if user.photo %}
                                                {{ user.photo.url }}
                                            {% else %}
                                                {% static 'customer_dashboard/img/dogs/image2.jpeg' %}
                                            {% endif %}">
                                        <a href="{% url 'user_sales_detail' user.id %}">{{user.first_name}} {{user.last_name}}</a>
                                    </td>
                                    <td>{{user.new_buyers}}</td>
                                    <td>{{user.new_buyers_score|floatformat:2}}</td>
                                    <td>{{user.new_buyers_weighted_score|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive table mt-4" style="border: 1px solid #dee2e6;">
                        <h4 class="text-light mb-4">Presidents Club Leaderboard - GMV (25% of score)</h4>
                        <table class="table my-0">
                            <thead>
                                <tr>
                                    <th>Sales Rep</th>
                                    <th>Current GMV</th>
                                    <th>Points</th>
                                    <th>Weighted Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users|dictsortreversed:"gmv_score" %}
                                <tr>
                                    <td>
                                        <img class="rounded-circle me-2" width="30" height="30" src="
                                            {% if user.photo %}
                                                {{ user.photo.url }}
                                            {% else %}
                                                {% static 'customer_dashboard/img/dogs/image2.jpeg' %}
                                            {% endif %}">
                                        <a href="{% url 'user_sales_detail' user.id %}">{{user.first_name}} {{user.last_name}}</a>
                                    </td>
                                    <td>${{user.gmv|floatformat:2|intcomma}}</td>
                                    <td>{{user.gmv_score|floatformat:2}}</td>
                                    <td>{{user.gmv_weighted_score|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive table mt-4" style="border: 1px solid #dee2e6;">
                        <h4 class="text-light mb-4">Presidents Club Leaderboard - Platform Adoption (25% of score)</h4>
                        <table class="table my-0">
                            <thead>
                                <tr>
                                    <th>Sales Rep</th>
                                    <th>Order Count</th>
                                    <th>Points</th>
                                    <th>Weighted Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users|dictsortreversed:"platform_adoption_score" %}
                                <tr>
                                    <td>
                                        <img class="rounded-circle me-2" width="30" height="30" src="
                                            {% if user.photo %}
                                                {{ user.photo.url }}
                                            {% else %}
                                                {% static 'customer_dashboard/img/dogs/image2.jpeg' %}
                                            {% endif %}">
                                        <a href="{% url 'user_sales_detail' user.id %}">{{user.first_name}} {{user.last_name}}</a>
                                    </td>
                                    <td>{{user.external_orders_count}}</td>
                                    <td>{{user.platform_adoption_score|floatformat:2}}</td>
                                    <td>{{user.platform_adoption_weighted_score|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="table-responsive table mt-4" style="border: 1px solid #dee2e6;">
                        <h4 class="text-light mb-4">Presidents Club Leaderboard - Discount Rate (10% of score)</h4>
                        <table class="table my-0">
                            <thead>
                                <tr>
                                    <th>Sales Rep</th>
                                    <th>Avg Discount Rate</th>
                                    <th>Points</th>
                                    <th>Weighted Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users|dictsortreversed:"discount_rate_score" %}
                                <tr>
                                    <td>
                                        <img class="rounded-circle me-2" width="30" height="30" src="
                                            {% if user.photo %}
                                                {{ user.photo.url }}
                                            {% else %}
                                                {% static 'customer_dashboard/img/dogs/image2.jpeg' %}
                                            {% endif %}">
                                        <a href="{% url 'user_sales_detail' user.id %}">{{user.first_name}} {{user.last_name}}</a>
                                    </td>
                                    <td>{{user.avg_discount|floatformat:2|intcomma}}%</td>
                                    <td>{{user.discount_rate_score|floatformat:2}}</td>
                                    <td>{{user.discount_rate_weighted_score|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}