{% extends 'dashboards/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
{{user.first_name}} {{user.last_name}} Sales Detail
{% endblock %}
{% block content %}
<style>
    table tbody tr:nth-child(odd) {
        background-color: #505063;
    }
    table tbody tr:nth-child(even) {
        background-color: #80808c;
    }
    ul #nav2  {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
    li #nav2 {
        float: left;
    }
    li.active a {
        background-color: #4CAF50;
        color: white;
    }
    thead th {
        position: sticky;
        top: 0;
        background-color: #333;
        color: white;
        z-index: 1;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Accounts</title>
</head>
<body>
    <nav>
        <ul id="nav2" style="display: flex; gap: 100px;">
            <li id="nav2" class="{% if request.resolver_match.url_name == 'user_sales_detail' %}active{% endif %}">
                <a href="{% url 'user_sales_detail' user.id %}" class="btn btn-primary" style="border-radius: 0;">Overview</a>
            </li>
            <li id="nav2" class="{% if request.resolver_match.url_name == 'user_sales_product_mix' %}active{% endif %}"><a href="{% url 'user_sales_product_mix' user_id=user.id %}" class="btn btn-primary" style="border-radius: 0;">Product Mix</a></li>
            <li id="nav2" class="{% if request.resolver_match.url_name == 'user_sales_top_accounts' %}active{% endif %}"><a href="{% url 'user_sales_top_accounts' user_id=user.id %}" class="btn btn-primary" style="border-radius: 0;">Top Accounts</a></li>
            <li id="nav2" class="{% if request.resolver_match.url_name == 'user_sales_new_accounts' %}active{% endif %}"><a href="{% url 'user_sales_new_accounts' user_id=user.id %}" class="btn btn-primary" style="border-radius: 0;">New Accounts</a></li>
            <li id="nav2" class="{% if request.resolver_match.url_name == 'user_sales_new_buyers' %}active{% endif %}"><a href="{% url 'user_sales_new_buyers' user_id=user.id %}" class="btn btn-primary" style="border-radius: 0;">New Buyers</a></li>
            <li id="nav2" class="{% if request.resolver_match.url_name == 'user_sales_churned_accounts' %}active{% endif %}"><a href="{% url 'user_sales_churned_accounts' user_id=user.id %}" class="btn btn-primary" style="border-radius: 0;">Churned Accounts</a></li>
            <li id="nav2" class="{% if request.resolver_match.url_name == 'user_sales_28_day_list' %}active{% endif %}"><a href="{% url 'user_sales_28_day_list' user_id=user.id %}" class="btn btn-primary" style="border-radius: 0;">28 Day List</a></li>
        </ul>
    </nav>
    <header>
        <h1>{{user.first_name}} {{user.last_name}}</h1>

    </header>
    <main>
        <section>
            <h3>Accounts that have not Ordered in the past 30 days</h3>
            {% comment %} {{churned_accounts}} {% endcomment %}
            <table>
                <thead>
                    <tr style="border-bottom: 1px solid #ddd;">
                        <th style="padding-right: 200px;">Accounts</th>
                        <th style="padding-right: 200px;">Days Since Last Order</th>
                    </tr>
                </thead>
                <tbody>
                    {% for accounts in churned_accounts|dictsort:"days_since_last_order" %}
                    <tr>
                        <td>{{accounts.name}}</td>
                        <td>{{accounts.days_since_last_order}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
    <div style="display: flex; justify-content: center; margin-top: 50px;">
        <a href="{% url 'user_sales_detail' user.id %}" class="btn btn-primary">Back to Overview</a>
    </div>
</body>
</html>

{% endblock %}