{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% load sales_stream_tags %}
{% block title %}
  Lead Details
{% endblock %}
{% block stylesheet %}
  <style></style>
{% endblock %}
{% block javascript %}
  <script>
    const inputOptions = {}
    document
      .getElementById('lost-reason')
      .querySelectorAll('option')
      .forEach((option) => {
        inputOptions[option.value] = option.text
      })
    
    function disableSubmitButton(form) {
      const submitButton = form.querySelector('button[type="submit"]')
      submitButton.disabled = true
    }
    
    function markAsJunk() {
      // Send a modal popup asking for Lost Reason
      Swal.fire({
        title: 'Please select the reason for losing this lead:',
        input: 'select',
        inputOptions: inputOptions,
        inputPlaceholder: 'Select a reason...',
        showCancelButton: true,
        inputValidator: (value) => {
          if (!value) {
            return 'Please select a reason.'
          }
        }
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('lost-reason').value = result.value
          document.getElementById('mark-as-junk-form').submit()
        }
      })
    }
    function toggleEdit(index) {
      var editDiv = document.getElementById('text-edit-' + index)
      var textDiv = document.getElementById('text-' + index)
    
      if (editDiv.classList.contains('d-none')) {
        editDiv.classList.remove('d-none')
        textDiv.classList.add('d-none')
      } else {
        editDiv.classList.add('d-none')
        textDiv.classList.remove('d-none')
      }
    }
    function editNote(formID) {
      document.getElementById('note-formset-form').value = formID
      document.getElementById('note-formset-action').value = 'edit'
      console.log(document.getElementById('note-formset-form').value)
      document.getElementById('note-formset').submit()
    }
    function deleteNote(formId, deleteFieldId) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById(deleteFieldId).value = 'true'
          document.getElementById('note-formset-form').value = formId
          document.getElementById('note-formset-action').value = 'delete'
          document.getElementById('note-formset').submit()
        }
      })
    }
    
    // Lead Detail Form START
    // Removes the dropdown results from an element
    function removeAutocompleteDropdown() {
      let dropdownItems = document.querySelectorAll('.my-dropdown-item')
      dropdownItems.forEach(function (item) {
        item.remove()
      })
    }
    
    // Sets dropdown selection to input[#id_user_address] value
    function addUserAddressAutocompleteListeners() {
      let dropdownItems = document.querySelectorAll('.my-dropdown-item')
      dropdownItems.forEach(function (item) {
        if (item.getAttribute('data-id') === '') {
          // Empty element
          document.getElementById('id_user_address').value = null
          return
        }
        item.addEventListener('click', function () {
          // Update the display field with the user_address's name
          document.getElementById('user_address-search').value = item.getAttribute('data-name')
          // Update the hidden field with the user_address's ID
          document.getElementById('id_user_address').value = item.getAttribute('data-id')
          removeAutocompleteDropdown()
        })
      })
    }
    
    // On Click event, close the dropdown unless the user is clicking on the search input
    document.addEventListener('click', function (e) {
      if (e.target != document.getElementById('user_address-search')) {
        removeAutocompleteDropdown()
      }
    })
    
    document.addEventListener('DOMContentLoaded', function () {
      // Clear the input field if the user clears the search field
      const userAddressInput = document.getElementById('user_address-search')
      if (userAddressInput) {
        userAddressInput.addEventListener('input', function (e) {
          if (!e.currentTarget.value && !e.inputType) {
            document.getElementById('id_user_address').value = null
          }
        })
      }
    
      // Make the user select searchable
      const userSelect = content.querySelectorAll('.form-select').forEach((userSelect) => {
        new Choices(userSelect, {
          searchEnabled: true,
          searchChoices: true,
          removeItemButton: true,
          noResultsText: 'No results found.',
          shouldSort: false
        })
      })
    
      // Prevent the form from submitting when Enter is pressed
      // This is so the form isn't accidently submitted while searching for an address
      const form = content.querySelector('form')
      if (form) {
        form.addEventListener('keydown', (event) => {
          if (event.key === 'Enter') {
            event.preventDefault()
          }
        })
      }
    })
    
    htmx.onLoad(function (content) {
      addUserAddressAutocompleteListeners()
    })
    // Lead Detail Form END
  </script>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <!-- Lead Header -->
    <div class="card shadow mb-3">
      <div class="card-header">
        <div class="row align-items-center px-2">
          {% if lead.user.photo %}
            <img class="border rounded-circle img-profile object-fit-cover p-0" style="height: 4rem; width: 4rem;" src="{{ lead.user.photo.url }}" />
          {% else %}
            <span class="border rounded-circle img-profile d-flex justify-content-center align-items-center" style="height: 4rem; width: 4rem;"><i class="fas fa-user fa-2x"></i></span>
          {% endif %}
          <div class="col">
            <h6 class="mb-1">Lead</h6>
            <h5 class="text-primary mb-1"><strong>{{ lead.user.full_name|default_if_none:lead.user.email }}</strong></h5>
            {% if lead.user_address %}
              <h5 class="text-dark mb-1">{{ lead.user_address }}</h5>
            {% else %}
              <h6 class="text-muted mb-1">----</h6>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card-body p-3">
        <div class="row">
          <div class="col me-3">
            <h6 class="mb-1">Lead Owner</h6>
            <h6 class="text-muted mb-1">
              {% if lead.owner %}
                {{ lead.owner.full_name|default:lead.owner.email }}
              {% else %}
                Unassigned
              {% endif %}
            </h6>
          </div>
          <div class="col me-3">
            <h6 class="mb-1">Phone</h6>
            <h6 class="text-muted mb-1">{{ lead.user.phone|default:'-----' }}</h6>
          </div>
          <div class="col me-3">
            <h6 class="mb-1">Email</h6>
            <h6 class="text-muted mb-1">{{ lead.user.email }}</h6>
          </div>
          <div class="col me-3">
            <h6 class="mb-1">Lead Type</h6>
            <h6 class="text-muted mb-1">{{ lead.get_type_display }}</h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Lead Status -->
    <div class="card shadow mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-10 mb-md-0 mb-1">
            <div class="progress small" style="height: 2rem;">
              {% with status_count=lead_statuses|length %}
                {% for status, label in lead_statuses %}
                  <!-- prettier-ignore -->
                  {% if lead.status == 'junk' %}
              <div 
              class="progress-bar p-3 text-truncate {% if status == lead.status %} progress-bar bg-danger {% else %} bg-light text-dark {% endif %}" 
              role="progressbar" 
              style="width: {% widthratio 1 status_count 100 %}%" 
              aria-valuenow="{{ forloop.counter }}" 
              aria-valuemin="1" 
              aria-valuemax="{{ status_count }}">
              {{ label }}
            </div>
            {% else %}
            <div 
            class="progress-bar p-3 text-truncate {% if status == lead.status %}bg-secondary{% elif forloop.counter0 < lead_status_index %}bg-success {% else %} bg-light text-dark{% endif %}" 
            role="progressbar" 
            style="width: {% widthratio 1 status_count 100 %}%" 
            aria-valuenow="{{ forloop.counter }}" 
            aria-valuemin="1" 
            aria-valuemax="{{ status_count }}">
            {{ label }}
          </div>
            {% endif %}
                {% endfor %}
              {% endwith %}
            </div>
          </div>
          <div class="col-md-2">
            <form id="mark-as-junk-form" method="post">
              {% csrf_token %}
              <input type="hidden" name="update_status" />
              <input type="hidden" name="status" value="junk" />
              <select id="lost-reason" class="d-none" name="lost_reason">
                {% for reason, label in lost_reasons.items %}
                  <option value="{{ reason }}">{{ label }}</option>
                {% endfor %}
              </select>
              {% if lead.status == 'junk' %}
                <button class="btn btn-danger btn-sm w-100 disabled" disabled><i class="fas fa-times me-3"></i>Mark as Junk</button>
              {% else %}
                <button class="btn btn-danger btn-sm w-100" onclick="markAsJunk(); return false;"><i class="fas fa-times me-3"></i>Mark as Junk</button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Lead Information -->
    <div class="row">
      <!-- Details -->
      <div class="col-md-8">
        <div class="card shadow mb-3">
          <div class="card-body">
            <ul class="nav nav-tabs" id="leadTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="details-tab" data-bs-toggle="tab" data-bs-target="#details" type="button" role="tab" aria-controls="details" aria-selected="true">Details</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="activity-tab" data-bs-toggle="tab" data-bs-target="#activity" type="button" role="tab" aria-controls="activity" aria-selected="false">Activity</button>
              </li>
            </ul>
            <div class="tab-content p-3" id="leadTabContent">
              <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
                {% if lead.lost_reason %}
                  <div class="alert alert-danger" role="alert">
                    <h6 class="alert-heading mb-0"><strong>Lead Lost:</strong> {{ lead.get_lost_reason_display }}</h6>
                  </div>
                {% endif %}
                {% if lead.status == 'converted' %}
                  <div class="alert alert-success" role="alert">
                    <h6 class="alert-heading mb-0"><strong>Lead Converted</strong></h6>
                  </div>
                {% endif %}
                <!-- Lead Details Display -->
                <div id="text-details">
                  <div class="d-flex flex-row-reverse">
                    <button class="btn btn-light btn-sm" onclick="toggleEdit('details'); return false;" title="Edit Details"><i class="fas fa-edit me-2"></i>Edit</button>
                  </div>
                  <div class="row">
                    <div class="col">
                      {% with user=lead.user %}
                        <table class="table small">
                          <tbody>
                            <tr>
                              <td class="text-muted">Name</td>
                              <td>{{ user.full_name|default:'' }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Email</td>
                              <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Address</td>
                              <td>{{ lead.user_address|default:'' }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Company</td>
                              <td>{{ user.user_group|default:'' }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Phone</td>
                              <td>{{ user.phone|default:'' }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Estimated Conversion Date</td>
                              <td>{{ lead.est_conversion_date }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Estimated Value</td>
                              <td>{{ lead.est_value|currency }}</td>
                            </tr>
                          </tbody>
                        </table>
                      {% endwith %}
                    </div>
                    <div class="col">
                      <table class="table small">
                        <tbody>
                          <tr>
                            <td class="text-muted">Lead Number</td>
                            <td>{{ lead.id }}</td>
                          </tr>
                          <tr>
                            <td class="text-muted">Lead Status</td>
                            <td>{{ lead.get_status_display }}</td>
                          </tr>
                          <tr>
                            <td class="text-muted">Lead Owner</td>
                            <td>
                              {% if lead.owner %}
                                {{ lead.owner.full_name|default:lead.owner.email }}
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td class="text-muted">Lead Type</td>
                            <td>{{ lead.get_type_display }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Lead Details Form -->
                <div id="text-edit-details" class="d-none">
                  <form method="post">
                    {% csrf_token %}
                    {% for hidden in lead_form.hidden_fields %}
                      {{ hidden }}
                    {% endfor %}
                    <div class="d-flex flex-row-reverse">
                      <button class="btn btn-primary btn-sm" type="submit" title="Save Details" name="lead-form">Save</button>
                      <button class="btn btn-danger btn-sm me-2" onclick="toggleEdit('details'); return false;" title="Cancel Edit"><i class="fas fa-times me-2"></i>Cancel</button>
                    </div>
                    <div class="row">
                      <div class="col">
                        {% with user=lead.user %}
                          <table class="table small">
                            <tbody>
                              <tr>
                                <td class="text-muted">User</td>
                                <td>{{ lead_form.user }}</td>
                              </tr>
                              <tr>
                                <td class="text-muted">
                                  Address
                                  <span class="htmx-indicator" id="htmx-indicator-loading"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
                                </td>
                                <td>
                                  <div class="dropdown mb-3" hx-disabled-elt=".form-control, button">
                                    <!-- prettier-ignore -->
                                    <input id="user_address-search" class="form-control" autocomplete="off" type="search" name="q" value="{{ lead.user_address|default:'' }}" hx-get="{% url 'customer_user_address_search' %}" hx-trigger="input changed delay:500ms, search" hx-swap="innerHTML" hx-target="#user_address-search-results" hx-indicator="#htmx-indicator-loading" hx-include="#id_user" />
                                    {% comment %}Hidden input field for user_address ID is added by forms.py id=id_user_address{% endcomment %}
                                    <div class="dropdown-content" id="user_address-search-results"></div>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td class="text-muted">Estimated Conversion Date</td>
                                <td>{{ lead_form.est_conversion_date }}</td>
                              </tr>
                              <tr>
                                <td class="text-muted">Estimated Value</td>
                                <td>{{ lead_form.est_value }}</td>
                              </tr>
                            </tbody>
                          </table>
                        {% endwith %}
                      </div>
                      <div class="col">
                        <table class="table small">
                          <tbody>
                            <tr>
                              <td class="text-muted">Lead Number</td>
                              <td>{{ lead.id }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Lead Status</td>
                              <td>{{ lead_form.status }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Lead Owner</td>
                              <td>{{ lead_form.owner }}</td>
                            </tr>
                            <tr>
                              <td class="text-muted">Lead Type</td>
                              <td>{{ lead_form.type }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                <h6 class="mb-1">No Logged Activity</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Notes -->
      <div class="col-md-4">
        <div class="card shadow mb-3">
          <div class="card-body">
            <h5 class="card-title mb-3"><i class="fas fa-comments me-3"></i>Lead Notes</h5>
            <div class="card-text">
              <form id="note-formset" method="post" onsubmit="disableSubmitButton(this);">
                {% csrf_token %}
                {{ lead_note_formset.management_form }}
                <input type="hidden" name="note-formset" />
                <input type="hidden" id="note-formset-form" name="form_id" value="" />
                <input type="hidden" id="note-formset-action" name="action" value="create" />

                {% comment %}Render Notes{% endcomment %}
                {% for form in lead_note_formset %}
                  {% if forloop.first %}
                    <div class="form-group mt-3">
                      {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}
                      <label for="{{ form.text.label_for_id }}">Add a Note:</label>
                      <div class="input-group mb-3">
                        {{ form.text }}
                        <button class="btn btn-primary" type="submit" name="add_note"><i class="fas fa-paper-plane"></i></button>
                      </div>
                    </div>
                  {% else %}
                    {% with note=form.instance %}
                      {% with user=note.created_by %}
                        {% if user %}
                          <div class="d-flex mb-3 small">
                            <div class="me-2">
                              {% if user.photo %}
                                <img class="border rounded-circle img-profile object-fit-cover p-0" style="height: 2rem; width: 2rem;" src="{{ user.photo.url }}" />
                              {% else %}
                                <span class="border rounded-circle img-profile d-flex justify-content-center align-items-center" style="height: 2rem; width: 2rem;"><i class="fas fa-user"></i></span>
                              {% endif %}
                            </div>
                            <div class="col">
                              <div class="d-flex justify-content-between">
                                <small class="me-1">{{ user.full_name|default:user.email }}</small>
                                <small class="text-end">
                                  {{ note.created_on|naturaltime }}
                                  {% comment %}Check for difference in Create/Update time, down to second.{% endcomment %}
                                  {% if note.created_on|date:'Y-m-d H:i:s' != note.updated_on|date:'Y-m-d H:i:s' %} (Edited){% endif %}
                                </small>
                              </div>
                              {% if user == request.user %}
                                {% for hidden in form.hidden_fields %}
                                  {{ hidden }}
                                {% endfor %}
                                {% comment %}Form prefix is "notes-X" where X is the id number of the form. We need to extract the number from the prefix to use it in the javascript functions and view, to save the correct form.{% endcomment %}
                                {% with form_number=form.prefix|slice:'6:' %}
                                  <div id="text-edit-{{ form_number }}" class="d-none">
                                    {{ form.text }}
                                    <small class="d-inline">
                                      <button class="btn btn-sm p-0 me-1 text-muted" onclick="toggleEdit({{ form_number }}); return false;">Cancel</button>
                                      <button class="btn btn-sm btn-primary py-0 px-1" onclick="editNote({{ form_number }}); return false;">Save</button>
                                    </small>
                                  </div>
                                  <div id="text-{{ form_number }}">
                                    <p class="mb-2">{{ note.text }}</p>
                                    <small class="d-inline">
                                      <button class="btn btn-sm p-0 me-1 text-primary" onclick="toggleEdit({{ form_number }}); return false;">Edit</button>
                                      <button class="btn btn-sm p-0 text-danger" onclick="deleteNote({{ form_number }}, '{{ form.DELETE.auto_id }}'); return false;">Delete</button>
                                    </small>
                                  </div>
                                {% endwith %}
                              {% else %}
                                <p class="mb-2">{{ note.text }}</p>
                              {% endif %}
                            </div>
                          </div>
                        {% endif %}
                      {% endwith %}
                    {% endwith %}
                  {% endif %}
                {% empty %}
                  <p>No notes have been added to this lead.</p>
                {% endfor %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
