{% extends 'customer_dashboard/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  Leads
{% endblock %}
{% block stylesheet %}
  <style></style>
{% endblock %}
{% block javascript %}
  <script defer src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
  <script>
    const inputOptions = {}
    document
      .getElementById('lostReason')
      .querySelectorAll('option')
      .forEach((option) => {
        inputOptions[option.value] = option.text
      })
    
    // Make the owner filter searchable
    const ownerFilter = document.querySelector('#filter-owner')
    if (ownerFilter) {
      new Choices(ownerFilter, {
        searchEnabled: true,
        searchChoices: true,
        removeItemButton: true,
        noResultsText: 'No results found.',
        shouldSort: false
      })
    }
    
    function handleLostReason(evt) {
      // Send a modal popup asking for Lost Reason
      Swal.fire({
        title: 'Please select the reason for losing this lead:',
        input: 'select',
        inputOptions: inputOptions,
        inputPlaceholder: 'Select a reason...',
        showCancelButton: true,
        inputValidator: (value) => {
          if (!value) {
            return 'Please select a reason.'
          }
        }
      }).then((result) => {
        if (result.isConfirmed) {
          lostReason.value = result.value
          htmx.trigger('#board', 'cardMoved')
        } else {
          // Refresh the board
          const status = document.getElementById('status')
          status.value = evt.from.id
          htmx.trigger('#board', 'cardMoved')
        }
      })
    }
    
    htmx.onLoad(function (content) {
      const sortables = content.querySelectorAll('.sortable')
      const selectableStatuses = '{{ selectable_statuses|escapejs }}'
      // prevent multiple requests from being sent concurrently
      let isRequestInProgress = false
    
      sortables.forEach((sortable) => {
        const instance = new Sortable(sortable, {
          group: 'kanban',
          sort: false,
          onMove: function (evt) {
            // prevent moving to a non-selectable status
            return selectableStatuses.includes(evt.to.id) && !isRequestInProgress
          },
          onEnd: function (evt) {
            if (selectableStatuses.includes(evt.to.id) && evt.from.id !== evt.to.id) {
              const status = document.getElementById('status')
              const movedCard = document.getElementById('movedCard')
              status.value = evt.to.id
              movedCard.value = evt.item.dataset.leadId
              if (evt.to.id === 'junk') {
                handleLostReason(evt)
              } else {
                htmx.trigger('#board', 'cardMoved')
              }
            } else {
              evt.preventDefault()
              isRequestInProgress = false
              instance.option('disabled', false)
            }
          }
        })
        htmx.on('htmx:beforeRequest', function () {
          isRequestInProgress = true
          instance.option('disabled', true)
        })
    
        htmx.on('htmx:afterRequest', function () {
          isRequestInProgress = false
          instance.option('disabled', false)
        })
      })
    })
    
    htmx.on('htmx:beforeRequest', function (evt) {
      // On events that trigger an "Edit" modal
      if (evt.detail.target == document.getElementById('edit-card-modal')) {
        // Don't load card information from server if it's already loaded
        const form = document.getElementById('form-card-edit')
        const card = evt.detail.elt
        if (form && form.dataset.leadId == card.dataset.leadId) {
          evt.preventDefault()
        }
      }
    })
    
    htmx.on('htmx:afterSwap', function (evt) {
      // Hide the modals after a submission
      if (evt.detail.requestConfig && evt.detail.requestConfig.verb == 'post') {
        const modals = document.querySelectorAll('.modal')
        modals.forEach((modal) => {
          const modalInstance = bootstrap.Modal.getInstance(modal)
          if (modalInstance) {
            modalInstance.hide()
          }
        })
      }
    })
  </script>
{% endblock %}
{% block content %}
  <div class="container-fluid">
    <!-- New Lead Button -->
    <div class="d-flex justify-content-end align-items-center mb-3">
      <button id="new-lead-button" data-bs-toggle="modal" data-bs-target="#new-card-modal" class="btn btn-primary btn-sm"><i class="fas fa-plus-square fa-sm text-white-50"></i>&nbsp;New Lead</button>
    </div>

    <!-- Filters -->
    <div class="container-lg mb-4 border border-primary-subtle rounded-3 pt-4 pb-4">
      <form id="filter-form" action="{% url 'customer_leads' %}" class="row g-3" method="get" hx-get="{% url 'customer_leads_board' %}" hx-target="#board" hx-swap="innerHTML" hx-push-url="false" hx-indicator="#htmx-loading-indicator-status">
        <div class="row mb-3">
          <div class="col">
            <label for="filter-owner">Lead Owner</label>
            <select id="filter-owner" name="owner" class="form-select" aria-label="Filter by Lead Owner">
              <option value="">All</option>
              <option value="unassigned">Unassigned</option>
              {% for owner in owners %}
                <option value="{{ owner.id }}">{{ owner }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="input-group">
          <label class="input-group-text" for="filter-date">Estimated Conversion</label>
          <select class="form-select" id="filter-date" name="est" aria-label="Filter by Estimated Conversion Date">
            <option value="" selected>Any</option>
            <option value="today">Today</option>
            <option value="this_week">This Week</option>
            <option value="this_month">This Month</option>
            <option value="overdue">Past Conversion Date</option>
          </select>
        </div>
      </form>
    </div>

    <!-- Move Card Form -->
    <form hx-post="{% url 'customer_leads_board' %}" hx-trigger="cardMoved" hx-target="#board" hx-push-url="false" hx-include="#filter-form">
      <input id="action" type="hidden" name="update_status" />
      <input id="status" type="hidden" name="status" />
      <input id="movedCard" type="hidden" name="lead_id" />
      <select id="lostReason" name="lost_reason" style="display: none;">
        {% for key, value in lost_reasons.items %}
          <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
      <!-- Board -->
      <span id="htmx-loading-indicator-status" class="htmx-indicator">Loading <img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
      <div class="board" id="board" hx-get="{% url 'customer_leads_board' %}" hx-swap="innerHTML" hx-indicator="#htmx-loading-indicator-status" hx-trigger="load, change from:#filter-form" hx-include="#filter-form"></div>
    </form>
  </div>
{% endblock %}
{% block modals %}
  <!-- New Lead -->
  <div id="new-card-modal" class="modal modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
    {% include 'customer_dashboard/leads/leads_kanban_card_new.html' with form=new_lead_form %}
  </div>
  <!-- Lead Details -->
  <div id="edit-card-modal" class="modal modal-lg modal-blur fade" style="display: none" aria-hidden="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div id="htmx-indicator-loading-card" class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Loading, please wait...</h5>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center p-3">
          <div class="spinner-border text-primary m-3" role="status"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
