{% load static %}
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <form id="form-card-edit" data-lead-id="{{ lead.id }}" method="post" hx-post="{% url 'customer_leads_card' lead.id %}" hx-indicator="#htmx-indicator-card" hx-target="#card-{{ lead.id }}">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">Lead Details</h5>
      </div>
      <div class="modal-body">{{ form }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success" name="edit_card">
          Save
          <span class="htmx-indicator" id="htmx-indicator-card"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        </button>
      </div>
    </form>
  </div>
</div>
