{% load sales_stream_tags %}
<a id="card-{{ lead.id }}" href="{% url 'customer_leads_card_edit' lead.id %}" class="text-decoration-none text-reset" hx-indicator=".htmx-indicator-card" hx-trigger="click" hx-get="{% url 'customer_leads_card_edit' lead.id %}" hx-target="#edit-card-modal" hx-swap="innerHTML" data-bs-toggle="modal" data-bs-target="#edit-card-modal" data-lead-id="{{ lead.id }}">
  <div class="card shadow small mb-1" draggable="true">
    <div class="card-body">
      <div class="card-title">
        <h6>
          <badge>
            {% if lead.type == 'customer' %}
              <span class="badge fw-medium text-primary" style="background-color: rgba(var(--bs-primary-rgb), 0.2);">{{ lead.get_type_display }}</span>
            {% else %}
              <span class="badge fw-medium text-secondary" style="background-color: rgba(var(--bs-secondary-rgb), 0.2);">{{ lead.get_type_display }}</span>
            {% endif %}
          </badge>
          {% if lead.lost_reason %}
            <badge>
              <span class="badge fw-medium text-danger" style="background-color: rgba(var(--bs-danger-rgb), 0.2);">{{ lead.get_lost_reason_display }}</span>
            </badge>
          {% endif %}
        </h6>
      </div>
      <div class="card-text text-truncate">
        <small class="mb-0"><strong>User:</strong> {{ lead.user.full_name|default:lead.user.email }}</small><br />
        <small class="mb-0"><strong>User Address:</strong> {{ lead.user_address|default:'----' }}</small><br />
        <small class="mb-0"><strong>Est. Conversion:</strong> {{ lead.est_conversion_date }}</small><br />
        <small class="mb-0"><strong>Est. Value:</strong> {{ lead.est_value|currency }}</small>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex flex-row-reverse align-items-center">
        {% if lead.owner %}
          {% if lead.owner.photo %}
            <img class="border rounded-circle img-profile" style="height: 1.5rem; width: 1.5rem;" src="{{ lead.owner.photo.url }}" />
          {% else %}
            <span class="border rounded-circle img-profile" style="height: 1.5rem; width: 1.5rem; display:flex; justify-content:center; align-items:center;"><i class="fas fa-user"></i></span>
          {% endif %}
          <div class="text-sm me-2 text-truncate">{{ lead.owner.full_name|default:lead.owner.email }}</div>
        {% else %}
          <div class="text-sm me-2 text-nowrap">{{ _('Unassigned') }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</a>
