{% load static %}
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <form id="form-card-new" method="post" hx-post="{% url 'customer_leads_board' %}" hx-indicator="#htmx-indicator-card" hx-target="#board">
      {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title">New Lead</h5>
      </div>
      <div class="modal-body">{{ form }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
        <button id="new-card-submit" type="submit" class="btn btn-success" name="new_card">
          Save
          <span class="htmx-indicator" id="htmx-indicator-card"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        </button>
      </div>
    </form>
  </div>
</div>
