<div class="accordion-item">
    <!-- A Bootstrap Accordian displaying all orders in cards. -->
    <h2 class="accordion-header" id="heading{{status.name}}">
        <button class="accordion-button{% if status.name != "PENDING" %} collapsed{% endif %}" type="button"
            data-bs-toggle="collapse" data-bs-target="#collapse{{status.name}}"
            {% if status.name == "PENDING" %}aria-expanded="true" {% endif %} aria-controls="collapse{{status.name}}">
            Orders with status: {{status.name}} <span class="badge bg-danger"
                style="margin-left:10px;">{{status.orders|length}}</span>
        </button>
    </h2>
    <div id="collapse{{status.name}}"
        class="accordion-collapse collapse {% if status.name == "PENDING" %}show{% endif %}"
        aria-labelledby="heading{{status.name}}" data-bs-parent="#accordionExample">
        <div class="accordion-body" style="background-color: #f2f3f3;">
            <div class="inner-container" style="padding: 5px; margin: 0 auto; display: flex; flex-wrap: wrap">
                {% include 'supplier_dashboard/snippets/status_orders.html' %}
            </div>
        </div>
    </div>
</div>