{% if messages %}
{% for message in messages %}
<div _="on load wait 3s then transition opacity to 0.1 over 1 seconds then remove me" 
    {% if message.tags %}
    class="alert {% if message.level_tag == "error" %}alert-danger{% else %}alert-{{message.level_tag}}{% endif%} {% if message.extra_tags %} {{message.extra_tags}} {% endif%}alert-dismissible fade show" role="alert"{% endif%}>
    <strong>Alert:</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}