{% if messages %}
{% for message in messages %}
<div {% if message.tags %}
    hx-get="{% url 'supplier_messages_clear' %}" hx-trigger="load delay:3s" hx-swap="outerHTML"
    class="alert {% if message.level_tag == "error" %}alert-danger{% else %}alert-{{message.level_tag}}{% endif %} {% if message.extra_tags %} {{message.extra_tags}} {% endif%}alert-dismissible fade show" role="alert"{% endif%}>
    <strong>Alert:</strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}