{{ formset.management_form }}
<table id="{{ formset.prefix }}-formset" class="form table table-striped">
  {% for form in formset.forms %}
    {% if forloop.first %}
      <thead>
        <tr>
          {% for field in form.visible_fields %}
            <th>
              {{ field.label|capfirst }}{{ field.label_suffix }}
              {% if field.field.required %}* {% endif %}
              {% if field.help_text %}
                <br />
                <small id="{{ field.html_name }}Help" class="form-text text-muted">{{ field.help_text|safe }}</small>
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>
    {% endif %}
    <tr>
      {% for field in form.visible_fields %}
        <td>
          {% if forloop.first %}
            {% for hidden in form.hidden_fields %}
              {{ hidden }}
            {% endfor %}
          {% endif %}
          {{ field }}
          {% if field.errors %}
            <small class="text-danger">{{ field.errors|join:', ' }}</small>
          {% endif %}
        </td>
      {% endfor %}
      <small class="text-danger">{{ form.non_field_errors|join:', ' }}</small>
    </tr>
  {% endfor %}
  <small class="text-danger">{{ formset.non_form_errors|join:', ' }}</small>
</table>
