<h6 class="dropdown-header">alerts center</h6>
{% for update in updates %}
    {% if update.order_id %}
        <a class="dropdown-item d-flex align-items-center" href="{% url 'supplier_booking_chat' order_id=update.order_id %}">
            <div class="fw-bold">
                <div class="text-truncate">
                    <span>{{ update.message.body }}</span>
                </div>
                <p class="small text-gray-500 mb-0">{{ update.message.created_at|timesince }} ago</p>
            </div>
        </a>
    {% else %}
        <a class="dropdown-item d-flex align-items-center" href="{% url 'supplier_chat' conversation_id=update.conversation_id %}">
            <div class="fw-bold">
                <div class="text-truncate">
                    <span>{{ update.message.body }}</span>
                </div>
                <p class="small text-gray-500 mb-0">{{ update.message.created_at|timesince }} ago</p>
            </div>
        </a>
    {% endif %}
{% endfor %}

{% comment %} <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a> {% endcomment %}
{% include 'supplier_dashboard/snippets/nav_bar_messages_badge.html' %}
