{% load static %}
{% if hosted_invoice_url %}
    <a class="btn btn-outline-primary" href="{{ hosted_invoice_url }}" target="_blank">View Invoice <i class="fas fa-link"></i></a>
    {% if invoice_pdf %}
        <a class="btn btn-info" href="{{ invoice_pdf }}" target="_blank">Download Invoice pdf <i class="fas fa-download"></i></a>
    {% endif %}
{% elif is_lob %}
    {% if invoice_pdf %}
        <embed src="{{ invoice_pdf }}" width="100%" height="800px" />
    {% endif %}
    {% comment %} {% if thumbnails %}
        <div class="row">
            {% for thumbnail in thumbnails %}
                <div class="col-md-3">
                    <img class="img-fluid" alt="adobe, pdf, application" width="100" height="80" src="{{ thumbnail }}" />
                </div>
            {% endfor %}
        </div>
    {% endif %} {% endcomment %}
{% else %}
    <img class="img-fluid" alt="adobe, pdf, application" width="100" height="80" src="{% static 'supplier_dashboard/img/temp_pay_logo.png' %}" />
{% endif %}
