{% load static %}
{% if hosted_invoice_url %}
    <a class="btn btn-outline-primary" href="{{ hosted_invoice_url }}" target="_blank">View Invoice <i class="fas fa-link"></i></a>
    {% if invoice_pdf %}
        <a class="btn btn-info" href="{{ invoice_pdf }}" target="_blank">Download Invoice pdf <i class="fas fa-download"></i></a>
    {% endif %}
{% else %}
    <img class="img-fluid" alt="adobe, pdf, application" width="100" height="80" src="{% static 'supplier_dashboard/img/temp_pay_logo.png' %}" />
{% endif %}
