{% for order in status.orders %}
<!-- Displays an Order with a Bootstrap Card. Hyperscript adds a small opacity transition on load. -->
<div class="card 
    {% if order.status == "PENDING" %}border-danger {% elif order.status == "APPROVAL" %}border-danger
    {% else %}border-success{% endif %} mb-3"
    _=" on load transition my opacity to 1 over 0.{{forloop.counter}} seconds" style="opacity: .01;max-width: 18rem;">
    <div class="card-header">{{ order.order_type }} of
        {{ order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}
    </div>
    <div class="card-body text-dark">
        <h5 class="card-title">
            Booking Date: {{ order.end_date }}</h5>
        <p class="card-text">
            <span tabindex="0" data-toggle="tooltip" data-placement="top" title="current account balance">Booking
                Address:
                {{ order.order_group.user_address.formatted_address }}</span><br>
            <span>
                Time Window (Preferred):
                {% if order.order_group.time_slot %}
                {{ order.order_group.time_slot.name }}
                <br>
                {{ order.order_group.time_slot.start }}
                -
                {{ order.order_group.time_slot.end }}
                {% else %}
                Any
                {% endif %}
            </span><br>
        </p>
        <span id="accept-button-container">
            {% if order.status == "PENDING" %}
            <h5 class="card-title">Are you able to fulfill this booking?</h5>
            <!-- This button uses htmx to perform an AJAX post to set status of order, then swaps out button for returned html. -->
            <!-- On click show a confirmation popup using sweet alert. https://htmx.org/examples/confirm/ -->
            <button type="button" class="btn btn-primary" style="background-color:#018381;" id="accept-button"
                hx-post="{{order.seller_accept_order_url}}" hx-swap="innerHTML" hx-target="#accept-button-container"
                hx-indicator="#htmx-indicator" hx-trigger='confirmed' onClick="Swal.fire({title: 'Accept Booking', text:'You can fulfill this booking on the date and location listed.', icon: 'question', confirmButtonText: 'Confirm'}).then((result)=>{
                if(result.isConfirmed){
                htmx.trigger(this, 'confirmed');  
                } 
            })">
                Accept
            </button>
            {% comment %} <a href="{{order.seller_accept_order_url}}" class="btn btn-primary" target="_blank">Accept</a>
            {% endcomment %}
            {% else %}
            {% include 'supplier_dashboard/snippets/order_status.html' %}
            <!-- The commented out button would show the email order view. -->
            <!-- <a href="{{order.seller_view_order_url}}" class="btn btn-primary"
            target="_blank">View</a> -->
            {% endif %}
        </span>
        <span class="htmx-indicator" id="htmx-indicator">Loading...</span>
        <!-- https://github.com/SamHerbert/SVG-Loaders for svg spinners instead of blinking Loading... -->
        <!-- <img class="htmx-indicator" style="background-color:#018381" id="htmx-indicator"
            src="https://raw.githubusercontent.com/SamHerbert/SVG-Loaders/master/svg-loaders/oval.svg"> -->
    </div>
</div>
{% endfor %}