{% load static %}
<tbody id="booking-results" hx-disabled-elt=".status-card, button">
    {% for order in status.orders %}
    <tr id="order_row_{{forloop.counter}}">
        <td>{{order.end_date}}</td>
        <td>{{order.order_group.seller_product_seller_location.seller_product.product.main_product.name}}
        </td>
        <td>{{order.order_group.user_address.formatted_address}}</td>
        <td>{{order.order_type}}</td>
        <td class="order-status-td">{{order.status}}</td>
        {% if order.status == "PENDING" %}
        <td>
            <span id="accept-button-container">
                <!-- TODO: Look at using Bootstrap modal -->
                <!-- <button class="btn btn-success" type="button" data-bs-target="#modal-1"
                    data-bs-toggle="modal">Accept</button> -->
                <button type="button" class="btn btn-primary accept-button"
                    hx-post="{% url 'supplier_order_accept' order_id=order.id %}"
                    hx-vals='{"loopcount": "{{forloop.counter}}", "queryParams": "{{ request.GET.urlencode }}"}'
                    hx-swap="outerHTML" hx-target="#order_row_{{forloop.counter}}"
                    hx-indicator="#htmx-indicator{{forloop.counter}}" hx-trigger='confirmed' onClick="Swal.fire(
                        {title: 'Accept Booking', text:'You can fulfill this booking on the date and location listed.', icon: 'question', confirmButtonText: 'Confirm'}).then((result)=>{
                            if(result.isConfirmed){htmx.trigger(this, 'confirmed');}})">
                    Accept
                    <span class="htmx-indicator" id="htmx-indicator{{forloop.counter}}">
                        <img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars.svg' %}" />
                    </span>
                </button>
            </span>
        </td>
        {% elif order.is_past_due and order.status == "SCHEDULED" %}
        <td>
            <span id="accept-button-container">
                <button type="button" class="btn btn-primary complete-button"
                    hx-post="{% url 'supplier_order_complete' order_id=order.id %}"
                    hx-vals='{"loopcount": "{{forloop.counter}}", "queryParams": "{{ request.GET.urlencode }}"}'
                    hx-swap="outerHTML" hx-target="#order_row_{{forloop.counter}}"
                    hx-indicator="#htmx-indicator{{forloop.counter}}" hx-trigger='confirmed' onClick="Swal.fire(
                        {title: 'Complete Booking', text:'Has this booking been completed?', icon: 'question', confirmButtonText: 'Confirm'}).then((result)=>{
                            if(result.isConfirmed){htmx.trigger(this, 'confirmed');}})">
                            Complete
                    <span class="htmx-indicator" id="htmx-indicator{{forloop.counter}}">
                        <img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars.svg' %}" />
                    </span>
                </button>
            </span>
        </td>
        {% endif %}
        <td><a class="btn btn-light" role="button" href="{% url 'supplier_booking_detail' order_id=order.id %}"><i
                    class="far fa-eye"></i></a></td>
    </tr>
    {% endfor %}
</tbody>
<div class="row" id="bookings-pagination" hx-swap-oob="true">
    <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing {{ page_obj.number }} to {{ page_obj.paginator.per_page }} of {{ page_obj.paginator.count }}</p>
    </div>
    <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                    <a class="page-link" aria-label="Previous" href="{% url 'supplier_booking' %}?p={{ page_obj.previous_page_number }}"><span aria-hidden="true">«</span></a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="{% url 'supplier_booking' %}?p={{ page_obj.number|add:1 }}">{{ page_obj.number|add:1 }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'supplier_booking' %}?p={{ page_obj.number|add:2 }}">{{ page_obj.number|add:2 }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'supplier_booking' %}?p={{ page_obj.number|add:3 }}">{{ page_obj.number|add:3 }}</a>
                </li>
                <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                    <a class="page-link" aria-label="Next" href="{% url 'supplier_booking' %}?p={{ page_obj.next_page_number }}"><span aria-hidden="true">»</span></a>
                </li>
            </ul>
        </nav>
    </div>
</div>