{% load static %}
{% load tz %}
{% load humanize %}
{% if request.user.is_staff and help_text %}
    <p class="text-primary m-0 fw-bold" id="table-title" hx-swap-oob="true">{{ help_text }}</p>
{% endif %}
<table class="table table-hover my-0" id="user-results">
    <thead>
        <tr>
            {% if request.user.is_staff %}
                <th>Company</th>
            {% endif %}
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Associated Locations</th>
            <th>Created</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in page_obj %}
            {% if not user.is_staff and user.type != 'ADMIN' %}
            <tr>
            {% else %}
            <tr class="clickable-row" onclick="window.location.href='{% url 'supplier_user_detail' user_id=obj.user.id %}'">
            {% endif %}
                {% if request.user.is_staff %}
                    {% if obj.user.user_group %}
                        <td>{{ obj.user.user_group.name }}</td>
                    {% else %}
                        <td>Individual</td>
                    {% endif %}
                {% endif %}
                <td>
                    <div class="d-flex flex-row">
                        {% if obj.user.photo %}
                            <img class="border rounded-circle img-profile" style="height: 2rem; width: 2rem;" src="{{ obj.user.photo.url }}" />
                        {% else %}
                            <span class="border rounded-circle img-profile" style="height: 2rem; width: 2rem; display:flex; justify-content:center; align-items:center;"><i class="fas fa-user"></i></span>
                        {% endif %}
                        <div class="align-self-center ms-2">{{ obj.user.full_name }}</div>
                    </div>
                </td>
                <td>{{ obj.user.email }}</td>
                <td>{{ obj.user.type }}</td>
                <td class="text-center">{{ obj.meta.associated_locations }}</td>
                <td>{{ obj.user.date_joined|timezone:"America/Chicago" }} (CT)</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            {% if request.user.is_staff %}
                <th>Company</th>
            {% endif %}
            <th>Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Associated Locations</th>
            <th>Created</th>
        </tr>
    </tfoot>
</table>
<div class="row" id="users-pagination" hx-swap-oob="true">
    <div class="col-md-6 align-self-center">
        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
            Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
            <span class="htmx-indicator" id="htmx-indicator-loading-status"><img class="svg-loader" src="{% static 'supplier_dashboard/svg-loaders/bars-blue.svg' %}" /></span>
        </p>
    </div>
    <div class="col-md-6">
        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <a class="page-link pagi-link" href="{{ page_start_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">&laquo; first</a>
                    <a class="page-link pagi-link" href="{{ page_prev_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">«</a>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link pagi-link" href="{{ page_current_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">{{ page_obj.number }}</a>
                </li>
                {% if page_obj.has_next %}
                    <a class="page-link pagi-link" href="{{ page_next_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">»</a>
                    <a class="page-link pagi-link" href="{{ page_end_link }}" hx-boost="true" hx-push-url="true" hx-target="#user-results" hx-swap="outerHTML" hx-trigger="click" hx-indicator="#htmx-indicator-loading-status">last &raquo;</a>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
