<!DOCTYPE html>
<html>

<head>
    <title>An update about your Downstream Order</title>
</head>

<body>
    <h1>An update about your Downstream Order</h1>
    <p>The status of your order has changed.</p>
    <p><b>Previous Status:</b> {{ previous_status }}</p>
    <p><b>Current Status:</b> {{ new_status }}</p>
    <p>Here are some details about your order for reference:</p>
    <ul>
        <li><b>Order Address</b> {{ order.order_group.user_address.formatted_address }}</li>
        <li><b>Order Product</b>
            {{ order.order_group.seller_product_seller_location.seller_product.product.main_product.name }}</li>
        <li><b>Start Date</b> {{ order.start_date }}</li>
        {% if order.end_date %}
        <li><b>End Date</b> {{ order.end_date }}</li>
        {% endif %}
        <li><b>Order Type</b> {{ order.order_type }}</li>
    </ul>
    <p>You can view the details of your order by logging into your account.</p>
    <p>Thanks,</p>
    <p>Downstream</p>
</body>

</html>