<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App1 Index</title>
</head>
<body>
    <h1>All Available Invoices: </h1>
    <table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
        <thead>
            <tr>
                <th style="border: 1px solid black;">Supplier Invoice ID</th>
                <th style="border: 1px solid black;">Seller Location</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice_payable in invoice_payables_all %}
            <tr>
                <td style="border: 1px solid black;"><a href="{%url 'invoice_detail' invoice_payable.id%}">{{ invoice_payable.supplier_invoice_id }}</a></td> 
                <td style="border: 1px solid black;"><a href="{%url 'invoice_detail' invoice_payable.id%}">{{invoice_payable.seller_location}}</a> </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" style="border: 1px solid black;">no invoice_payable available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>