<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App1 Index</title>
</head>
<body>
    <h1>Welcome to invoice_detail Index Page</h1>
    <ul>
        {% for invoice_payable in invoice_payables_all %}
            <li><a href="{%url 'invoice_detail' invoice_payable.id%}">{{ invoice_payable.id }} - {{invoice_payable.seller_location}} </a></li>
        {% empty %}
            <li>no invoice_payable available.</li>
        {% endfor %}
    </ul>
</body>
</html>